.orderForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 60em;
    margin: 0 auto;

    h3 {
        text-align: center;
    }

    form {
        text-align: left;
        flex-grow: 2;
    }

    label {
        margin-bottom: -6px;
    }

    input {
        width: 100%;
        margin-bottom: 0.35em;
        border: 1px solid #666;
        border-radius: 5px;
        padding: 0.2em;
        display: block;
    }

    button {
        margin-top: 1em;
        width: 100%;
    }

    .outer_container {
	display: flex;
	flex-direction: row;
        justify-content: space-evenly;
        button {
            margin-top: 1em;
            width: 40%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .orderForm {
        flex-wrap: wrap;
    }
}
