<script src="./OrderForm.js"></script>
<style src="./OrderForm.scss" lang="scss" scoped></style>
<template>
  <div class="orderForm">
    <VendorContainer v-on:populateForm="populateForm"></VendorContainer>
    <div class="card card--dark card--blue orderform">
      <h3>Work Order</h3>
      <form v-on:submit="submitForm">
        <label>ONT Vendor</label>
        <input type="text" v-model="ont_vendor" required />
        <label>ONT Serial Number</label>
        <input type="text" v-model="ont_serial_number" required />
        <label>RGW MAC Address</label>
        <input type="text" v-model="rgw_mac" required />
        <div class="outer_container">
          <div class="label_container">
            <label>SVLAN</label>
            <input type="text" v-model="s_vlan" required />
          </div>
          <div class="label_container">
            <label>CVLAN</label>
            <input type="text" v-model="c_vlan" required />
          </div>
          <div class="label_container">
            <label>Remote ID</label>
            <input type="text" v-model="remote_id" required />
          </div>
        </div>
        <div class="outer_container">
          <div class="label_container">
            <label>Up Speed (Mb/s)</label>
            <input type="text" v-model="up_speed" required />
          </div>
          <div class="label_container">
            <label>Down Speed (Mb/s)</label>
            <input type="text" v-model="down_speed" required />
          </div>
          <div class="label_container">
            <label>Neighborhood</label>
            <input type="number" max="9" min="1" v-model="nhood" required />
          </div>
        </div>
        <div class="outer_container">
          <button class="button button--primary">Order</button>
          <button type="button" class="button button--secondary" v-on:click="clearLocalStorage()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>
