//
// Global Variables
// --------------------------------------------------

// Path prefixes for SDX assets
$font-path: '../fonts/' !default;
$image-path: '../images/' !default;

// Animation
$standard-easing: cubic-bezier(.4, 0, .2, 1);
$button-easing: cubic-bezier(.4, 0, .6, 1);

// Z-Indexes

$zindex-form:               100;
$zindex-form-select:        500;

$zindex-footer:             20000;

$zindex-navigation:         50000;
$zindex-menu:               60000;

$zindex-empty-state:        700000;
$zindex-notification:       800000;
$zindex-modal:              900000;

$zindex-topmost:            999999;
