//
// Size Variables
// --------------------------------------------------

// Baseline
$baseline:   8px !default;

// Spaces
$baseline-2: 2 * $baseline !default; // 16px
$baseline-3: 3 * $baseline !default; // 24px
$baseline-4: 4 * $baseline !default; // 32px
$baseline-5: 5 * $baseline !default; // 40px
$baseline-6: 6 * $baseline !default; // 48px


// Generic sizes
// --------------------------------------------------

$border-width: 1px !default;
$border-radius: 5px !default;

$indicator-size: 14px !default;
$indicator-spacing: 16px !default;

// Button sizes
// --------------------------------------------------

$button-margin-horizontal: 12px !default;
$button-margin-vertical: 16px !default;

$button-border-width: 1px !default;
$button-border-radius: 5px !default;

$button-padding-horizontal: 24px !default;
$button-padding-vertical: 12px !default;


// Form sizes
// --------------------------------------------------

$form-input-height: 48px !default;
$form-input-icon-margin: 4px !default;

// Select sizes
// -------------------------

$select-height: 48px !default;
$select-outer-margin: 24px !default;
$select-inner-margin: 16px !default;

// Checkbox sizes
// -------------------------

$checkbox-size: 22px !default;
$checkbox-active-size: 18px !default;

// Radio sizes
// -------------------------

$radio-size: 22px !default;
$radio-active-size: 10px !default;


// Switch sizes
// -------------------------

$switch-width: 58px !default;
$switch-height: 28px !default;
$switch-border: 2px !default;
$switch-off-bar-height: 4px !default;
$switch-margin-right: 20px !default;


// Card sizes
// --------------------------------------------------

$card-grid-columns: 8 !default;
$card-grid-gutter: 8px !default;

$card-border: 3px !default;
$card-image-height: 168px !default;
$card-image-news-height: 180px !default;


// Menu sizes
// --------------------------------------------------

$menu-context-height: 73px !default;


// Loader sizes
// --------------------------------------------------

$loader-spinner-large: 50px !default;
$loader-spinner-small: 25px !default;


// Carousel sizes
// --------------------------------------------------

$carousel-bullet-size: 16px !default;
$carousel-button-large: 60px !default;
$carousel-button-small: 24px !default;


// Navigation sizes
// --------------------------------------------------

$navigation-margin-width: 24px !default;
$navigation-level0-height: 40px !default;
$navigation-level1-height: 80px !default;

$navigation-breadcrumb-full-height: 104px;
$navigation-breadcrumb-small-height: 48px;

// Side Navigation sizes
// -------------------------

$navigation-side-width: 272px !default;
$navigation-side-mobile-width: 250px !default;


// Search sizes
// --------------------------------------------------

$search-height: 80px !default;
$search-box-margin: 14px !default;
$search-icon-size: 30px !default;
$search-clear-size: 20px !default;


// Footer sizes
// --------------------------------------------------

$footer-compact-height: 80px !default;

// Chart sizes
// --------------------------------------------------

$chart-bar-thickness: 8px;
$chart-bar-min-width: 272px;


// Tabs sizes
// --------------------------------------------------

$tabs-spacing-small: 5px;
$tabs-spacing-normal: 6px;
$tabs-spacing-big: 8px;

$tabs-padding-short: 10px;
$tabs-padding-long: 20px;

$tabs-border: 1px;
$tabs-bar-active: 4px;


// Modal sizes
// --------------------------------------------------

$modal-spacing-height: 80px;
$modal-margin: 24px;
$modal-margin-desktop: 32px;
