//
// Typography Variables
// --------------------------------------------------

// Fonts
$font-family-sans: 'TheSans', sans-serif !default;
$font-family-serif: 'TheSerif', serif !default;

$font-family-sdx: sdx-icons !default;

$font-weight-light: 300;
$font-weight-semi-light: 400;
$font-weight-semi-bold: 600;
