//
// Links
// --------------------------------------------------

/*doc
---
title: Text Links
name: 02-components-02-text-links
category: Components - Text Links
---

In page text links are supported on both the `<a>` and `<button>` tag by applying the `link` class to the element.

```html_example
<p>This is some description text above the text link</p>
<a class="link" href="#">Text link</a>
<button class="link" href="#">Text link</button>
```

Text links can be used in text paragraphs.

```html_example
<p>This is a <a class="link" href="#">link</a> in a inline text paragraph.</p>
<p class="text-b2">This is a <a class="link" href="#">link</a> in a inline text paragraph.</p>
<p class="text-sm">This is a <a class="link" href="#">link</a> in a inline text paragraph.</p>
```

The link component automatically adjusts it's styling if it's used in conjunction with the dark background.

```html_example
<div class="bg bg--dark">
  <p>This is some description text above the text link</p>
  <a class="link" href="#">Text link</a>
  <button class="link" href="#">Text link</button>
</div>
```
*/


// --------------------------------------------------


// Link Normal
// --------------------------------------------------

a,
a.link,
button.link {
  position: relative;

  transition:
    border-bottom 200ms $button-easing,
    color 200ms $button-easing;

  outline: none;

  border-bottom: 1px solid transparent;

  cursor: pointer;
  text-decoration: none;

  color: $color-link;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-link--active;
    color: $color-link--active;
  }

  & + a,
  & + a.link,
  & + button.link {
    margin-left: 24px;
  }
}

p {
  a,
  a.link,
  button.link {
    & + a,
    & + a.link,
    & + button.link {
      margin-left: 0;
    }
  }
}


// Link Dark
// --------------------------------------------------

.link--dark,
%link--dark {
  border-bottom: 1px solid $color-link-dark;
  color: $color-link-dark;

  &:hover,
  &:focus {
    border-bottom: 1px solid $color-link-dark--active;
    color: $color-link-dark--active;
  }
}


// Dark Background
// -------------------------

.bg--dark {
  a,
  a.link,
  button.link {
    @extend %link--dark;
  }
}
