//
// Full progress bar
// --------------------------------------------------

/*doc
---
title: Full progress bar
name: 02-components-25-progress-10-barfull
category: Components - Full progress bar
---

The full progress bar displays a circle for each entry in the `progress-full__sections` `div`.
To specify the current item make sure to add the class `section--active` to the item.


To ensure that the progress bar component functions properly make sure to either add the `data-init="auto"` attribute,
or to manually initialize the `ProgressFull` component on the element.

```html_example
<div class="progress-full" data-init="auto" tabindex="0">
  <div class="progress-full__bar"></div>
  <div class="progress-full__sections">
    <span>Introduction</span>
    <span>Settings</span>
    <span>Customization</span>
    <span class="section--active">Connection</span>
    <span>Security</span>
    <span>Payment</span>
    <span>Confirmation</span>
  </div>
</div>
```

#### On dark background

If the progress full component is embedded in a dark background it automatically adjusts its styling accoordingly.

```html_example
<div class="bg bg--dark">
  <div class="progress-full" data-init="auto">
    <div class="progress-full__bar"></div>
    <div class="progress-full__sections">
      <span>One</span>
      <span class="section--active">Two</span>
      <span>Three</span>
      <span>Four</span>
    </div>
  </div>
</div>
```
*/


// --------------------------------------------------


// Mixins
// --------------------------------------------------

@mixin progress-full-completed {
  color: $color-white;
  border-color: $color-int-green;
  background-color: $color-int-green;

  &:hover {
    color: $color-white;
    border-color: $color-int-green--active;
    background-color: $color-int-green--active;
  }
}

@mixin progress-full-current {
  color: $color-white;
  border-color: $color-blue;
  background-color: $color-blue;

  &:hover {
    color: $color-white;
    border-color: $color-int-blue--active;
    background-color: $color-int-blue--active;
  }
}

// --------------------------------------------------


// Progress-Full wrapper
// -------------------------

.progress-full {
  @include font-smoothing;

  position: relative;
  width: 100%;

  margin: 24px 0;

  text-align: center;

  overflow: hidden;

  @include bp-tablet {
    margin: 32px 0;
  }

  &__bar {
    outline: none;

    .indicator {
      @include font-semi-light;

      width: 24px;
      height: 24px;

      border: 1px solid $color-blue;
      border-radius: 100%;

      color: $color-blue;
      background-color: transparent;

      line-height: 1;
      letter-spacing: normal;
      font-size: 14px;
      text-align: center;

      transition: all 150ms ease-in-out;

      cursor: pointer;

      + .indicator {
        margin-left: 16px;

        @include bp-tablet {
          margin-left: 24px;
        }
      }

      &:hover {
        color: $color-int-blue--active;
        border-color: $color-int-blue--active;
      }

      &--completed {
        @include progress-full-completed;
      }

      &--current {
        @include progress-full-current;
      }
    }
  }

  &__sections {
    @include font-semi-light;

    position: relative;
    width: 100%;
    height: 18px;

    margin-top: 11px;

    line-height: 1;
    letter-spacing: -.35px;
    font-size: 16px;

    color: $color-gray-mid;

    span {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      visibility: hidden;
    }

    .section--active {
      visibility: visible;
    }
  }
}

// Dark Background
// -------------------------
.bg--dark {
  .progress-full {
    &__bar .indicator {
      color: $color-white;
      border-color: $color-white;

      &:hover {
        color: $color-int-blue;
        border-color: $color-int-blue;
      }

      &--completed {
        @include progress-full-completed;
      }

      &--current {
        @include progress-full-current;
      }
    }

    &__sections {
      color: $color-white;
    }
  }
}
