//
// Light progress bar
// --------------------------------------------------

/*doc
---
title: Light progress bar
name: 02-components-24-progress-01-barlight
category: Components - Light progress bar
---

The progress bar `total` value can be set in a range from `[1..7]`. The progress steps are evenly
spaced on the total width of the progress bar and are automatically updated if the total value
is changed on the component.

The progress value can be manipulated using the arrows on the left and right of the progress bar.

To ensure that the progress bar component functions properly make sure to either add the `data-init="auto"` attribute,
or to manually initialize the `ProgressLight` component on the element.

Use the slider below to change the total value of the progress bar.

<div class="range range--light">
  <input type="range" id="progress12837total" min="1" max="7" value="3" step="1" tabindex="3" formatter="stepsFormatter"/>
  <output for="progress12837total">0</output>
</div>

```html_example
<div class="progress-light" id="progress12837" value="1" total="3">
  <button class="arrow arrow--left" tabindex="1">
    <i class="icon icon-014-chevron-left" aria-hidden="true"></i>
  </button>
  <button class="arrow arrow--right">
    <i class="icon icon-015-chevron-right" aria-hidden="true" tabindex="2"></i>
  </button>
  <div class="progress-light__detail">
    <span class="detail__currentpage">1</span>
    <span class="detail__of"> of </span>
    <span class="detail__totalpage">3</span>
  </div>
  <div class="progress-light__bar">
    <div class="bar__progress"></div>
  </div>
</div>
```

<script>
function stepsFormatter(value, short) {
  if (short) {
    return value.toString();
  } else {
    if (value === 1) {
      return "1 step";
    }

    return value + " steps";
  }
}

document.addEventListener("DOMContentLoaded", function(event) {
  var totalRange = new sdx.Range(document.querySelector("#progress12837total"));
  var progressElement = new sdx.ProgressLight(document.querySelector("#progress12837"));

  totalRange.addEventListener("input", function(component) {
    progressElement.total = totalRange.value;
  });
});

</script>


#### On dark background

If the progress light component is embedded in a dark background it automatically adjusts its styling accoordingly.

```html_example
<div class="bg bg--dark">
  <div class="progress-light" id="progress12837" value="3" total="7" data-init="auto">
    <button class="arrow arrow--left">
      <i class="icon icon-014-chevron-left" aria-hidden="true"></i>
    </button>
    <button class="arrow arrow--right">
      <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
    </button>
    <div class="progress-light__detail">
      <span class="detail__currentpage">3</span>
      <span class="detail__of"> of </span>
      <span class="detail__totalpage">7</span>
    </div>
    <div class="progress-light__bar">
      <div class="bar__progress"></div>
    </div>
  </div>
</div>
```
*/


// --------------------------------------------------

$bar-height: 9px;
$bar-margin: 18px;

// --------------------------------------------------


// Progress-Light wrapper
// -------------------------

.progress-light {
  position: relative;

  margin: 24px 0;

  width: 100%;

  @include bp-tablet {
    margin: 32px 0;
  }

  .arrow {
    position: absolute;
    top: 16px;

    width: 24px;
    height: 24px;

    @include bp-tablet {
      top: 22px;
    }

    .icon {
      line-height: 24px;

      font-size: 17px;
      font-weight: bold;

      pointer-events: none;
      color: $color-int-blue;

      outline: none;
    }

    &:hover .icon {
      color: $color-int-blue--active;
    }

    &--disabled {
      .icon {
        color: $color-int-gray;
      }

      &:hover .icon {
        color: $color-int-gray--active;
      }
    }

    &--left {
      left: -8px;
    }

    &--right {
      right: -8px;
    }
  }

  &__detail {
    @include typo-body-2;
    @include font-semi-light;

    display: block;
    color: $color-gray-mid;

    margin: 0 $bar-margin 7px;

    line-height: 1;

    @include bp-tablet {
      margin: 0 $bar-margin 13px;
    }
  }

  &__bar {
    position: relative;

    background-color: $color-loader-bar-bg;
    height: $bar-height;

    margin: 0 $bar-margin 10px;

    overflow: hidden;
    border-radius: $bar-height;

    @include bp-tablet {
      margin: 0 $bar-margin;
    }

    .bar {
      &__progress {
        background-color: $color-int-blue;
        height: $bar-height;
        width: 0;

        &--complete {
          background-color: $color-int-green;
        }
      }

      &__tick {
        position: absolute;

        &::before {
          position: absolute;
          top: 0;
          background: $color-black;
          opacity: .5;

          width: 1px;
          height: $bar-height;

          content: '';
        }
      }
    }
  }
}

// Dark Background
// -------------------------

.bg--dark {
  .progress-light {
    &__detail {
      color: $color-white;
    }

    &__bar {
      background-color: $color-white;
    }
  }
}
