//
// Collapse
// --------------------------------------------------

/*doc
---
title: Collapse Element
name: 03-patterns-01-accordion-01-collapse
category: Patterns - Accordion
---

The SDX collapse allows you to toggle content on your pages with a few classes thanks to some helpful JavaScript.

You can use a link, a button or any element with the data-target attribute. In all cases, the data-toggle="collapse" is required.

```html_example
<div data-init="auto" data-toggle="collapse" data-target="#collapse-1">
  <h4>Click to expand/collapse</h4>
</div>
<div class="collapse" id="collapse-1">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
```
*/

.collapse {
  display: none;

  position: relative;
  height: 0;

  overflow: hidden;

  &.is-open {
    display: block;
    height: auto;
  }
}

// Collapse style for Tables
// -------------------------

tr {
  &.collapse.is-open {
    display: table-row;
  }
}

tbody {
  &.collapse.is-open {
    display: table-row-group;
  }
}
