//
// Radio Buttons
// --------------------------------------------------

/*doc
---
title: Radio Buttons
name: 02-components-04-form-30-radiobuttons
category: Components - Radio Buttons
---

Use of the radio button element.

```html_example
<form>
  <div class="radio">
    <input type='radio' name='dummy' id='radio1-1'>
    <label for='radio1-1'>
      Option 1<br/>
      MuliLine Option 3/4<br/>
      (CHF 9.00/month)
    </label>
  </div>
  <div class="radio">
    <input type='radio' name='dummy' id='radio1-2'>
    <label for='radio1-2'>Option 2</label>
  </div>
</form>
```

### Disabled States

```html_example
<form>
  <div class="radio">
    <input type='radio' name='dummy' id='radio2-1' disabled>
    <label for='radio2-1'>Option 1</label>
  </div>
  <div class="radio">
    <input type='radio' name='dummy' id='radio2-2' checked disabled>
    <label for='radio2-2'>Option 2</label>
  </div>
</form>
```

### Vertical distance between radio buttons

Add the class `add-space` to the `div` element to increase the vertical distance between radio buttons.

```html_example
<form>
  <div class="radio">
    <input type='radio' name='dummy' id='radio4-1'>
    <label for='radio4-1'>Option 1</label>
  </div>
  <div class="radio add-space">
    <input type='radio' name='dummy' id='radio4-2'>
    <label for='radio4-2'>Option 2</label>
  </div>
  <div class="radio">
    <input type='radio' name='dummy' id='radio4-3' checked>
    <label for='radio4-3'>Option 3</label>
  </div>
  <div class="radio">
    <input type='radio' name='dummy' id='radio4-4'>
    <label for='radio4-4'>Option 4</label>
  </div>
</form>
```

### Inline radio buttons

Add the class `form-inline` to a wrapper `div` element to set the checkboxes to inline.

```html_example
<form>
  <div class="form-inline">
    <div class="radio">
      <input type='radio' name='dummy' id='radio5-1'>
      <label for='radio5-1'>Option 1</label>
    </div>
    <div class="radio">
      <input type='radio' name='dummy' id='radio5-2'>
      <label for='radio5-2'>Option 2</label>
    </div>
  </div>
</form>
```

## Grouping radio buttons

### Radio button group

```html_example
<form>
  <div class="form-group" role="radiogroup">
    <label>Radio group</label>
    <div class="radio">
      <input type='radio' name='dummy' id='radio6-1'>
      <label for='radio6-1'>Option 1</label>
    </div>
    <div class="radio">
      <input type='radio' name='dummy' id='radio6-2'>
      <label for='radio6-2'>Option 2</label>
    </div>
  </div>
</form>
```

### Inline (Horizontal) radio button group

```html_example
<form>
  <div class="form-group form-inline" role="radiogroup">
    <label>Radio group</label>
    <div class="radio">
      <input type='radio' name='dummy' id='radio7-1'>
      <label for='radio7-1'>Option 1</label>
    </div>
    <div class="radio">
      <input type='radio' name='dummy' id='radio7-2'>
      <label for='radio7-2'>Option 2</label>
    </div>
  </div>
</form>
```

## Validate radio buttons

```html_example
<form>
  <div class="form-group form-inline validate invalid" role="radiogroup">
    <label>Radio group</label>
    <div class="radio">
      <input type='radio' name='dummy' id='radio8-1'>
      <label for='radio8-1'>Option 1</label>
    </div>
    <div class="radio">
      <input type='radio' name='dummy' id='radio8-2'>
      <label for='radio8-2'>Option 2</label>
    </div>
    <div class="message">
      <i class="icon icon-026-exclamation-mark-circle" aria-hidden="true"></i>
      Error Message
    </div>
  </div>
</form>
```
*/


// --------------------------------------------------


// Mixins
// -------------------------

@mixin radio-hover($scale, $color) {
  &::before {
    border: 2px solid $color;
  }

  &::after {
    transform: scale($scale);
    background-color: $color;
  }
}

@mixin radio-focus($color: $color-radio-fill) {
  &::before {
    border: 2px solid $color;
  }

  &::after {
    background-color: $color;
  }
}

// Radio wrapper styles
// -------------------------

.radio {
  + .radio {
    margin-top: 14px;
  }

  &.add-space {
    margin-bottom: 24px;
  }

  p {
    @include font-semi-light;
    @include typo-body-2;

    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 36px;

    color: $color-checkbox-supporting;
  }

  // Remove default Radio Buttons
  // -------------------------

  [type='radio']:not(:checked),
  [type='radio']:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  // Radio Button styles
  // -------------------------

  [type='radio'] {
    // Base styles
    // -------------------------

    + label {
      @include font-semi-light;
      @include typo-body-2;

      @include default-font-smoothing;

      display: inline-block;
      position: relative;

      cursor: pointer;

      margin-bottom: 0;
      padding-left: 36px;

      color: $color-radio-label;

      user-select: none;
      backface-visibility: hidden;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;

        z-index: 0;
        margin-top: 1px;

        border-radius: 50%;

        content: '';
      }

      &::before {
        transition: all 120ms cubic-bezier(.785, .135, .15, .86);

        width: $radio-size;
        height: $radio-size;
      }

      &::after {
        top: ($radio-size - $radio-active-size) / 2;
        left: ($radio-size - $radio-active-size) / 2;

        transition: all 120ms cubic-bezier(.785, .135, .15, .86);
        transform-origin: 50% 50%;

        width: $radio-active-size;
        height: $radio-active-size;
      }
    }

    &:not(:checked) + label {
      @include radio-hover(0, $color-radio-empty);
    }

    // Hover styles
    // -------------------------

    &:hover + label {
      @include radio-hover(.5, $color-radio-fill);
    }

    // Focus styles
    // -------------------------

    &:focus + label {
      @include radio-focus;
    }

    // Checked styles
    // -------------------------

    &:checked + label {
      @include radio-hover(1, $color-radio-empty);
    }

    &:checked:hover + label {
      @include radio-hover(1, $color-radio-fill);
    }

    &:checked:focus + label {
      @include radio-focus;
    }

    // Disabled styles
    // -------------------------

    &:disabled + label {
      opacity: .4;

      pointer-events: none;

      &::before {
        border-color: $color-radio-empty;
        background-color: transparent;
      }
    }

    &:disabled:hover + label {
      &::before {
        border: 2px solid $color-radio-empty;
      }

      &::after {
        background: none;
      }
    }

    &:disabled:checked + label {
      &::before {
        border: 2px solid $color-radio-empty;
      }

      &::after {
        background-color: $color-radio-empty;
      }
    }

    &:disabled:not(:checked) + label::before {
      border-color: $color-radio-empty;
    }
  }

  // Radiobutton only style no label
  // --------------------------------------------------

  &--only {
    [type='radio'] + label {
      padding-left: $radio-size;
    }
  }
}

// Radio Form styles
// --------------------------------------------------

// Inline styles
// -------------------------

.form-inline {
  .radio {
    display: inline-block;
    vertical-align: top;

    + .radio {
      margin-top: 0;
      margin-left: 14px;
    }
  }
}

// Group styles
// -------------------------

.form-group {
  label,
  .label {
    display: block;

    margin-bottom: 8px;
  }

  // Validation Message
  // -------------------------

  .message {
    max-height: 0;
    margin-top: 0;

    opacity: 0;

    transition: 150ms all $standard-easing;

    z-index: 10;
  }

  // Invalid Input Style
  // -------------------------

  &.invalid {
    > .message {
      max-height: 50px;
      margin-top: 6px;

      opacity: 1;

      color: $color-input-invalid-text;
    }
  }
}
