//
// Select
// --------------------------------------------------

/*doc
---
title: Menus (dropdown)
name: 02-components-13-select-40-overview
category: Components - Menus (dropdown)
---

The select field allows user input through specified options. For the `select` component to be dispalyed properly
make sure to either set the attribute `data-init="auto"` on the component, or to initialize it using the JavaScript API.

#### Interactive sample
An interactive test page for the Select dropdown is available at [samples/select](/samples/select.html).
It demonstrates how to use some javascript API calls like reload.



```html_example
<form>
  <div class="select">
    <label for="select-1-1">User Name</label>
    <select id="select-1-1" data-init="auto" tabindex="1">
      <option value="" disabled selected>Choose your option 1</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3" disabled>Option disabled</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
    </select>
  </div>
  <div class="select">
    <label for="select-1-2">User Name</label>
    <select id="select-1-2" data-init="auto" tabindex="1">
      <option value="" disabled selected>Choose your option 2</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
  </div>
</form>
```

### Disabled state

```html_example
<div class="select">
  <label for="select-2">User Name</label>
  <select id="select-2" data-init="auto" disabled>
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
</div>
```

### Validate

```html_example
<div class="select validate invalid">
  <label for="select-3">User Name</label>
  <select id="select-3" data-init="auto">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <div class="message">
    <i class="icon icon-026-exclamation-mark-circle" aria-hidden="true"></i>
    Error Message
  </div>
</div>
```

### Sample usage

```html_example
<div class="select">
  <select id="select-master">
    <option value="" disabled selected>Select state</option>
    <option value="false">Enabled</option>
    <option value="true">Disabled</option>
  </select>
</div>
<div class="select">
  <select id="select-slave">
    <option value="" disabled selected>Choose your option 4</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var master = new sdx.Select(document.querySelector("#select-master"));
  var slave = new sdx.Select(document.querySelector("#select-slave"));

  master.addEventListener("change", function(component) {
    slave.disabled = master.value === "true";
  });
});
</script>
```
*/


/*doc
---
title: Dropdown Minimal dropdowns
name: 02-components-13-select-41-minimal
category: Components - Menus (dropdown)
---

The select field is also available in a minimal version. Minimal dropdowns can be used when dropdowns require less emphasis and need to be less visually dominant.

```html_example
<div class="select">
  <select class="select--minimal" data-init="auto">
    <option value="" disabled selected>Choose your option 5</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3" disabled>Option disabled</option>
    <option value="4">Option 4</option>
    <option value="5">Option 5</option>
  </select>
</div>
```

### Disabled state

```html_example
<div class="select">
  <select class="select--minimal" data-init="auto" disabled>
    <option value="" disabled selected>Choose your option 6</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
</div>
```
*/

/*doc
---
title: Dropdown grouping
name: 02-components-13-select-42-grouping
category: Components - Menus (dropdown)
---

The select field also supports grouping of the selection items by enclosing them in `<optgroup>` tags.

```html_example
<div class="select">
  <select data-init="auto">
    <option value="" disabled selected>Choose a car</option>
    <optgroup label="Swedish Cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
    </optgroup>
    <optgroup label="German Cars">
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </optgroup>
  </select>
</div>
```
*/

/*doc
---
title: Multiple selection
name: 02-components-13-select-43-multiple
category: Components - Menus (dropdown)
---

To enable multiple selection add the attribute `multiple` to the element.
Make sure to set a maximum width or width on the grouped select element to make sure it
does not grow indefinetively.

```html_example
<div class="select" style="width: 100%">
  <select data-init="auto" multiple>
    <option value="" disabled selected>Choose multiple cars</option>
    <optgroup label="Swedish Cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
    </optgroup>
    <optgroup label="German Cars">
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </optgroup>
  </select>
</div>
```
*/

// --------------------------------------------------


// Select wrapper styles
// -------------------------

.select {
  @include typo-body-1;

  position: relative;

  margin-bottom: $select-inner-margin;

  outline: none;
  cursor: pointer;

  z-index: $zindex-form-select;

  color: $color-gray;

  user-select: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  select {
    display: none;
  }

  // Button styles
  // -------------------------

  .select__button {
    position: relative;

    width: 100%;
    height: $select-height;

    &:hover {
      .select__thumb {
        background: $color-int-blue;
        color: $color-white;

        .thumb-icon {
          @include arrow-flat($color-white);
        }
      }
    }
  }

  // Thumb styles
  // -------------------------

  .select__thumb {
    position: absolute;
    top: 0;
    right: 0;

    transition: all 200ms $standard-easing;
    z-index: $zindex-form-select + 1;

    border-radius: 0 $border-radius $border-radius 0;

    cursor: inherit;

    width: 34px;
    height: inherit;

    color: $color-int-blue;

    transform-origin: 50% 50%;

    .thumb-icon {
      @include arrow-flat($color-int-blue);

      display: flex;

      transform: scale(.5);

      margin: 0;

      width: 100%;
      height: 100%;

      pointer-events: none;

      align-items: center;
      justify-content: center;
      transform-origin: 50% 50%;
    }
  }

  // Placeholder styles
  // -------------------------

  .select__placeholder {
    @include text-truncate;

    display: block;
    position: relative;

    border: $border-width solid $color-gray-20;
    border-radius: $border-radius;

    cursor: inherit;

    padding: 12px 55px 12px 15px;

    width: 100%;
    height: inherit;

    -webkit-appearance: none;
  }

  // Dropdown styles
  // -------------------------

  .select__dropdown {
    position: absolute;
    right: 0;
    left: 0;

    margin-bottom: 20px;

    transform: scale(1, 1);
    transform-origin: 50% 0;
    transition: all 200ms $standard-easing;

    opacity: 1;
    z-index: $zindex-form-select + 1;

    border-radius: 0 0 $border-radius $border-radius;

    box-shadow: 0 0 4px 0 rgba($color-gray, .1);

    background: $color-white;

    width: 100%;
    height: auto;

    max-height: 0;
    overflow: hidden;

    color: $color-gray;

    .dropdown-item {
      @include text-truncate;

      position: relative;

      transition: all 200ms $standard-easing;

      border: $border-width solid $color-gray-20;
      border-top: 0;

      padding: 12px 15px 15px;

      width: 100%;
      height: $select-height;

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
      }

      // Hover styles
      // -------------------------

      &:hover,
      &--focused {
        border-color: $color-int-blue;
        background: $color-int-blue;
        color: $color-white;
      }

      &--selected {
        color: $color-int-green;

        &::before {
          float: right;

          margin-right: -7px;

          font-family: sdx-icons;
          font-size: 16px;

          content: icon-char('011-check-mark');
        }
      }

      // Disabled style
      // -------------------------

      &--disabled {
        &,
        &:hover {
          border-color: $color-gray-20;
          background: none;

          cursor: not-allowed;
          color: rgba($color-gray, .4);
        }
      }
    }
  }

  // Validation Message
  // -------------------------

  .message {
    max-height: 0;
    margin-top: 0;

    opacity: 0;

    transition: 150ms all $standard-easing;

    z-index: 10;
  }

  // Invalid Input Style
  // -------------------------

  &.invalid {
    > .message {
      max-height: 50px;
      margin-top: 6px;

      opacity: 1;

      color: $color-input-invalid-text;
    }
  }

  // Group item style
  // -------------------------

  .dropdown-group {
    &__item {
      @include text-truncate;

      position: relative;

      transition: all 200ms $standard-easing;

      border: $border-width solid $color-gray-20;
      border-top: 0;

      padding: 12px 15px 15px;

      width: 100%;
      height: $select-height;

      background-color: $color-horizon;
      color: $color-gray-mid;

      pointer-events: none;

      &:hover {
        cursor: default;
      }
    }

    .dropdown-item:last-child {
      border-radius: 0;
    }

    &:last-child .dropdown-item:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  // Closed style
  // -------------------------

  &--closed {
    .select__thumb {
      .thumb-icon {
        @include arrow-flat--down;
      }
    }

    .select__dropdown {
      // animate the closing of the list
      transform: scale(1, 0);
      opacity: .2;
    }
  }

  // Open style
  // -------------------------

  &--open {
    z-index: $zindex-topmost;

    .select__thumb {
      border-radius: 0 $border-radius 0 0;

      .thumb-icon {
        @include arrow-flat--up;
      }
    }

    .select__placeholder {
      border-radius: $border-radius $border-radius 0 0;
      box-shadow: 0 0 4px 0 rgba($color-gray, .1);

      color: $color-int-blue;
    }

    .select__dropdown {
      max-height: 512px;
      overflow-y: auto;
    }
  }

  // Disabled style
  // -------------------------

  &--disabled {
    opacity: .4;
    cursor: not-allowed;

    .select__button:hover {
      .select__thumb {
        background: none;
        color: $color-int-blue;

        .thumb-icon {
          @include arrow-flat($color-int-blue);
        }
      }
    }
  }
}


// Light styles
// --------------------------------------------------

.select--minimal {

  // Button styles
  // -------------------------

  .select__button:hover {
    .select__thumb {
      background: none;
      color: $color-int-blue--active;

      .thumb-icon {
        @include arrow-flat($color-int-blue--active);
      }
    }
  }

  // Placeholder styles
  // -------------------------

  .select__placeholder {
    border: 0;
    border-bottom: 1px solid $color-gray-20;
    border-radius: 0;
    box-shadow: none;

    color: #333;
  }

  // Dropdown styles
  // -------------------------

  .select__dropdown {
    border: 0;
    border-radius: 0;

    box-shadow: 0 0 4px 0 rgba($color-gray, .15);

    .dropdown-item {
      border: 0;
      border-bottom: 1px solid $color-gray-20;
      border-radius: 0;

      &:last-child {
        border-bottom: 0;
        border-radius: 0;
      }
    }
  }

  // Open style
  // -------------------------

  &.select--open {
    .select__placeholder {
      border-color: transparent;
    }
  }
}


// --------------------------------------------------


// Fallback styling (as good as it gets)
// -------------------------

select {
  display: block;
  position: relative;

  border: $border-width solid $color-gray-20;
  border-radius: $border-radius;

  background: $color-white;

  cursor: pointer;

  padding: 12px 55px 12px 15px;

  width: auto;
  height: $select-height;

  color: $color-gray;
  -webkit-appearance: none;
}
