//
// Switches
// --------------------------------------------------

/*doc
---
title: Switches
name: 02-components-17-switches-01-styles
category: Components - Switches
---

Use the following switch as a simple on/off toggle switch.

```html_example
<div class="switch">
  <input type='checkbox' name='switch01' id='switch-01'>
  <label for='switch-01'></label>
  <p>Switch with supporting text</p>
</div>
<div class="switch">
  <input type='checkbox' name='switch02' id='switch-02' checked>
  <label for='switch-02'></label>
  <p>Switch with supporting text</p>
</div>
<div class="switch">
  <input type='checkbox' name='switch03' id='switch-03' disabled>
  <label for='switch-03'></label>
  <p>Disabled switch with supporting text</p>
</div>
<div class="switch">
  <input type='checkbox' name='switch04' id='switch-04' checked disabled>
  <label for='switch-04'></label>
  <p>Disabled switch with supporting text</p>
</div>
```
*/

/*doc
---
title: Switch on dark backgrounds
name: 02-components-17-switches-02-dark
category: Components - Switches
---

Switches are also available on dark backgrounds, just annotate the parent background element
with the `.bg--dark` class and the switches will automatically adjust their styling accoordingly.

```html_example
<div class="bg bg--dark">
  <div class="switch">
    <input type='checkbox' name='switch01' id='switch-11'>
    <label for='switch-11'></label>
    <p>Switch with supporting text</p>
  </div>
  <div class="switch">
    <input type='checkbox' name='switch02' id='switch-12' checked>
    <label for='switch-12'></label>
    <p>Switch with supporting text</p>
  </div>
  <div class="switch">
    <input type='checkbox' name='switch03' id='switch-13' disabled>
    <label for='switch-13'></label>
    <p>Disabled switch with supporting text</p>
  </div>
  <div class="switch">
    <input type='checkbox' name='switch04' id='switch-14' checked disabled>
    <label for='switch-14'></label>
    <p>Disabled switch with supporting text</p>
  </div>
</div>
```
*/


// --------------------------------------------------


// Switch wrapper styles
// -------------------------

.switch {
  display: flex;
  position: relative;

  margin-bottom: 12px;

  backface-visibility: hidden;

  p {
    @include typo-body-1;

    position: relative;
    top: 2px;

    margin-left: $switch-margin-right;
    color: $color-gray;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  // Remove default Checkbox
  // -------------------------

  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  // Switch styles
  // -------------------------

  [type='checkbox'] {

    // Base styles
    // -------------------------

    + label {
      @include typo-body-1;

      display: flex;
      position: relative;

      cursor: pointer;

      width: $switch-width;
      height: $switch-height;

      align-items: center;

      backface-visibility: hidden;

      // 'off' state of the toggle switch
      &::before {
        position: absolute;

        top: $switch-height / 2 - $switch-border;

        transition: all 180ms cubic-bezier(.985, .385, .41, .445);
        z-index: 0;

        margin: 0 auto;

        border-radius: $switch-border;
        background: $color-gray-20;

        width: $switch-width;
        height: $switch-off-bar-height;

        content: '';
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        transition: all 180ms 120ms cubic-bezier(.445, .41, .395, .985);
        z-index: 1;

        margin: 0;

        border: $switch-border solid $color-gray-40;
        border-radius: $switch-height;
        background: $color-white;

        width: $switch-height;
        height: $switch-height;

        content: '';
      }
    }

    // Hover styles
    // -------------------------

    &:hover + label {
      &::after {
        border-color: $color-gray-60;
      }
    }

    // Focus styles
    // -------------------------

    &:focus + label {
      outline: none;

      &::after {
        border-color: $color-gray-60;
      }
    }

    // Checked / on styles
    // -------------------------

    &:checked + label {
      &::before {
        top: 0;
        border-radius: $switch-height;
        background-color: $color-int-green;

        height: $switch-height;
      }

      &::after {
        // make the switch move to the right when checked
        left: $switch-height + $switch-border;
      }

      &:hover {
        &::after {
          border-color: $color-gray-60;
        }
      }

      &:focus {
        outline: none;

        &::after {
          border-color: $color-gray-60;
        }
      }
    }

    // Disabled style
    // -------------------------

    &:disabled + label {
      opacity: .4;
      pointer-events: none;

      + p {
        opacity: .6;
      }
    }
  }
}


// Dark Background
// -------------------------

.bg--dark {
  .switch p {
    color: $color-white;
  }
}
