//
// Carousel
// --------------------------------------------------

/*doc
---
title: Carousel
name: 03-patterns-02-carousel-01
category: Patterns - Carousel
---

Carousels help to surface large quantities of content in smaller screen space. Organised into cards featuring images,
headlines, category labels and meta data, content then links through to full content pages. Due to their full width presence on the page,
carousels are best suited to use at the top or base of a page.

### Carousel sample
A responsive test page for the Carousel is available at [samples/carousel](/samples/carousel.html) and [samples/carousel-dark](/samples/carousel-dark.html)

### JavaScript Component
The JavaScript component documentation is available at [/doc/Carousel.html](/doc/Carousel.html).

*/

// --------------------------------------------------


.carousel {
  overflow: hidden;
  outline: none;

  &__container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
  }

  // Slider
  // -------------------------

  &__slider {
    margin-bottom: 21px;

    cursor: grab;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }

    .slide {
      position: relative;
      flex-shrink: 0;

      width: auto;
      height: 100%;

      max-width: 100%;

      margin: 0 10px;

      opacity: .2;

      // Disable text selection as it conflicts with dragging
      user-select: none;

      transition: opacity 300ms $standard-easing;

      box-shadow: 0 0 4px 0 rgba($color-black, .25);

      @include bp-md {
        max-width: 300px;
      }

      @include bp-xl {
        max-width: 321px;
      }

      &--active {
        opacity: 1;
      }

      &--next {
        @include bp-md {
          opacity: 1;
        }
      }

      &--prev {
        @include bp-xl {
          opacity: 1;
        }
      }
    }
  }

  // Pagination
  // -------------------------

  &__pagination {
    position: relative;
    height: $carousel-button-small;

    text-align: center;
    transition: 300ms;
    transform: translate3d(0, 0, 0);

    z-index: 10;

    .pagination-bullet {
      display: inline-block;

      position: relative;
      width: $carousel-bullet-size;
      height: $carousel-bullet-size;

      margin: 4px 2px;

      opacity: .5;
      transition: opacity 150ms $standard-easing;

      cursor: pointer;

      &::before {
        position: absolute;
        top: 0;
        left: 0;

        width: inherit;
        height: inherit;

        background: $color-int-blue;
        border-radius: 100%;

        transition: transform 150ms $standard-easing;
        transform: scale(.5);

        content: '';
      }

      &:hover {
        opacity: .75;
      }

      &:focus {
        outline: none;
      }

      &--active {
        &,
        &:hover {
          opacity: 1;
        }

        &::before {
          transform: scale(1);
        }
      }
    }
  }

  // Buttons
  // -------------------------

  &__button-wrapper {
    position: absolute;

    bottom: 0;

    width: inherit;
    height: $carousel-button-small;

    z-index: 15;
    pointer-events: none;

    @include bp-md {
      top: calc(50% - #{$carousel-button-large});
      bottom: inherit;

      height: $carousel-button-large;
    }
  }

  &__button-prev,
  &__button-next {
    position: absolute;

    width: auto;
    height: auto;

    font-size: 22px;
    background-image: none;

    cursor: pointer;
    outline: none;
    pointer-events: auto;

    color: $color-int-blue;

    transition:
      color 200ms $button-easing,
      transform 300ms $button-easing;

    @include bp-md {
      font-size: 60px;
    }

    &:hover {
      color: $color-int-blue--active;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      pointer-events: none;

      opacity: .4;
    }

    .icon {
      @include default-font-smoothing;
    }
  }

  &__button-prev {
    top: -15px;
    left: -20px;

    padding: 15px 5px 15px 15px;

    &:hover {
      transform: translateX(-2px);
    }

    @include bp-md {
      top: 0;
      left: -10px;

      padding: 0;
    }
  }

  &__button-next {
    right: -20px;
    top: -15px;

    padding: 15px 15px 15px 5px;

    &:hover {
      transform: translateX(2px);
    }

    @include bp-md {
      top: 0;
      right: -10px;

      padding: 0;
    }
  }

  // Responsive helpers
  // -------------------------

  .js-phone {
    visibility: hidden;

    @include bp-sm-max {
      visibility: visible;
    }
  }

  .js-tablet {
    visibility: hidden;

    @include media-breakpoint-between(md, lg) {
      visibility: visible;
    }
  }

  .js-desktop {
    visibility: hidden;

    @include bp-xl {
      visibility: visible;
    }
  }
}
