//
// Loading Bar
// --------------------------------------------------

/*doc
---
title: Loading bar
name: 02-components-20-loader-bar-01
category: Components - Loading bar
---

The SDX loader bar component with support for displaying the current progress as a bar, and with optional detail captions.

```html_example
<div id="bar01" class="loader-bar">
  <div class="detail">
    <div class="name">File_name.jpg</div>
    <div class="detail-right">
      <div class="progress">70%</div>
      <div class="file-size">of 1.5MB</div>
    </div>
  </div>
  <div class="loader-bar--progress">
    <div class="indicator" style="width: 70%"></div>
  </div>
</div>
```

<button class="button button--primary" onclick="incrementProgress01()">Increase progress</button>

<script>
function incrementProgress01(val) {
    if(!window.progress) {
      window.progress = 0;
    }

    var bar = new sdx.LoaderBar(document.querySelector("#bar01"))
    bar.filename = "TestFile.jpg"

    window.progress += 0.031;

    if (window.progress > 1) {
      window.progress = 0;
    }

    bar.progress = window.progress;
}
</script>

#### Loader without detail text

```html_example
<div id="bar02" class="loader-bar loader-bar--progress">
  <div class="indicator" style="width: 50%"></div>
</div>
```

<button class="button button--primary" onclick="incrementProgress02()">Increase progress</button>

<script>
function incrementProgress02(val) {
    if(!window.progress02) {
      window.progress02 = 0;
    }

    var bar = new sdx.LoaderBar(document.querySelector("#bar02"))
    window.progress02 += 0.031;

    if (window.progress02 > 1) {
      window.progress02 = 0;
    }

    bar.progress = window.progress02;
}
</script>


#### Loader idle

```html_example
<div class="loader-bar loader-bar--progress">
  <div class="indicator indicator--busy"></div>
</div>
```
*/

/*doc
---
title: Loader bar on dark backgrounds
name: 02-components-20-loader-bar-02
category: Components - Loading bar
---

Loader spinners are also available on dark backgrounds, just annotate the parent background element
with the `.bg--dark` class and the loader will automatically adjust their styling accordingly.

```html_example
<div class="bg bg--dark">
  <div class="loader-bar">
    <div class="detail">
      <div class="name">File_name.jpg</div>
      <div class="progress">
        70% <span class="file-size">of 1.5MB</span>
      </div>
    </div>
    <div class="loader-bar--progress">
      <div class="indicator" style="width: 70%"></div>
    </div>
  </div>
</div>
```
*/

/*doc
---
title: Loader bar Component
name: 02-components-20-loader-bar-03
category: Components - Loading bar
---

To use update the loader bar component from JavaScript use the provided `LoaderBar` JavaScript component.

```js_example
var bar = new sdx.LoaderBar(document.querySelector("#bar01"))
bar.filename = "TestFile.jpg"
window.progress = 0.25;
```

### Updating progress
To update the progress of the LoaderBar set the `progess` property to the desired value in the range from `0..1`.

### Set the filename
The filename can be set using the `filename` property.

_Note: If the detail element is not defined in your markup, setting the filename will cause an error to be thrown._

### Set the file size
The file size can be set using the `fileSize` property.

_Note: If the detail element is not defined in your markup, setting the fileSize will cause an error to be thrown._
*/


// --------------------------------------------------


// Loader Bar
// --------------------------------------------------

$bar-height: 10px;

.loader-bar {
  position: relative;

  width: 100%;

  > .detail {
    @include typo-body-2;

    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;

    .name {
      text-align: left;
    }

    .detail-right {
      .progress {
        display: inline-block;
        text-align: right;
      }

      .file-size {
        display: none;

        &::before {
          content: '\00a0 ';
        }

        @include bp-sm {
          display: inline;
          float: right;
        }
      }
    }
  }

  &--progress {
    position: relative;

    background-color: $color-loader-bar-bg;

    width: 100%;
    height: $bar-height;

    overflow: hidden;

    > .indicator {
      position: absolute;
      top: 0;
      left: 0;

      transition: width 90ms linear;
      z-index: 30;

      background-color: $color-int-green;

      width: 0%;
      height: $bar-height;

      &::after {
        position: absolute;
        top: 0;
        right: -($bar-height / 2);

        border-radius: 100%;
        background: inherit;

        width: $bar-height;
        height: $bar-height;

        content: '';
      }

      &--busy {
        left: 0;
        animation: busy 2.1s linear infinite;

        width: 50%;

        will-change: left, right;

        &::before {
          position: absolute;
          top: 0;
          left: -($bar-height / 2);

          border-radius: 100%;
          background: inherit;

          width: $bar-height;
          height: $bar-height;

          content: '';
        }
      }
    }
  }
}


// Dark Background
// -------------------------

.bg--dark {
  .loader-bar--progress {
    background-color: $color-white;
  }
}


// Animation Keyframes
// --------------------------------------------------

@keyframes busy {
  0% {
    left: -50%;
  }

  100% {
    left: 100%;
  }
}
