//
// Loader Spinner
// --------------------------------------------------

/*doc
---
title: Loader spinner
name: 02-components-21-loader-spinner-01
category: Components - Loading Spinner
---

The loader spinner has two base sizes small and large for a variety of different uses.

#### Navy to red Loader

```html_example
<div class="loader-spinner loader-spinner--small"></div>
<div class="loader-spinner loader-spinner--large"></div>
```

#### Navy to blue Loader

```html_example
<div class="loader-spinner loader-spinner--small loader-spinner--plain"></div>
<div class="loader-spinner loader-spinner--large loader-spinner--plain"></div>
```
*/

/*doc
---
title: Loader spinner on dark backgrounds
name: 02-components-21-loader-spinner-02
category: Components - Loading Spinner
---

Loader spinners are also available on dark backgrounds, just annotate the parent background element
with the `.bg--dark` class and the loader will automatically adjust their styling accordingly.

```html_example
<div class="bg bg--dark">
  <div class="loader-spinner loader-spinner--small"></div>
  <div class="loader-spinner loader-spinner--large"></div>
</div>
```
*/


// --------------------------------------------------

$loader-sw-large: 3750px;
$loader-sh-large: 50px;

$loader-sw-small: 1875px;
$loader-sh-small: 25px;

$loader-duration: 1.25s;
$loader-steps: 75;

// --------------------------------------------------


// Loader Spinner Base
// --------------------------------------------------

.loader-spinner {
  position: relative;

  &,
  &--large {
    @include spritesheet-animation(
        navy-large,
        '#{$image-path}loader-spinner-navy-large',
        'png',
        $loader-spinner-large,
        $loader-spinner-large,
        $loader-sw-large,
        $loader-sh-large,
        $loader-duration,
        $loader-steps
    );

    &.loader-spinner--plain {
      @include spritesheet-animation(
          plain-large,
          '#{$image-path}loader-spinner-plain-large',
          'png',
          $loader-spinner-large,
          $loader-spinner-large,
          $loader-sw-large,
          $loader-sh-large,
          $loader-duration,
          $loader-steps
      );
    }
  }

  &--small {
    @include spritesheet-animation(
        navy-small,
        '#{$image-path}loader-spinner-navy-small',
        'png',
        $loader-spinner-small,
        $loader-spinner-small,
        $loader-sw-small,
        $loader-sh-small,
        $loader-duration,
        $loader-steps
    );

    &.loader-spinner--plain {
      @include spritesheet-animation(
          plain-small,
          '#{$image-path}loader-spinner-plain-small',
          'png',
          $loader-spinner-small,
          $loader-spinner-small,
          $loader-sw-small,
          $loader-sh-small,
          $loader-duration,
          $loader-steps
      );
    }
  }
}


// Dark Background
// -------------------------

.bg--dark {
  .loader-spinner {
    &,
    &--large {
      @include spritesheet-animation(
          dark-large,
          '#{$image-path}loader-spinner-dark-large',
          'png',
          $loader-spinner-large,
          $loader-spinner-large,
          $loader-sw-large,
          $loader-sh-large,
          $loader-duration,
          $loader-steps
      );
    }

    &--small {
      @include spritesheet-animation(
          dark-small,
          '#{$image-path}loader-spinner-dark-small',
          'png',
          $loader-spinner-small,
          $loader-spinner-small,
          $loader-sw-small,
          $loader-sh-small,
          $loader-duration,
          $loader-steps
      );
    }
  }
}
