//
// Margin Utilities
// --------------------------------------------------

/*doc
---
title: Margin
name: 05-utilities-margin-01
category: Utilities - Margin
---

Apply SDX conform margins to an element. The following margin options are available:

Margin on all 4 sides of the element:
<ul class="list">
  <li>.margin-0</li>
  <li>.margin-1</li>
  <li>.margin-2</li>
  <li>.margin-3</li>
  <li>.margin-4</li>
</ul>

Margin on the left and right side of the element:
<ul class="list">
  <li>.margin-h-0</li>
  <li>.margin-h-1</li>
  <li>.margin-h-2</li>
  <li>.margin-h-3</li>
  <li>.margin-h-4</li>
</ul>

Margin on the top and bottom side of the element:
<ul class="list">
  <li>.margin-v-0</li>
  <li>.margin-v-1</li>
  <li>.margin-v-2</li>
  <li>.margin-v-3</li>
  <li>.margin-v-4</li>
</ul>

Margin on the top of the element:
<ul class="list">
  <li>.margin-top-0</li>
  <li>.margin-top-1</li>
  <li>.margin-top-2</li>
  <li>.margin-top-3</li>
  <li>.margin-top-4</li>
</ul>

Margin on the bottom the element:
<ul class="list">
  <li>.margin-bottom-0</li>
  <li>.margin-bottom-1</li>
  <li>.margin-bottom-2</li>
  <li>.margin-bottom-3</li>
  <li>.margin-bottom-4</li>
</ul>
*/

// Margin All
// -------------------------

.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: $baseline;
}

.margin-2 {
  margin: $baseline-2;
}

.margin-3 {
  margin: $baseline-3;
}

.margin-4 {
  margin: $baseline-4;
}

// Margin Horizontal
// -------------------------

.margin-h-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-h-1 {
  margin-left: $baseline;
  margin-right: $baseline;
}

.margin-h-2 {
  margin-left: $baseline-2;
  margin-right: $baseline-2;
}

.margin-h-3 {
  margin-left: $baseline-3;
  margin-right: $baseline-3;
}

.margin-h-4 {
  margin-left: $baseline-4;
  margin-right: $baseline-4;
}


// Margin Vertical
// -------------------------

.margin-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-v-1 {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

.margin-v-2 {
  margin-top: $baseline-2;
  margin-bottom: $baseline-2;
}

.margin-v-3 {
  margin-top: $baseline-3;
  margin-bottom: $baseline-3;
}

.margin-v-4 {
  margin-top: $baseline-4;
  margin-bottom: $baseline-4;
}

// Margin Top
// -------------------------

.margin-top-1 {
  margin-top: $baseline;
}

.margin-top-2 {
  margin-top: $baseline-2;
}

.margin-top-3 {
  margin-top: $baseline-3;
}

.margin-top-4 {
  margin-top: $baseline-4;
}

// Margin Bottom
// -------------------------

.margin-bottom-1 {
  margin-bottom: $baseline;
}

.margin-bottom-2 {
  margin-bottom: $baseline-2;
}

.margin-bottom-3 {
  margin-bottom: $baseline-3;
}

.margin-bottom-4 {
  margin-bottom: $baseline-4;
}
