//
// Padding Utilities
// --------------------------------------------------

/*doc
---
title: Padding
name: 05-utilities-padding-01
category: Utilities - Padding
---

Apply SDX conform paddings to an element. The following padding options are available:

Padding on all 4 sides of the element:
<ul class="list">
  <li>.padding-0</li>
  <li>.padding-1</li>
  <li>.padding-2</li>
  <li>.padding-3</li>
  <li>.padding-4</li>
</ul>

Padding on the left and right side of the element:
<ul class="list">
  <li>.padding-h-0</li>
  <li>.padding-h-1</li>
  <li>.padding-h-2</li>
  <li>.padding-h-3</li>
  <li>.padding-h-4</li>
</ul>

Padding on the top and bottom side of the element:
<ul class="list">
  <li>.padding-v-0</li>
  <li>.padding-v-1</li>
  <li>.padding-v-2</li>
  <li>.padding-v-3</li>
  <li>.padding-v-4</li>
</ul>

Padding on the top of the element:
<ul class="list">
  <li>.paddingpadding-top-0</li>
  <li>.padding-top-1</li>
  <li>.padding-top-2</li>
  <li>.padding-top-3</li>
  <li>.padding-top-4</li>
</ul>

Padding on the bottom the element:
<ul class="list">
  <li>.padding-bottom-0</li>
  <li>.padding-bottom-1</li>
  <li>.padding-bottom-2</li>
  <li>.padding-bottom-3</li>
  <li>.padding-bottom-4</li>
</ul>

*/

// Padding All
// -------------------------

.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: $baseline;
}

.padding-2 {
  padding: $baseline-2;
}

.padding-3 {
  padding: $baseline-3;
}

.padding-4 {
  padding: $baseline-4;
}

// Padding Horizontal
// -------------------------

.padding-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-h-1 {
  padding-left: $baseline;
  padding-right: $baseline;
}

.padding-h-2 {
  padding-left: $baseline-2;
  padding-right: $baseline-2;
}

.padding-h-3 {
  padding-left: $baseline-3;
  padding-right: $baseline-3;
}

.padding-h-4 {
  padding-left: $baseline-4;
  padding-right: $baseline-4;
}


// Padding Vertical
// -------------------------

.padding-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-v-1 {
  padding-top: $baseline;
  padding-bottom: $baseline;
}

.padding-v-2 {
  padding-top: $baseline-2;
  padding-bottom: $baseline-2;
}

.padding-v-3 {
  padding-top: $baseline-3;
  padding-bottom: $baseline-3;
}

.padding-v-4 {
  padding-top: $baseline-4;
  padding-bottom: $baseline-4;
}

// Padding Top
// -------------------------

.padding-top-1 {
  padding-top: $baseline;
}

.padding-top-2 {
  padding-top: $baseline-2;
}

.padding-top-3 {
  padding-top: $baseline-3;
}

.padding-top-4 {
  padding-top: $baseline-4;
}

// Padding Bottom
// -------------------------

.padding-bottom-1 {
  padding-bottom: $baseline;
}

.padding-bottom-2 {
  padding-bottom: $baseline-2;
}

.padding-bottom-3 {
  padding-bottom: $baseline-3;
}

.padding-bottom-4 {
  padding-bottom: $baseline-4;
}
