//
// Screenreader Utilities
// --------------------------------------------------

/*doc
---
title: Screenreaders
name: 05-utilities-screenreaders-01
category: Utilities - Screenreaders
---

Hide an element to all devices except screen readers with `.sr-only`. Combine `.sr-only` with `.sr-only-focusable` to show the element again when it’s focused (e.g. by a keyboard-only user). Can also be used as mixins.

```html
<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
```

```scss
// Usage as a mixin
.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;
}
```
*/

.sr-only {
  @include sr-only;
}

.sr-only-focusable {
  @include sr-only-focusable;
}
