//
// Text Utilities
// --------------------------------------------------

/*doc
---
title: Text
name: 05-utilities-text-01
category: Utilities - Text
---

### Text alignment

Easily realign text to components with text alignment classes.

```html_example
<p class="text-align-left">Left aligned text on all viewport sizes.</p>
<p class="text-align-center">Center aligned text on all viewport sizes.</p>
<p class="text-align-right">Right aligned text on all viewport sizes.</p>
<p class="text-align-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
```

### Text transformation

Transform text in components with text capitalization classes.

Note how text-capitalize only changes the first letter of each word, leaving the case of any other letters unaffected.

```html_example
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">capiTaliZed text.</p>
```

### Text truncate

Trunctate text in components.

```html_example
<p class="text-truncate">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
*/

// Align
// -------------------------

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}


// Transformation
// -------------------------

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}


// Truncate
// -------------------------

.text-truncate {
  @include text-truncate;
}
