//
// Visibility utilities
// --------------------------------------------------

/*doc
---
title: Visibility
name: 06-utilities-visibility-01
category: Utilities - Visibility
---

### Invisible content

The `.invisible` and `.visible` class can be used to toggle only the visibility of an element, meaning its display is not modified and the element can still affect the flow of the document.

```html_example
<p class="invisible">not visible</p>
<p class="visible">visible</p>
```

### Responsive visibility

For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query.
<ul class="list">
  <li>
    The `.hidden-*-up` classes hide the element when the viewport is at the given breakpoint or wider. For example, `.hidden-md-up` hides an element on medium, large, and extra-large viewports.
  </li>
  <li>
    The `.hidden-*-down` classes hide the element when the viewport is at the given breakpoint or smaller. For example, `.hidden-md-down` hides an element on extra-small, small, and medium viewports.
  </li>
  <li>
    You can combine one `.hidden-*-up` class with one `.hidden-*-down` class to show an element only on a given interval of screen sizes. For example, `.hidden-sm-down.hidden-xl-up` shows the element only on medium and large viewports. Using multiple `.hidden-*-up` classes or multiple `.hidden-*-down` classes is redundant and pointless.
  </li>
</ul>

If you want to go for specific devices (phone, tablet or desktop) use the device specific classes instead of the breakpoint specific classes:
<ul class="list">
  <li>
    Phone: `.hidden-phone-up` or `.hidden-phone-down`
  </li>
  <li>
    Tablet: `.hidden-tablet-up` or `.hidden-tablet-down`
  </li>
  <li>
    Desktop: `.hidden-desktop-up` or `.hidden-desktop-down`
  </li>
</ul>
*/

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.hide,
.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

// Responsive visibility utilities
// -------------------------

@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}

.hidden-phone-up {
  @include bp-phone {
    display: none !important;
  }
}

.hidden-phone-down {
  @include bp-phone-max {
    display: none !important;
  }
}

.hidden-tablet-up {
  @include bp-tablet {
    display: none !important;
  }
}

.hidden-tablet-down {
  @include bp-tablet-max {
    display: none !important;
  }
}

.hidden-desktop-up {
  @include bp-desktop {
    display: none !important;
  }
}

.hidden-desktop-down {
  @include bp-desktop-max {
    display: none !important;
  }
}
