//
// Accordion
// --------------------------------------------------

/*doc
---
title: Accordion Sidebar
name: 03-patterns-01-accordion-03-sidebar
category: Patterns - Accordion
---

```html_example
<div class="accordion accordion--sidebar" data-init="auto">
  <div class="accordion__item margin-bottom-2 is-open">
    <button class="accordion__toggle nav-title">
      Level 0 - Item 2
      <span class="arrow-icon"></span>
    </button>
    <div class="accordion__collapse is-open" aria-expanded="true">
      <ul class="nav-items">
          <li class="nav-item is-active">
              <a class="nav-link" href="javascript:void(0);">
                  Cum sociis natoque penatibus
              </a>
          </li>
          <li class="nav-item is-active">
              <a class="nav-link" href="javascript:void(0);">
                  Maecenas enim
              </a>
          </li>
          <li class="nav-item is-active">
              <a class="nav-link" href="javascript:void(0);">
                  Consectetuer adipiscing
              </a>
          </li>
      </ul>
    </div>
  </div>
  <div class="accordion__item">
    <button class="accordion__toggle nav-title">
      Level 0 - Item 2
      <span class="arrow-icon"></span>
    </button>
    <div class="accordion__collapse" aria-expanded="false">
      <ul class="nav-items">
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                  Cum sociis natoque penatibus
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                  Maecenas enim
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                  Consectetuer adipiscing
              </a>
          </li>
      </ul>
    </div>
  </div>
</div>
```
*/

.accordion--sidebar {
  @include accordion-arrow-normal($color-nav-link, $color-nav-link--active);

  a,
  button {
    margin: 0;
    padding: 0;
    border: 0;

    transition: color 200ms $standard-easing;

    color: $color-nav-link;

    &:hover {
      color: $color-nav-link--active;
    }
  }

  // Navigation Items
  // -------------------------

  .nav-items {
    display: flex;
    flex-direction: column;

    margin-top: 8px;
    margin-bottom: 0;
  }

  .nav-item {
    position: relative;
    float: left;

    margin: 0;

    transition: opacity 500ms $standard-easing;

    &::before {
      content: none;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-title {
    @include typo-nav-content-title;
  }

  .nav-link {
    @include typo-nav-content-text;

    text-decoration: none;
    white-space: normal;

    .text-underline {
      position: relative;
      pointer-events: none;

      &::before {
        position: absolute;
        top: 34px;

        width: 100%;
        height: 1px;

        pointer-events: none;

        background-color: $color-nav-link;

        transform: scaleX(0);
        transition: all 200ms $standard-easing;

        content: '';
      }
    }

    &.is-active,
    &--active {
      .text-underline {
        &::before {
          transform: scaleX(1);
        }
      }
    }

    &:hover {
      color: $color-nav-link--active;

      .text-underline {
        &::before {
          background-color: $color-nav-link--active;
        }
      }
    }
  }
}
