//
// Accordion visibility
// --------------------------------------------------

/*doc
---
title: Accordion Responsive
name: 03-patterns-01-accordion-02-responsive
category: Patterns - Accordion
---

By adding the class `accordion--hidden-*`  to the accordion element the accordion behavior can be changed depending on the
breakpoint. The individual class toggles the visiblility of a generated element with the `js-hidden` class and determines if clicks on the header element should trigger the accordion to open or close.

In the sample below the accordion functionality is disabled on desktop breakpoints and greater by using the class `accordion--hidden-desktop-up`.

```html_example
<div class="accordion accordion--hidden-desktop-up" data-init="auto">
  <div class="accordion__item margin-bottom-2 is-open">
    <div class="accordion__toggle">
      <div class="accordion__header">
        <h4>Accordion 1</h4>
      </div>
      <div class="arrow-icon"></div>
    </div>
    <div class="accordion__collapse is-open" aria-expanded="true">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__toggle">
      <div class="accordion__header">
        <h4>Accordion 2</h4>
      </div>
      <div class="arrow-icon"></div>
    </div>
    <div class="accordion__collapse" aria-expanded="false">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
```
*/

.accordion {

  // Accordion mixin
  // -------------------------

  @mixin accordion-hidden {
    .js-hidden {
      visibility: hidden !important;
    }

    .accordion {
      &__toggle {
        display: inherit;
        width: inherit;
        justify-content: inherit;
        align-items: inherit;
        cursor: inherit;

        .arrow-icon {
          display: none !important;
        }
      }

      &__collapse {
        display: block;
        height: 100%;
        width: 100%;
        opacity: 1;
      }
    }
  }

  // Responsive visibility utilities
  // -------------------------

  @each $bp in map-keys($grid-breakpoints) {
    &--hidden-#{$bp}-up {
      @include media-breakpoint-up($bp) {
        @include accordion-hidden;
      }
    }
    &--hidden-#{$bp}-down {
      @include media-breakpoint-down($bp) {
        @include accordion-hidden;
      }
    }
  }

  &--hidden-phone-up {
    @include bp-phone {
      @include accordion-hidden;
    }
  }

  &--hidden-phone-down {
    @include bp-phone-max {
      @include accordion-hidden;
    }
  }

  &--hidden-tablet-up {
    @include bp-tablet {
      @include accordion-hidden;
    }
  }

  &--hidden-tablet-down {
    @include bp-tablet-max {
      @include accordion-hidden;
    }
  }

  &--hidden-desktop-up {
    @include bp-desktop {
      @include accordion-hidden;
    }
  }

  &--hidden-desktop-down {
    @include bp-desktop-max {
      @include accordion-hidden;
    }
  }

  // JS Accordion classes
  // -------------------------

  .js-hidden {
    display: none;

    position: absolute;
    left: -9999px;

    visibility: visible;
  }
}
