//
// Core
// --------------------------------------------------

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/*
::selection {
  background: $color-selection-bg;
  color: $color-selection-fg;
}
*/

body {
  @include body;
}

// Page wrapper styles
// -------------------------

.main-wrapper {
  display: flex;
  min-height: 100vh;

  // make sure things like tooltips don't couse the page to scroll
  flex-direction: column;
  overflow: hidden;
}

// Page wrapper styles
// -------------------------

.page {
  flex: 1 0 auto; // fix for bottom footer
}
