//
// Search Input
// --------------------------------------------------
/*doc
---
title: Search Live
name: 03-patterns-04-search-03-live
category: Patterns - Search
---

<style>
  .exampleOutput .container {
    width: auto;
  }

  .exampleOutput .search--desktop, .exampleOutput .search--mobile {
    display: block;
    position: static;
  }

  .exampleOutput .search__live > * {
    padding-left: 12px;
    padding-right: 12px;
  }

</style>

### Search sample
A responsive test page for the Navigation is available at [samples/navigation](/samples/navigation.html).

### Desktop Search

```html_example
<div class="search search--desktop">
  <div class="search__input is-open">
    <div class="container">
      <div class="search__input-wrapper">
        <form class="search__box" novalidate>
          <label for="site-search" class="sr-only">Suchen</label>
          <input class="search__field" type="search" id="site-search" name="q" required autocomplete="off" placeholder="Suchen nach..."/>
          <label for="site-search-submit" class="sr-only">Senden</label>
          <input class="sr-only" type="submit" id="site-search-submit" tabindex="-1"/>
          <button class="search__icon-clear" type="reset" aria-label="Eingabe löschen">
            <i class="icon icon-202-clear-circle" aria-hidden="true"></i>
          </button>
        </form>
        <button class="search__icon-close" aria-label="Suche schliessen">
          <i class="icon icon-022-close" aria-hidden="true"></i>
        </button>
        </div>
    </div>
  </div>

  <div class="search__live is-open">
    <div class="live-suggestions js-suggestions is-open">
      <div class="container">
        <ul>
          <li><strong>iPho</strong>ne 7 Plus</li>
          <li><strong>iPho</strong>ne 6s</li>
          <li><strong>iPho</strong>ne 5s</li>
          <li><strong>iPho</strong>ne 6s Plus</li>
          <li><strong>iPho</strong>ne SE 64GB</li>
        </ul>
      </div>
    </div>
    <div class="live-footer js-footer is-open">
      <div class="container">
        <div class="row">
          <div class="col-xs">
            <a class="live-title" href="javascript:void(0);">Neu</a>
          </div>
        </div>
        <div class="row offer">
          <div class="col-xs">
            <a class="live-link" href="javascript:void(0);">
              <div class="offer__image">
                <img src="theme-build/img/samples/angebote-vivo-m.png">
              </div>
              <div class="offer__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              </div>
            </a>
          </div>
          <div class="col-xs">
            <a class="live-link" href="javascript:void(0);">
              <div class="offer__image">
                <img src="theme-build/img/samples/iphone_7_plus_black.png">
              </div>
              <div class="offer__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
              </div>
            </a>
          </div>
          <div class="col-xs hidden-md-down">
            <a class="live-link" href="javascript:void(0);">
              <div class="offer__image">
                <img src="theme-build/img/samples/iphone_7_plus_black.png">
              </div>
              <div class="offer__content">
                Lorem ipsum sit amet, consectetur elit, sed eiusmod.
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```

### Mobile Search

```html_example
<div class="search search--mobile">
  <div class="search__input is-open">
    <div class="container">
      <div class="search__input-wrapper">
        <form class="search__box" novalidate>
          <label for="site-search" class="sr-only">Suchen</label>
          <input class="search__field" type="search" id="site-search" name="q" required autocomplete="off" placeholder="Suchen nach..."/>
          <button class="search__icon-clear" type="reset" aria-label="Eingabe löschen">
            <i class="icon icon-202-clear-circle" aria-hidden="true"></i>
          </button>
          <button class="search__icon-search" type="submit" aria-label="Eingabe senden">
            <i class="icon icon-077-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="search__live is-open">
    <div class="live-suggestions js-suggestions is-open">
      <div class="container">
        <ul>
          <li><strong>iPho</strong>ne 7 Plus</li>
          <li><strong>iPho</strong>ne 6s</li>
          <li><strong>iPho</strong>ne 5s</li>
          <li><strong>iPho</strong>ne 6s Plus</li>
          <li><strong>iPho</strong>ne SE 64GB</li>
        </ul>
      </div>
    </div>
  </div>
</div>
```
*/

&__live {

  // Search live styles
  // -------------------------
  display: none;
  height: 0;
  width: 100%;

  overflow: hidden;
  border-bottom: 1px solid $color-nav-footer-bg;

  &.is-open {
    display: block;
    height: auto;
  }

  .live-suggestions {
    display: none;
    height: 0;

    background: $color-search-live-bg;
    color: $color-search-live-text;

    &.is-open {
      display: block;
      height: auto;
    }

    strong {
      @include font-semi-light;
      color: $color-search-live-text-match;
    }

    li {
      padding: 15px 0 16px;

      &:not(:last-child) {
        border-bottom: 1px solid $color-aluminum-80;
      }
    }
  }

  .live-footer {
    display: none;

    height: 0;
    padding: 21px 0 24px;

    background: $color-nav-footer-bg;

    &.is-open {
      display: block;
      height: auto;
    }

    a,
    button {
      &.live-icon,
      &.live-title,
      &.live-link {
        color: $color-nav-link;

        &:focus,
        &:hover {
          color: $color-nav-link--active;
        }
      }
    }

    .offer {
      margin-top: 10px;

      .offer__image {
        float: left;
        margin-right: 18px;

        img {
          max-width: 64px;
          max-height: 64px;
        }
      }

      .offer__content {
        @include typo-body-2;

        display: table;
        word-wrap: normal;
      }
    }
  }
}

