//
// Search Input
// --------------------------------------------------
/*doc
---
title: Search Input
name: 03-patterns-04-search-02-input
category: Patterns - Search
---

<style>
  .exampleOutput .search__input {
    display: block;
    position: relative;

    padding: 0 12px;
    z-index: 1;
  }
</style>

### Search sample
A responsive test page for the Navigation is available at [samples/navigation](/samples/navigation.html).

### Desktop Search

```html_example
<div class="search search__input is-open">
  <div class="container">
    <div class="search__input-wrapper">
      <form class="search__box" novalidate>
        <label for="site-search" class="sr-only">Suchen</label>
        <input class="search__field" type="search" id="site-search" name="q" required autocomplete="off" placeholder="Suchen nach..."/>
        <button class="search__icon-clear" type="reset" aria-label="Eingabe löschen">
          <i class="icon icon-202-clear-circle" aria-hidden="true"></i>
        </button>
        <label for="site-search-submit" class="sr-only">Senden</label>
        <input class="sr-only" type="submit" id="site-search-submit" tabindex="-1"/>
      </form>
      <button class="search__icon-close" aria-label="Suche schliessen">
        <i class="icon icon-022-close" aria-hidden="true"></i>
      </button>
      </div>
  </div>
</div>
```

### Mobile Search

```html_example
<div class="search search__input is-open">
  <div class="container">
    <div class="search__input-wrapper">
      <form class="search__box" novalidate>
        <label for="site-search" class="sr-only">Suchen</label>
        <input class="search__field" type="search" id="site-search" name="q" required autocomplete="off" placeholder="Suchen nach..."/>
        <button class="search__icon-clear" type="reset" aria-label="Eingabe löschen">
          <i class="icon icon-202-clear-circle" aria-hidden="true"></i>
        </button>
        <button class="search__icon-search" type="submit" aria-label="Eingabe senden">
          <i class="icon icon-077-search" aria-hidden="true"></i>
        </button>
      </form>
      </div>
  </div>
</div>
```

## Color options

### Light Color

```html_example
<div class="search search__input search--light is-open">
  <div class="container">
    <div class="search__input-wrapper">
      <form class="search__box" novalidate>
        <label for="site-search" class="sr-only">Suchen</label>
        <input class="search__field" type="search" id="site-search" name="q" required autocomplete="off" placeholder="Suchen nach..."/>
        <label for="site-search-submit" class="sr-only">Senden</label>
        <input class="sr-only" type="submit" id="site-search-submit" tabindex="-1"/>
        <button class="search__icon-clear" type="reset" aria-label="Eingabe löschen">
          <i class="icon icon-202-clear-circle" aria-hidden="true"></i>
        </button>
      </form>
      <button class="search__icon-close" aria-label="Suche schliessen">
        <i class="icon icon-022-close" aria-hidden="true"></i>
      </button>
      </div>
  </div>
</div>
```

### Dark Color

```html_example
<div class="search search__input search--dark is-open">
  <div class="container">
    <div class="search__input-wrapper">
      <form class="search__box" novalidate>
        <label for="site-search" class="sr-only">Suchen</label>
        <input class="search__field" type="search" id="site-search" name="q" required autocomplete="off" placeholder="Suchen nach..."/>
        <button class="search__icon-clear" type="reset" aria-label="Eingabe löschen">
          <i class="icon icon-202-clear-circle" aria-hidden="true"></i>
        </button>
        <label for="site-search-submit" class="sr-only">Senden</label>
        <input class="sr-only" type="submit" id="site-search-submit" tabindex="-1"/>
      </form>
      <button class="search__icon-close" aria-label="Suche schliessen">
        <i class="icon icon-022-close" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
```
*/

&__input {

  // Search input styles
  // -------------------------

  display: block;
  overflow: hidden;

  position: relative;

  width: 100%;

  background: $color-search-inactive-bg;
  color: $color-search-inactive-text;

  transition:
    background 200ms $standard-easing,
    color 200ms $standard-easing;

  .search__input-wrapper {
    display: flex;
    position: relative;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: $search-height;
  }

  .search__box {
    display: flex;
    width: 100%;
  }

  .search__field {
    @include typo-search;

    // fixes edge line height bug
    @supports(-ms-ime-align: auto) {
      line-height: 0;
    }

    display: block;

    width: 100%;

    vertical-align: middle;

    transform: translateX(0);
    transition: transform 200ms $standard-easing;

    &::placeholder {
      color: $color-search-inactive-text;
      opacity: 1;
    }
  }

  .search__field:invalid {
    transform: translateX(-#{$search-clear-size + $search-box-margin});

    ~ .search__icon-clear {
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
    }
  }

  .search__icon {
    &-clear {
      margin-right: $search-box-margin;

      z-index: 10;
      order: -1;

      font-size: $search-clear-size;

      visibility: visible;
      opacity: 1;
      transform: scale(1);

      transition:
        visibility 200ms $standard-easing,
        opacity 200ms $standard-easing,
        transform 200ms $standard-easing;
    }

    &-close,
    &-search {
      margin-left: $search-box-margin;

      font-size: $search-icon-size;
    }
  }

  // Color options
  // --------------------------------------------------

  @mixin search-light {
    background: $color-search-light-bg;
    color: $color-search-light-text;

    .search__field {
      &,
      &::placeholder {
        color: $color-search-light-text;
        opacity: 1;
      }

      &:focus {
        &::placeholder {
          color: $color-search-light-text;
          opacity: 1;
        }
      }
    }
  }

  @mixin search-dark {
    background: $color-search-dark-bg;
    color: $color-search-dark-text;

    .search__field {
      &,
      &::placeholder {
        color: $color-search-dark-text;
        opacity: 1;
      }

      &:focus {
        &::placeholder {
          color: $color-search-dark-text;
          opacity: 1;
        }
      }
    }
  }

  &,
  &.search--light {
    &.is-active {
      @include search-light;
    }

    @include bp-tablet {
      @include search-light;
    }
  }

  &.search--dark {
    &.is-active {
      @include search-dark;
    }

    @include bp-tablet {
      @include search-dark;
    }
  }
}

// Desktop Option
// --------------------------------------------------

&--desktop {
  .search__input {

    @include bp-tablet {
      max-height: 0;

      transition:
        max-height 200ms $standard-easing,
        background 200ms $standard-easing,
        color 200ms $standard-easing;

      &.is-open {
        max-height: $search-height;
      }
    }
  }
}
