//
// Search
// --------------------------------------------------

/*doc
---
title: Search
name: 03-patterns-04-search-01-overview
category: Patterns - Search
---

<style>
  .cortana-content-wrapper .search .container {
    width: auto;
  }
</style>

*/


// --------------------------------------------------


.search {

  z-index: $zindex-navigation + 500;

  // Desktop Option
  // --------------------------------------------------

  &.search--mobile {
    display: block;

    @include bp-tablet {
      display: none;
    }
  }

  &.search--desktop {
    display: none;

    position: absolute;
    left: 0;
    width: 100%;

    @include bp-tablet {
      display: block;
    }
  }

  // Imports
  // -------------------------

  @import 'search-input';
  @import 'search-live';
}
