//
// Bar chart (horizontal)
// --------------------------------------------------

/*doc
---
title: Bar chart (horizontal)
name: 02-components-09-bar-chart-horizontal-01
category: Components - Bar chart (horizontal)
---

Bar charts enable us to display data in a visual and digestible way. They are most commonly used to plot comparable data
over time or to show changes in data. Charts can be displayed directly into pages, or placed within cards.

<script>
function getRandom(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}

document.addEventListener("DOMContentLoaded", function(event) {
  var data01 = [
    {
      title: "Internet",
      color: "apple",
      value: 270
    }
  ];

  var data02 = [
    {
      title: "Subscription",
      color: "turquoise",
      value: 199
    },
    {
      title: "Additional",
      color: "petrol",
      value: 40
    }
  ];

  var barChart01 = new sdx.BarChartHorizontal(document.getElementById("barChart01"), data01);
  var barChart02 = new sdx.BarChartHorizontal(document.getElementById("barChart02"), data02);

  document.getElementById("btnChartUpdate").addEventListener("click", function () {
    data01[0].value = getRandom(0, 1200)
    barChart01.update(data01)

    data02[0].value = getRandom(0, 350)
    data02[1].value = getRandom(0, 350 - data02[0].value)
    barChart02.update(data02)
  });
});

</script>

<style>
  .exampleOutput .bg--light {
    margin-bottom: 32px;
    background-color: #eef3f6;
  }
</style>

<button class="button button--secondary" id="btnChartUpdate">Update</button>

<div class="bg bg--light" style="margin-bottom: 32px">
  <div class="bar-chart-horizontal bar-chart-horizontal--limited"
    data-max="1200" data-unit="hours" id="barChart01">
    <div class="detail-left">Internet</div>
    <div class="bar-chart__progress"></div>
    <div class="detail-bottom"></div>
  </div>
  <div class="bar-chart-horizontal bar-chart-horizontal--unlimited"
      data-max="350" data-unit="CHF" data-precision="2" id="barChart02">
    <div class="bar-chart__detail">
      <div class="detail-left">Sandra’s Natel XL</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
</div>
*/

/*doc
---
title: Unlimited data
name: 02-components-09-bar-chart-horizontal-02
category: Components - Bar chart (horizontal)
---

Unlimited data charts show types of data which have no upper limit, for example additional costs.

```html_example
<div class="bg bg--light">
  <div class="bar-chart-horizontal bar-chart-horizontal--unlimited" data-init="auto"
      data-max="350" data-unit="CHF" data-precision="2">
    <div class="js-data-list">
      <div class="js-data" data-value="199" data-color="turquoise">Subscription</div>
      <div class="js-data" data-value="40" data-color="petrol">Additional</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">Sandra’s Natel XL</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
</div>

<div class="bg bg--dark">
  <div class="bar-chart-horizontal bar-chart-horizontal--unlimited" data-init="auto"
      data-max="350" data-unit="CHF" data-precision="2">
    <div class="js-data-list">
      <div class="js-data" data-value="79" data-color="turquoise">Subscription</div>
      <div class="js-data" data-value="15" data-color="petrol">Additional</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">Marc’s Natel S</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
</div>
```
*/

/*doc
---
title: Limited data
name: 02-components-09-bar-chart-horizontal-03
category: Components - Bar chart (horizontal)
---

Limited data charts are used to show data on a limited scale, such as percentages or
limited allowances with a single colour displaying the used amount.

```html_example
<div class="bg bg--light">
  <div class="bar-chart-horizontal bar-chart-horizontal--limited"
    data-init="auto" data-max="1200" data-unit="hours">
    <div class="js-data-list">
      <div class="js-data" data-value="270" data-color="apple">Internet</div>
    </div>
    <div class="detail-left">Internet</div>
    <div class="bar-chart__progress"></div>
    <div class="detail-bottom"></div>
  </div>
</div>

<div class="bg bg--dark">
  <div class="bar-chart-horizontal bar-chart-horizontal--limited"
    data-init="auto" data-max="512" data-unit="hours">
    <div class="js-data-list">
      <div class="js-data" data-value="499" data-color="turquoise">Internet</div>
    </div>
    <div class="detail-left">Internet</div>
    <div class="bar-chart__progress"></div>
    <div class="detail-bottom"></div>
  </div>
</div>
```
*/

/*doc
---
title: Split data
name: 02-components-09-bar-chart-horizontal-04
category: Components - Bar chart (horizontal)
---

Split data charts enable us to display mutliple data types in a single bar chart.
A bar can be divided into different colours to show how the full bar is representing accumulated data from different sources.

```html_example
<div class="bg bg--light">
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend">
    <div class="js-data-list">
      <div class="js-data" data-value="65" data-color="turquoise">Additional Costs</div>
      <div class="js-data" data-value="7.5" data-color="petrol">Subscription Costs</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">Internet</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2">
    <div class="js-data-list">
      <div class="js-data" data-value="123" data-color="turquoise">Additional Costs</div>
      <div class="js-data" data-value="19" data-color="petrol">Subscription Costs</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">TV</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <ul class="bar-chart__legend" id="legend"></ul>
</div>
```

```html_example
<div class="bg bg--light">
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend2">
    <div class="js-data-list">
      <div class="js-data" data-value="49" data-color="pink">Internet</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">Internet</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend2">
    <div class="js-data-list">
      <div class="js-data" data-value="98" data-color="orchid">TV</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">TV</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <ul class="bar-chart__legend" id="legend2"></ul>
</div>
```

### Dark styles
```html_example
<div class="bg bg--dark">
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend3">
    <div class="js-data-list">
      <div class="js-data" data-value="49" data-color="pink">Internet</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">Internet</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend3">
    <div class="js-data-list">
      <div class="js-data" data-value="98" data-color="turquoise">TV</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">TV</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <ul class="bar-chart__legend" id="legend3"></ul>
</div>
```

### Empty state
```html_example
<div class="bg bg--dark">
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend4">
    <div class="js-data-list">
      <div class="js-data" data-value="0" data-color="pink">Internet</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">Internet</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <div class="bar-chart-horizontal bar-chart-horizontal--split"
    data-init="auto" data-max="150" data-unit="CHF" data-precision="2" data-legend="#legend4">
    <div class="js-data-list">
      <div class="js-data" data-value="0" data-color="turquoise">TV</div>
    </div>
    <div class="bar-chart__detail">
      <div class="detail-left">TV</div>
      <div class="detail-right"></div>
    </div>
    <div class="bar-chart__progress"></div>
  </div>
  <ul class="bar-chart__legend" id="legend4"></ul>
</div>
```
*/

.bar-chart__progress {
  position: relative;

  width: 100%;
  height: $chart-bar-thickness;
  margin-bottom: 32px;

  .indicator {
    position: relative;
    float: left;

    width: 100%;
    height: $chart-bar-thickness;
  }

  .indicator-wrapper {
    position: relative;
    float: left;

    &:first-child {
      .indicator {
        border-radius: $chart-bar-thickness 0 0 $chart-bar-thickness;
      }
    }
  }
}

.bar-chart-horizontal {
  position: relative;

  min-width: $chart-bar-min-width;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  color: $color-gray;

  // Limited data chart styles
  // -------------------------

  &--limited {
    padding: 16px 22px 22px;

    background-color: $color-white;
    border-radius: 4px;

    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);

    .bar-chart__progress {
      margin: 7px 0 0 0;
      border-radius: $chart-bar-thickness;

      background-color: #d6dee2;
      overflow: hidden;
    }

    .detail-left {
      @include typo-bar-chart-unlimited-title;
      text-align: left;
    }

    .detail-bottom {
      @include typo-body-1;

      display: flex;

      margin-top: 12px;

      .value {
        display: inline-block;
        text-align: right;

        &:not(:first-child) {
          color: $color-gray-mid;

          &::before {
            content: '/ ';
          }

          &::after {
            content: '\00a0 ';
          }
        }
      }

      .unit {
        color: $color-gray-mid;
      }
    }
  }

  // Unlimited data chart styles
  // -------------------------

  &--unlimited {
    padding: 16px 22px 22px;

    background-color: $color-white;
    border-radius: 4px;

    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);

    .bar-chart__progress {
      margin: 14px 0 0 0;
    }

    > .bar-chart__detail {
      display: flex;
      justify-content: space-between;

      .detail-left {
        @include typo-bar-chart-unlimited-title;
        text-align: left;
      }

      .detail-right {
        @include typo-body-1;

        display: flex;

        .value {
          display: inline-block;
          text-align: right;

          &::before,
          &::after {
            content: '\00a0 ';
          }
        }

        .unit {
          color: $color-gray-mid;
        }
      }
    }
  }

  // Split data chart styles
  // -------------------------

  &--split {
    border-top: 1px solid $color-chart-divider;

    > .bar-chart__detail {

      display: flex;
      justify-content: space-between;

      margin: 13px 0 18px;
      padding-top: 8px;

      .detail-left {
        @include typo-body-1;

        text-align: left;
      }

      .detail-right {
        @include typo-body-1;

        display: flex;

        .value {
          @include font-semi-bold;

          display: inline-block;
          text-align: right;

          &::before,
          &::after {
            content: '\00a0 ';
          }

          &:nth-child(3) {
            &::before {
              font-weight: normal;

              content: ' / ';
              color: $color-gray-mid;
            }
          }
        }
      }
    }
  }
}

.bar-chart__legend {
  padding-top: 32px;
  border-top: 1px solid $color-chart-divider;
}

.bg--dark {
  .bar-chart-horizontal--split {
    border-top: 1px solid rgba(255, 255, 255, .4);

    .detail-left,
    .detail-right {
      @include font-smoothing;

      color: $color-white;
    }
  }

  .bar-chart__legend {
    border-top: 1px solid rgba(255, 255, 255, .4);
  }
}
