//
// Bar chart (vertical)
// --------------------------------------------------

/*doc
---
title: Bar chart (vertical)
name: 02-components-10-bar-chart-vertical-01
category: Components - Bar chart (vertical)
---

Bar charts enable us to display data in a visual and digestible way. They are most commonly used to plot comparable data over time or to show changes in data.

<div class="bar-chart-vertical" data-max="300" data-unit="CHF" style="max-width: 385px;" id="barChart01">
  <div class="chart-wrapper">
    <ul class="bar-chart__grid">
      <li>
        <div class="axis-y-label">300</div>
      </li>
      <li>
        <div class="axis-y-label">200</div>
      </li>
      <li>
        <div class="axis-y-label">100</div>
      </li>
    </ul>
    <ul class="chart js-chart"></ul>
  </div>
  <ul class="bar-chart__legend"></ul>
</div>

<script>
function getRandom(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}

document.addEventListener("DOMContentLoaded", function(event) {
  var data = {
    categories: [{
      title: "Subscription Cost",
      color: "turquoise"
    }, {
      title: "Additional Cost",
      color: "petrol"
    }],
    items: [{
      title: "Jan",
      values: [150, 140]
    },
    {
      title: "Feb",
      values: [110, 20]
    },{
      title: "Mar",
      values: [50, 120]
    },{
      title: "Apr",
      values: [0, 0],
      class: "hidden-phone-down"
    },{
      title: "May",
      values: [80, 30],
      class: "hidden-phone-down"
    }]
  }
  var barChart01 = new sdx.BarChartVertical(document.getElementById("barChart01"), data);

  document.getElementById("btnChartUpdate").addEventListener("click", function () {
    for (var i = 0; i < data.items.length; i++) {
      data.items[i].values[0] = getRandom(0, 280);
      data.items[i].values[1] = getRandom(0, 300 - data.items[i].values[0]);
    }

    barChart01.update(data)
  });
});

</script>

<button class="button button--secondary" id="btnChartUpdate">Update</button>

You can either define the data elements in the markup and use the `data-init="auto"` attribute. Or update the data values using the provided JavaScript component.
The data list is expected to be in the following format:

```js
{
    categories: [{
      title: "Subscription Cost",
      color: "turquoise"
    }, {
      title: "Additional Cost",
      color: "petrol"
    }],
    items: [{
      title: "Jan",
      values: [150, 140]
    },
    {
      title: "Feb",
      values: [110, 20]
    },{
      title: "Mar",
      values: [50, 120]
    },{
      title: "Apr",
      values: [0, 0],
      class: "hidden-phone-down"
    },{
      title: "May",
      values: [80, 30],
      class: "hidden-phone-down"
    }]
  }
```
<ul class="list">
  <li>
    <ul>
      <strong>Categories</strong><br>
      <p>The mandatory category list that defines the category title and the display color.</p>
      <li><strong>Title:</strong> The category title</li>
      <li><strong>Color:</strong> The sdx interaction color CSS class name or a valid hex color (eg `#ffffff`)</li>
    </ul>
  </li>
  <li>
    <ul>
        <strong>Items</strong><br>
        <p>The list of individual items and their data definitions.</p>
        <li><strong>Title:</strong> The data item title (x-axis label)</li>
        <li><strong>Values:</strong> The comma separated list of data values. Must be less or equal to the number of categories.</li>
        <li><strong>Class:</strong> The css class to append to the item, can be used to show/hide items on different breakpoints.</li>
      </ul>
  </li>
</ul>

In addition make sure to set the `data-unit` attribute to the desired value.

### Variations
*/

/*doc
---
title: Vertical data
name: 02-components-10-bar-chart-vertical-02
category: Components - Bar chart (vertical)
---

Vertical bar charts can be used to track and compare data with multiple variables, for example call time consumption over five months.
Charts can be displayed on light or dark backgrounds and use the content colour palette for treating data.

```html_example
<div class="bg">
  <h4>Vertical bar chart title</h4>
  <div class="bar-chart-vertical" data-init="auto" data-max="300" data-unit="CHF">
    <div class="js-data-list">
      <div class="js-category" data-color="turquoise">Subscription Cost</div>
      <div class="js-data" data-value="150>Jan</div>
      <div class="js-data" data-value="110">Feb</div>
      <div class="js-data" data-value="50">Mar</div>
      <div class="js-data" data-value="0" data-class="hidden-phone-down">Apr</div>
      <div class="js-data" data-value="80" data-class="hidden-phone-down">May</div>
    </div>
    <div class="chart-wrapper">
      <ul class="bar-chart__grid">
        <li><div class="axis-y-label">300</div></li>
        <li><div class="axis-y-label">200</div></li>
        <li><div class="axis-y-label">100</div></li>
      </ul>
      <ul class="chart js-chart"></ul>
    </div>
  </div>
</div>

<div class="bg bg--dark">
  <h4>Vertical bar chart title</h4>
  <div class="bar-chart-vertical" data-init="auto" data-max="300" data-unit="CHF">
    <div class="js-data-list">
      <div class="js-category" data-color="apple">Subscription Cost</div>
      <div class="js-data" data-value="0">Jan</div>
      <div class="js-data" data-value="0">Feb</div>
      <div class="js-data" data-value="280">Mar</div>
      <div class="js-data" data-value="240" data-class="hidden-phone-down">Apr</div>
      <div class="js-data" data-value="190" data-class="hidden-phone-down">May</div>
    </div>
    <div class="chart-wrapper">
      <ul class="bar-chart__grid">
        <li><div class="axis-y-label">300</div></li>
        <li><div class="axis-y-label">200</div></li>
        <li><div class="axis-y-label">100</div></li>
      </ul>
      <ul class="chart js-chart"></ul>
    </div>
  </div>
</div>
```
*/

/*doc
---
title: Split data
name: 02-components-10-bar-chart-vertical-03
category: Components - Bar chart (vertical)
---

Vertical data can also be split to show categories or groupings within a data set. When splitting data, a key (legend) should be used.

```html_example
<div class="bg">
  <h4>Vertical bar chart title</h4>
  <div class="bar-chart-vertical" data-init="auto" data-max="300" data-unit="CHF">
    <div class="js-data-list">
      <div class="js-category" data-color="turquoise">Subscription Cost</div>
      <div class="js-category" data-color="petrol">Additional Cost</div>
      <div class="js-data" data-value="150, 140">Jan</div>
      <div class="js-data" data-value="110, 20">Feb</div>
      <div class="js-data" data-value="50, 120">Mar</div>
      <div class="js-data" data-value="0, 0" data-class="hidden-phone-down">Apr</div>
      <div class="js-data" data-value="80, 30" data-class="hidden-phone-down">May</div>
    </div>
    <div class="chart-wrapper">
      <ul class="bar-chart__grid">
        <li><div class="axis-y-label">300</div></li>
        <li><div class="axis-y-label">200</div></li>
        <li><div class="axis-y-label">100</div></li>
      </ul>
      <ul class="chart js-chart"></ul>
    </div>
    <ul class="bar-chart__legend"></ul>
  </div>
</div>

<div class="bg bg--dark">
  <h4>Vertical bar chart title</h4>
  <div class="bar-chart-vertical" data-init="auto" data-max="300" data-unit="CHF">
    <div class="js-data-list">
      <div class="js-category" data-color="turquoise">Subscription Cost</div>
      <div class="js-category" data-color="petrol">Additional Cost</div>
      <div class="js-data" data-value="150, 140">Jan</div>
      <div class="js-data" data-value="110, 20">Feb</div>
      <div class="js-data" data-value="50, 120">Mar</div>
      <div class="js-data" data-value="0, 0" data-class="hidden-phone-down">Apr</div>
      <div class="js-data" data-value="80, 30" data-class="hidden-phone-down">May</div>
    </div>
    <div class="chart-wrapper">
      <ul class="bar-chart__grid">
        <li><div class="axis-y-label">300</div></li>
        <li><div class="axis-y-label">200</div></li>
        <li><div class="axis-y-label">100</div></li>
      </ul>
      <ul class="chart js-chart"></ul>
    </div>
    <ul class="bar-chart__legend"></ul>
  </div>
</div>
```
*/

$bar-chart-vertical-height: 172px;
$bar-chart-vertical-bottom: 54px;
$bar-chart-vertical-margin: 30px;

.bar-chart-vertical {
  min-width: $chart-bar-min-width;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .chart-wrapper {
    position: relative;
    height: 100%;

    margin-bottom: $bar-chart-vertical-bottom;
  }

  .chart {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin-left: $bar-chart-vertical-margin;
    height: $bar-chart-vertical-height;

    .indicator-wrapper {
      position: relative;

      // Unfortunately a height of 100% does not work on Safari so
      // we have to specify the height explicitly again.
      height: $bar-chart-vertical-height;
      min-width: 70px;
    }

    .indicator-wrapper-inner {
      position: absolute;

      bottom: 0;
      left: calc( 50% - #{($chart-bar-thickness * .5)});

      display: flex;
      flex-direction: column-reverse;
    }

    li {
      text-align: center;
      z-index: 1;

      &:first-child {
        .indicator-wrapper {
          min-width: 42px;
        }
      }

      &:hover {
        z-index: 100;
      }
    }

    .indicator {
      width: $chart-bar-thickness;

      margin: 0 auto;

      &:first-child {
        &::before {
          position: absolute;

          height: $chart-bar-thickness;
          width: $chart-bar-thickness;
          bottom: -$chart-bar-thickness + ($chart-bar-thickness * .5);

          transform: translateX(-4px);
          -ms-transform: translateX(0); // "workaround" for IE10 + 11

          content: '';
          background: inherit;

          border-radius: $chart-bar-thickness;
        }
      }

      &.empty {
        background-color: $color-chart-bar-vertical-empty;
      }
    }

    .axis-x-label {
      @include text-truncate;

      margin-top: 12px;

      font-size: 16px;
      align-content: center;
    }

    .tooltip--right {
      &::after {
        bottom: calc(50% - 4px);
      }
    }

    .tooltip--multiline {
      &::before {
        margin-bottom: -8px;
      }

      &::after {
        bottom: calc(50% - 7px);
      }
    }
  }

  .bar-chart__grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    li {
      border-top: 1px solid $color-gray-40;
      height: 33.333%;

      &:last-child {
        border-bottom: 1px solid $color-gray-40;
      }
    }

    .axis-y-label {
      @include text-truncate;

      display: inline-block;

      width: $bar-chart-vertical-margin;

      font-size: 14px;
    }
  }

  .bar-chart__legend {
    padding-top: 0;
    border-top: 0;
  }
}

.bg--dark {
  .bar-chart__grid li {
    border-top: 1px solid rgba(255, 255, 255, .4);

    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, .4);
    }
  }
}
