
.bar-chart-horizontal,
.bar-chart-vertical,
.pie-chart {

  .js-data,
  .js-data-list {
    display: none;
  }

  .tooltip {
    &::before {
      margin-bottom: -13px;
    }

    &::after {
      bottom: calc(100% + 5px);

      min-width: 200px;
      font-size: 14px;
    }
  }
}

.bar-chart__legend,
.pie-chart__legend {
  @include typo-body-1;
  @include font-smoothing;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  min-height: 24px;

  margin-top: 29px;
  margin-bottom: 28px;

  li {
    margin: 0 20px 0 0;

    &::before {
      content: '';
    }

    .bullet {
      display: inline-block;

      width: 10px;
      height: 10px;

      margin-right: 7px;
      border-radius: 50%;
    }
  }
}

// Chart Colors
// --------------------------------------------------

.pie-chart__legend,
.bar-chart__legend,
.bar-chart-horizontal,
.bar-chart-vertical {
  .orchid {
    background-color: $color-orchid;

    &--active {
      background-color: $color-orchid--active;
    }
  }

  .iris {
    background-color: $color-iris;

    &--active {
      background-color: $color-iris--active;
    }
  }

  .pink {
    background-color: $color-pink;

    &--active {
      background-color: $color-pink--active;
    }
  }

  .turquoise {
    background-color: $color-turquoise;

    &--active {
      background-color: $color-turquoise--active;
    }
  }

  .apple {
    background-color: $color-apple;

    &--active {
      background-color: $color-apple--active;
    }
  }

  .petrol {
    background-color: $color-petrol;

    &--active {
      background-color: $color-petrol--active;
    }
  }
}
