//
// Cards
// --------------------------------------------------

/*doc
---
title: Pie charts
name: 02-components-08-pie-charts-01
category: Components - Pie charts
---

Pie charts are used to show percentage based data. Data is shown in segments of different colours,
with the sum total equalling 100%.

<script>
function getRandom(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}

function getRandomData() {
  var data = [
    {
      title: "Photos",
      color: "petrol"
    },
    {
      title: "Files",
      color: "orchid"
    },
    {
      title: "Videos",
      color: "apple"
    },
    {
      title: "Available",
      color: "#e0e6e9"
    }
  ]

  for (var i = 0; i < data.length; i++) {
    data[i].value = getRandom(2, 20);
  }

  return data;
}

document.addEventListener("DOMContentLoaded", function(event) {
  var pieChart = new sdx.PieChart(document.getElementById("pieChart01"));

  document.getElementById("btnChartUpdate").addEventListener("click", function () {
    var data = getRandomData();
    pieChart.update(data);
  });
});

</script>

<button class="button button--secondary" id="btnChartUpdate">Update</button>

```html_example
<div class="pie-chart" data-init="none" data-unit="GB" id="pieChart01">
  <div class="js-data-list">
    <div class="js-data" data-value="2" data-color="petrol">Photos</div>
    <div class="js-data" data-value="2" data-color="orchid">Files</div>
    <div class="js-data" data-value="3" data-color="apple">Videos</div>
    <div class="js-data" data-value="10" data-color="#e0e6e9">Available</div>
  </div>
  <div class="chart-wrapper">
    <div class="js-chart"></div>
    <div class="meta">
      <div class="title">15 GB</div>
      <div class="subtitle">Available</div>
    </div>
  </div>
  <ul class="pie-chart__legend js-legend"></ul>
</div>
```

You can either define the data elements in the markup and use the `data-init="auto"` attribute. Or update the data values using the provided JavaScript component.
The data list is expected to be in the following format:

```js
[
  {
    title: "Photos",
    color: "petrol",
    value: 12
  },
  {
    title: "Files",
    color: "orchid"
    value: 2
  }
]
```

**Title:** The segment data title<br>
**Color:** The sdx interaction color CSS class name or a valid hex color (eg `#ffffff`)<br>
**Value:** The value of the current segment as integer or floating point number<br>

In addition make sure to set the `data-unit` attribute to the desired value.

# Variations
*/

/*doc
---
title: Stacked
name: 02-components-08-pie-charts-02
category: Components - Pie charts
---

The stacked version positions the data key underneath the pie chart.
This version is used when horizontal space is restricted, for example on narrow viewports like mobile
or when the pie chart is displayed within a card or a narrow column.

```html_example
<div class="pie-chart pie-chart--stacked" data-init="auto" data-unit="GB">
  <div class="js-data-list">
    <div class="js-data" data-value="2" data-color="petrol">Photos</div>
    <div class="js-data" data-value="2" data-color="orchid">Files</div>
    <div class="js-data" data-value="3" data-color="apple">Videos</div>
    <div class="js-data" data-value="10" data-color="#e0e6e9">Available</div>
  </div>
  <div class="chart-wrapper">
    <div class="js-chart"></div>
    <div class="meta">
      <div class="title">10 GB</div>
      <div class="subtitle">Available</div>
    </div>
  </div>
  <ul class="pie-chart__legend js-legend"></ul>
</div>
```
*/

/*doc
---
title: Dark style
name: 02-components-08-pie-charts-04
category: Components - Pie charts
---

The standard and the stacked pie chart both support dark backrounds by default. Just put them in a `bg bg--dark` container
and they will adapt their style accordingly.

```html_example
<div class="bg bg--dark">
  <div class="pie-chart" data-init="auto" data-unit="GB">
    <div class="js-data-list">
      <div class="js-data" data-value="2" data-color="petrol">Photos</div>
      <div class="js-data" data-value="2" data-color="orchid">Files</div>
      <div class="js-data" data-value="3" data-color="apple">Videos</div>
      <div class="js-data" data-value="10" data-color="#e0e6e9">Available</div>
    </div>
    <div class="chart-wrapper">
      <div class="js-chart"></div>
      <div class="meta">
        <div class="title">10 GB</div>
        <div class="subtitle">Available</div>
      </div>
    </div>
    <ul class="pie-chart__legend js-legend"></ul>
  </div>
</div>
```
*/

/*doc
---
title: Empty State
name: 02-components-08-pie-charts-05
category: Components - Pie charts
---

The empty state is implemented using a pie chart with only one data element definition.

```html_example
<div class="pie-chart" data-init="auto" data-unit="GB">
  <div class="js-data-list">
    <div class="js-data" data-value="15" data-color="#E0E6E9">Storage</div>
  </div>
  <div class="chart-wrapper">
    <div class="js-chart"></div>
    <div class="meta">
      <div class="title">15 GB</div>
      <div class="subtitle">Storage</div>
    </div>
  </div>
  <ul class="pie-chart__legend js-legend"></ul>
</div>
```
*/

// --------------------------------------------------

$pie-chart-height: 182px;
$pie-chart-offset: 10px;

.pie-chart {
  position: relative;

  .js-chart {
    position: relative;

    height: $pie-chart-height;
    width: $pie-chart-height;

    text-align: center;
    margin: 0 auto;

    transform: rotate(-90deg);

    > svg {
      position: absolute;
      top: 0;
      left: 0;

      width: $pie-chart-height;
      height: $pie-chart-height;

      fill: transparent;
      stroke-width: 2;
      stroke-linecap: round;
    }
  }

  .meta {
    @include typo-pie-chart-title;

    position: absolute;
    display: flex;

    top: $pie-chart-offset;
    left: 0;

    width: $pie-chart-height;
    height: $pie-chart-height - $pie-chart-offset;

    margin: 0 auto;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .subtitle {
      @include font-light;

      font-size: 16px;
      color: $color-gray-mid;
      text-transform: capitalize;
    }
  }

  .chart-wrapper {
    position: relative;

    margin: 20px auto;
    width: $pie-chart-height;
  }

  // Stacked pie chart
  // --------------------------------------------------

  &--stacked {
    display: flex;
    justify-content: center;

    .chart-wrapper {
      margin: 20px;
    }

    .pie-chart__legend {
      flex-direction: column;
      align-items: flex-start;

      margin-left: 32px;

      li {
        margin-bottom: 5px;
      }

      .bullet {
        margin-right: 10px;
      }
    }
  }

  // Chart Colors
  // --------------------------------------------------

  .orchid {
    stroke: $color-orchid;

    &--active {
      stroke: $color-orchid--active;
    }
  }

  .iris {
    stroke: $color-iris;

    &--active {
      stroke: $color-iris--active;
    }
  }

  .pink {
    stroke: $color-pink;

    &--active {
      stroke: $color-pink--active;
    }
  }

  .turquoise {
    stroke: $color-turquoise;

    &--active {
      stroke: $color-turquoise--active;
    }
  }

  .apple {
    stroke: $color-apple;

    &--active {
      stroke: $color-apple--active;
    }
  }

  .petrol {
    stroke: $color-petrol;

    &--active {
      stroke: $color-petrol--active;
    }
  }

  // Chart Legend
  // --------------------------------------------------

  &__legend {
    align-items: center;
    justify-content: center;
  }
}

// Dark Background
// --------------------------------------------------

.bg--dark {
  .pie-chart {
    .meta .subtitle {
      color: $color-white;
    }
  }
}
