<script src="./VendorContainer.js"></script>
<style src="./VendorContainer.scss" lang="scss" scoped></style>
<template>
  <div class="vendorContainer card card--dark card--blue">
    <h3>Vendor ONU</h3>
    <div class="vendor_button_container">
      <button
        v-for="vendor of vendors"
        :key="vendor.name"
        class="button button--secondary width margin-h-1 vendor"
        v-on:click="populateForm(vendor)"
      >
        {{vendor.name}}
      </button>
    </div>
  </div>
</template>
