.vendorContainer {
    flex-shrink: 4;
    flex-grow: 1;
    padding: 0.6em;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        margin-bottom: 0.25em;
    }

    button {
        width: 100%;
        margin: 0.1em 0;
    }
}

.vendor_button_container {
    /*flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;*/

    button {
        margin-top: 20px;
    }
}

.vendorContainer {
    margin-right: 10px;
}
