//
// Navigation Level 1 / Mega Menu
// --------------------------------------------------

.nav__level1 {
  position: relative;
  float: none;

  height: $navigation-level1-height;
  border-bottom: 1px solid $color-nav-divider;

  background: $color-nav-bg;

  transform-origin: bottom;

  z-index: $zindex-navigation + 100;

  .nav-section {
    margin: 30px 0 -6px;

    .nav-col {
      padding-bottom: 36px;
    }
  }

  a,
  button {
    &.nav-icon,
    &.nav-title,
    &.nav-link {
      color: $color-nav-link;

      &:focus,
      &:hover {
        color: $color-nav-link--active;
      }
    }
  }

  .nav-icon {
    font-size: 26px;
  }

  // Main Navigation
  // --------------------------------------------------

  .nav__mainnav {
    width: 100%;
    height: $navigation-level1-height;

    .nav-item {
      float: left;
      margin: 0;
    }

    .nav-link {
      @include typo-nav-level1;

      text-decoration: none;
      white-space: nowrap;
    }

    // Navigation Types
    // -------------------------

    > .nav {
      &__primary,
      &__secondary {
        .nav-item {
          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      // Primary Navigation
      // -------------------------

      &__primary {
        float: left;
        padding-top: 24px;

        .nav-item {
          margin-right: 28px;
        }

        .nav-link {
          color: $color-nav-link;

          .text-underline {
            position: relative;
            pointer-events: none;

            &::before {
              position: absolute;
              top: 34px;

              width: 100%;
              height: 1px;

              pointer-events: none;

              background-color: $color-nav-link;

              transform: scaleX(0);
              transition: all 200ms $standard-easing;

              content: '';
            }
          }

          &--header {
            content: '';
          }

          &.is-active,
          &--active {
            .text-underline {
              &::before {
                transform: scaleX(1);
              }
            }
          }

          &:hover {
            color: $color-nav-link--active;

            .text-underline {
              &::before {
                background-color: $color-nav-link--active;
              }
            }
          }
        }
      }

      // Secondary Navigation
      // -------------------------

      &__secondary {
        float: right;

        padding-top: 28px;

        .nav-item {
          margin-left: 20px;
        }
      }
    }
  }

  // Sub Navigation
  // --------------------------------------------------

  .nav__subnav {
    position: absolute;
    left: 0;
    top: $navigation-level1-height;

    width: 100%;

    background: $color-nav-menu-bg;

    .nav-body,
    .nav-footer {
      position: relative;
      overflow: hidden;

      display: none;
      height: 0;

      &.is-open {
        display: block;
        height: 100%;
      }

      .nav-item {
        margin: 0;
      }
    }

    .nav-footer {
      background: $color-nav-footer-bg;

      .offer {
        padding: 23px 0 24px;

        &--first {
          border-right: 1px solid $color-nav-divider;
        }

        &__items {
          margin-top: 8px;

          .offer__image {
            float: left;
            margin-right: 18px;
          }

          .offer__content {
            display: table;
            word-wrap: normal;
          }
        }
      }
    }

    // Nav Section
    // -------------------------

    .nav-section {
      .nav-col {
        opacity: 0;

        transition: opacity 500ms $standard-easing;

        break-inside: avoid;

        @include bp-xl {
          break-after: column;
        }

        &.is-active {
          opacity: 1;
        }
      }
    }

    .nav-title {
      @include typo-nav-content-title;
    }

    .nav-link {
      @include typo-nav-content-text;

      text-decoration: none;
      white-space: normal;
    }

    .nav-items {
      display: flex;
      flex-direction: column;

      margin-top: 8px;
    }

    .nav-item {
      position: relative;
      float: left;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  // Mobile Styles
  // --------------------------------------------------

  @include bp-phone-max {

    .nav__mainnav {
      .nav__primary {
        display: none;

        position: absolute;
        left: 0;
        top: $navigation-level1-height;

        width: 100%;
        height: 0;

        padding: 0;
        margin: 0;

        background: $color-nav-bg;

        overflow: hidden;

        &.is-open {
          display: block;
          height: auto;
        }

        .nav-item {
          width: 100%;
          margin: 0;
        }

        .nav-link {
          display: block;
          height: $navigation-level1-height;

          padding: 24px $navigation-margin-width 20px;

          border-bottom: 1px solid $color-nav-divider;

          &--header {
            display: flex;
            justify-content: space-between;

            .arrow-icon {
              @include arrow($color-nav-link);
              @include arrow--down;

              display: inline-block;

              left: 0;
              width: 16px;

              margin-bottom: 1px;

              pointer-events: none;

              transform-origin: 50% 50%;
            }
          }

          &.is-active,
          &--active {
            .arrow-icon {
              @include arrow--up;
            }
          }

          &:hover {
            .arrow-icon {
              @include arrow($color-nav-link--active);
            }
          }
        }
      }

      .nav__subnav {
        position: static;
        left: 0;
        top: 0;

        .container {
          padding: 0;
          margin: 0;
        }

        .nav-footer,
        .offer {
          overflow: hidden;
          display: none;
        }

        .nav-section {
          margin: 0;
        }

        .nav-col {
          padding: 15px $navigation-margin-width;
          border-bottom: 1px solid $color-nav-divider;
        }

        .nav-title {
          @include font-semi-light;
        }

        .nav-items {
          margin: 0;
        }

        .nav-item {
          display: none;
        }
      }
    }
  }
}
