//
// Navigation
// --------------------------------------------------

/*doc
---
title: Overview
name: 03-patterns-05-navigation-01-overview
category: Patterns - Navigation
---

Navigation, in its various forms, is what enables users to find their way around products and services. Navigation types all follow a uniform aesthetic, but have different placement and structures to best serve various product types and sizes.

## Primary navigation
Primary navigation is the basic system to which navigation should be structured across various screen sizes. Surfacing key page links in a page header, along with core functionality specific to the product. In this example, basket and search are surfaced at the top level. This system collapses into a burger menu on smaller screen sizes to help the nav accommodate a larger variety of links and functionality.

### Navigation sample
A responsive test page for the Navigation is available at [samples/navigation](/samples/navigation.html).

### Nova sample
The responsive test-page in the *nova* variation [samples/navigation-nova](/samples/navigation-nova.html).
*/


// Navigation wrapper styles
// --------------------------------------------------

.nav {

  // Import Reset / Generic
  // -------------------------

  @import 'reset';
  @import 'generic';

  // -------------------------

  // Set Nav Position and Background
  // -------------------------

  position: relative; // needed for search overlay

  z-index: $zindex-navigation;

  background: $color-nav-bg;

  // Responsive Nav Container
  // -------------------------

  .container {
    @include make-nav-container;
  }

  // Responsive Nav Section
  // -------------------------

  @include make-nav-section-columns(nav-section);

  .nav-section {
    margin: 24px 0;

    .nav-col {
      width: 100%;
      padding-bottom: 10px;

      overflow: hidden;
    }
  }

  // Swisscom Logo
  // -------------------------

  .logo {
    float: left;

    margin-left: -18px;
    margin-right: 37px;

    margin-top: 22px;

    @include bp-xl {
      margin-right: 80px;
    }

    @include bp-ul {
      margin-right: 106px;
    }

    @include bp-xs-max {
      .logo-type {
        display: none;
      }
    }
  }

  // Imports
  // -------------------------

  @import 'level0';
  @import 'level1';
  @import 'level2';
}
