//
// Navigation Top
// --------------------------------------------------

.nav-top {

  // Import Reset / Generic
  // -------------------------

  @import 'reset';
  @import 'generic';

  // Responsive Nav Container
  // -------------------------

  .container {
    @include make-nav-container;
  }

  // Swisscom Logo
  // -------------------------

  .logo {
    margin-left: -18px;

    @include bp-xs-max {
      .logo-type {
        display: none;
      }
    }
  }

  // Navigation Styles
  // --------------------------------------------------

  position: relative;

  height: $navigation-level1-height;
  border-bottom: 1px solid $color-nav-divider;

  background: $color-nav-bg;

  transform-origin: bottom;

  z-index: $zindex-navigation + 100;

  .nav-section {
    margin: 30px 0 -6px;

    .nav-col {
      padding-bottom: 36px;
    }
  }

  .nav-item {
    float: left;

    margin: 0;
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  a,
  button {
    &.nav-icon,
    &.nav-link {
      color: $color-nav-link;

      &:focus,
      &:hover {
        color: $color-nav-link--active;
      }
    }
  }

  .nav-icon {
    font-size: 26px;
  }

  .nav-link {
    @include typo-nav-level1;
    @include text-truncate;

    overflow: hidden;

    color: $color-nav-link;

    .text-underline {
      position: relative;
      pointer-events: none;

      &::before {
        position: absolute;
        top: 34px;

        width: 100%;
        height: 1px;

        pointer-events: none;

        background-color: $color-nav-link;

        transform: scaleX(0);
        transition: all 200ms $standard-easing;

        content: '';
      }
    }

    &.is-active,
    &--active {
      .text-underline {
        &::before {
          transform: scaleX(1);
        }
      }
    }

    &:hover {
      color: $color-nav-link--active;

      .text-underline {
        &::before {
          background-color: $color-nav-link--active;
        }
      }
    }
  }

  // Navigation Wrapper
  // --------------------------------------------------

  .nav__wrapper {
    display: flex;

    width: 100%;
    height: $navigation-level1-height;

    // Navigation Types
    // -------------------------

    > .nav__menu {
      display: flex;

      flex: 1 1 100%;
      justify-content: flex-start;

      padding-top: 24px;

      > * {
        display: inherit;
      }

      // Menu Styles
      // -------------------------

      &--logo {
        padding-top: 22px;
      }

      &--icon {
        padding-top: 28px;

        .nav-item {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      // Menu Position Styles
      // -------------------------

      &--left {
        flex: 1 0 0%;
        justify-content: flex-start;

        margin-right: 36px;
      }

      &--center {
        flex: 0 1 auto;
        justify-content: center;
      }

      &--right {
        flex: 1 0 0%;
        justify-content: flex-end;

        margin-left: 36px;
      }
    }
  }

  // Mobile Styles
  // --------------------------------------------------

  @include bp-phone-max {

    .nav-toggle {
      display: block;

      &.is-open {
        .nav-link {
          .arrow-icon {
            @include arrow--up;
          }
        }
      }

      .nav-link {
        display: flex;

        .arrow-icon {
          @include arrow($color-nav-link);
          @include arrow--down;

          display: inline-block;

          left: 0;
          width: 16px;

          margin-bottom: 1px;
          margin-left: 16px;

          pointer-events: none;

          transform-origin: 50% 50%;
        }

        &:hover {
          color: $color-nav-link;

          .arrow-icon {
            @include arrow($color-nav-link);
          }
        }
      }
    }

    .nav-collapse {
      display: none;

      position: absolute;
      top: $navigation-level1-height;
      left: 0;
      width: 100%;
      height: 0;

      overflow: hidden;

      background: $color-white;

      &.is-open {
        display: block;
        height: auto;
      }

      .nav-item {
        width: 100%;
        margin: 0;

        text-align: center;
      }

      .nav-link {
        display: block;
        height: $navigation-level1-height;

        padding: 24px $navigation-margin-width 20px;

        border-bottom: 1px solid $color-nav-divider;
      }
    }
  }
}
