//
// Side Navigation
// --------------------------------------------------

/*doc
---
title: Side Navigation
name: 03-patterns-06-side-navigation-01-overview
category: Patterns - Side Navigation
---

For shallower products and services, a combination of a primary and side navigation can be used. The primary navigation is this case is used to contain sub navigation elements specific to that page, while a burger menu contains global page navigation links for the the rest of the product.

## Alignment options

Side navigation is available in both left and right hand versions. When using the left side navigation option, the Swisscom logo should be present within the side navigation.

#### Left hand side navigation
A sample is available at [samples/navigation-side-left](/samples/navigation-side-left.html).

#### Right hand side navigation
A sample is available at [samples/navigation-side-right](/samples/navigation-side-right.html).

*/

.nav-side {

  // Import Reset / Generic
  // -------------------------

  @import 'reset';
  @import 'generic';

  // -------------------------

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  width: $navigation-side-width;
  height: 100%;

  background: $color-horizon;

  overflow-y: auto;

  z-index: $zindex-navigation + 500;

  // Menu Position
  // -------------------------

  &,
  &--left {
    left: -$navigation-side-width;

    &.is-open {
      left: 0;
    }

    // Set Sitewrapper
    // -------------------------

    ~ .site-wrapper {
      position: relative;
      left: 0;

      &.is-open {
        left: $navigation-side-width;
      }
    }
  }

  &--right {
    left: auto;
    right: -$navigation-side-width;

    &.is-open {
      left: auto;
      right: 0;
    }

    // Set Sitewrapper
    // -------------------------

    ~ .site-wrapper.is-open {
      left: -$navigation-side-width;
    }
  }

  // Swisscom Logo
  // -------------------------

  .logo {
    display: block;

    margin: 0 30px 30px;
  }

  // Item Styles
  // -------------------------

  .nav-items {
    flex: 1 1 auto;

    margin: 30px 36px;

    // Item Border Styles
    // -------------------------

    &--border {
      .nav-item {
        &:not(:last-child) {
          border-bottom: 1px solid $color-aluminum;
        }
      }
    }
  }

  .nav-item {
    width: 100%;

    .nav-link {
      display: flex;

      padding: 10px 0 9px;

      color: $color-navy;

      align-items: center;

      .text-underline {
        position: relative;
        pointer-events: none;

        &::before {
          position: absolute;
          top: 24px;

          width: 100%;
          height: 1px;

          pointer-events: none;

          background-color: $color-nav-link;

          transform: scaleX(0);
          transition: all 200ms $standard-easing;

          content: '';
        }
      }

      &.is-active,
      &--active {
        .text-underline {
          &::before {
            transform: scaleX(1);
          }
        }
      }

      &:hover {
        color: $color-nav-link--active;

        .text-underline {
          &::before {
            background-color: $color-nav-link--active;
          }
        }
      }
    }

    .icon {
      margin-right: 16px;

      font-size: 30px;
      text-align: center;
    }

    &--active {
      .nav-link {
        color: $color-int-blue;
      }
    }
  }

  // Mobile Styles
  // --------------------------------------------------

  @include bp-phone-max {

    width: $navigation-side-mobile-width;

    // Menu Position
    // -------------------------

    &,
    &--left {
      // Set Sitewrapper
      // -------------------------

      ~ .site-wrapper.is-open {
        left: $navigation-side-mobile-width;
      }
    }

    &--right {
      left: auto;
      right: -$navigation-side-mobile-width;

      // Set Sitewrapper
      // -------------------------

      ~ .site-wrapper.is-open {
        left: -$navigation-side-mobile-width;
      }
    }

    // Swisscom Logo
    // -------------------------

    .logo {
      margin: 0 14px 14px;
    }

    // Item Styles
    // -------------------------

    .nav-items {
      margin: 30px 20px;
    }
  }
}
