//
// Divider
// --------------------------------------------------

/*doc
---
title: Dividers
name: 02-components-15-divider
category: Components - Divider
---
Dividers group and separate content within lists and page layouts. The divider is a thin rule, lightweight yet sufficient to distinguish content visually and spatially.

SDX dividers default to "full-bleed", eg (full width).

```html_example
<p>This text is above the divider</p>
<hr/>
<p>This text is below the divider</p>
```

####Light background dividers
There are three tiers of contrast on light backgrounds for divider lines, pick the most appropriate for your designs

```html_example
<p>Light gray divider</p>
<div class="divider divider--light-gray"></div>
<p>Mid gray divider</p>
<div class="divider divider--mid-gray"></div>
<p>Dark gray divider</p>
<div class="divider divider--dark-gray"></div>
```

####Dark background dividers
There is only one contrast option on darker backgrounds

```html_example
<div class="bg bg--dark">
  <p>This text is above the divider</p>
  <div class="divider"></div>
  <p>This text is below the divider</p>
</div>
```
*/


// --------------------------------------------------


hr,
.divider {
  margin: 32px 0;

  border: 0;
  border-bottom: 1px solid $color-gray-20;

  &--light-gray {
    border-bottom-color: $color-gray-20;
  }

  &--mid-gray {
    border-bottom-color: $color-gray-40;
  }

  &--dark-gray {
    border-bottom-color: $color-gray-80;
  }

  // should only be used on dark backgrounds
  &--white {
    border-bottom-color: transparentize($color-white, .4);
  }
}

// Dark Background
// -------------------------

.bg--dark {
  hr,
  .divider {
    border: 0;
    border-bottom: 1px solid transparentize($color-white, .4);
  }
}
