// Arrow normal
// --------------------------------------------------

@mixin arrow($color) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 50%;

    transition: all 200ms $standard-easing;

    border-radius: 2px;
    background: $color;

    width: 10px;
    height: 2px;

    backface-visibility: hidden;

    content: '';
  }

  &::before {
    left: 0;
  }

  &::after {
    left: 6px;
  }
}

@mixin arrow--down {
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@mixin arrow--up {
  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}


// Arrow flat
// --------------------------------------------------

@mixin arrow-flat($color) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 50%;

    transition: all 200ms $standard-easing;

    border-radius: 3px;
    background: $color;

    width: 20px;
    height: 3px;

    backface-visibility: hidden;

    content: '';
  }

  &::before {
    left: 0;
  }

  &::after {
    left: 15px;
  }
}

@mixin arrow-flat--down {
  &::before {
    transform: rotate(35deg);
  }

  &::after {
    transform: rotate(-35deg);
  }
}

@mixin arrow-flat--up {
  &::before {
    transform: rotate(-35deg);
  }

  &::after {
    transform: rotate(35deg);
  }
}
