//
// Core mixins
// --------------------------------------------------

@mixin body() {
  @include font-sans;
  @include font-light;
  @include typo-body-1;

  background-color: $color-white;

  text-rendering: optimizeLegibility;

  color: $color-gray;

  box-sizing: border-box;
}
