//
// Generic Mixins
// --------------------------------------------------

// Center-align a block level element
// -------------------------

@mixin center-block {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

// WebKit-style focus
// -------------------------

@mixin tab-focus {
  // Default
  outline: thin dotted;

  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Background svg mixin
@mixin background-svg($svg) {
  background-image: svg-url($svg);
}
