//
// Grid
// --------------------------------------------------

// This Grid is based on the Bootstrap Grid.
// Credit: Bootstrap

// --------------------------------------------------

/*doc
---
title: Grid
name: 01-foundation-04-grid-01
category: Foundation - Grid
---

<style>
.exampleOutput .row {
  margin-bottom: 15px;
}

.exampleOutput .row [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ECF0F1;
  border: 1px solid #95A5A6;
}
</style>

<!-- -------------------------------------------------- -->

The SDX library includes a responsive, mobile first 12 column grid system.
It includes predefined classes for easy layout options and is based on Bootstrap's Grid component.

The grid is using a flexbox based system by default.

## Introduction
Grid systems are used for creating page layouts through a series of rows and columns that house your content. Here's how the Bootstrap grid system works:
<ul class="list">
  <li>Rows must be placed within a `.container` (fixed-width) or `.container-fluid` (full-width) for proper alignment and padding. Use rows to create horizontal groups of columns.</li>
  <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
  <li>Predefined grid classes like `.row` and `.col-xs-4` are available for quickly making grid layouts. Sass mixins can also be used for more semantic layouts.</li>
  <li>Columns create gutters (gaps between column content) via `padding`. That padding is offset in rows for the first and last column via negative margin on .rows.</li>
  <li>The negative margin is why the examples below are outdented. It's so that content within grid columns is lined up with non-grid content.</li>
  <li>Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three equal columns would use three `.col-xs-4`.</li>
  <li>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.</li>
  <li>Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid classes targeted at smaller devices. Therefore, e.g. applying any `.col-md-*` class to an element will not only affect its styling on medium devices but also on large devices if a `.col-lg-*` class is not present.</li>
</ul>

Look to the examples for applying these principles to your code: [samples/Grid](/samples/grid.html).


<!-- -------------------------------------------------- -->

## Media queries
We use the following media queries in our Sass files to create the key breakpoints in our grid system.

Breakpoint     | Minimal container-width | Maximal container-width | Grid Column class
-------------- | ----------------------- | ----------------------- | --------------------
Ultra Large    | 1440px                  | -                       | `col-ul-*`
Extra Large    | 1280px                  | 1439px                  | `col-xl-*`
Large          | 1024px                  | 1279px                  | `col-lg-*`
Medium         | 768px                   | 1023px                  | `col-md-*`
Small          | 480px                   | 767px                   | `col-sm-*`
Extra Small    | 0px                     | 479px                   | `col-xs-*`

A sample for testing the various breakpoints is available at [samples/Grid](/samples/grid.html).


<!-- -------------------------------------------------- -->

## Sample Stacked-to-horizontal
Using a set of `.col-md-*` grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any `.row`.

```html_example
<div class="row show-grid">
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
  <div class="col-xs-12 col-md-1">.col-md-1</div>
</div>
<div class="row show-grid">
  <div class="col-xs-12 col-md-8">.col-md-8</div>
  <div class="col-xs-12 col-md-4">.col-md-4</div>
</div>
<div class="row show-grid">
  <div class="col-xs-12 col-md-4">.col-md-4</div>
  <div class="col-xs-12 col-md-4">.col-md-4</div>
  <div class="col-xs-12 col-md-4">.col-md-4</div>
</div>
<div class="row show-grid">
  <div class="col-xs-12 col-md-6">.col-md-6</div>
  <div class="col-xs-12 col-md-6">.col-md-6</div>
</div>
```
*/


// --------------------------------------------------


// Container widths
//
// Set the container width.

.container {
  @include make-container-fluid(xs);

  @include make-container-fixed(sm);
  @include make-container-fixed(md);
  @include make-container-fixed(lg);
  @include make-container-fixed(xl);
  @include make-container-fixed(ul);
}

.container-fluid {
  @include make-container-fluid(xs);
}

// --------------------------------------------------

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row();
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

// --------------------------------------------------

// Columns
//
// Common styles for small and large grid columns.

@include make-grid-columns();
