//
// Contextual Menu
// --------------------------------------------------

/*doc
---
title: Contextual Menu
name: 02-components-14-menu-02-context
category: Components - Menus (flyout and contextual)
---

<style>
  .exampleOutput .context {
    position: relative;
    bottom: auto;
    max-width: 320px;
  }
</style>

Contextual menus are used to surface additional functionality relevant to a page on native applications, while still prioritising a key function that is most commonly used in that instance. The additional functionality is hidden inside an ellipsis icon.

**NOTE:** This component should only be used on the `phone` breakpoint and is not intended to be used on tablets and desktop breakpoints. For tablets and desktop it is recommended to use a flyout menu instead.

```html_example
<div class="context">
  <div class="context__primary">
    <a class="context-link" href="javascript:void(0);">
      Check voicemail
    </a>
    <button class="context-link context-link--more" data-init="auto", data-toggle="flyout", data-target="#context">
      <i class="icon icon-053-more"></i>
    </button>
  </div>

  <div id="context" class="context__secondary js-flyout">
    <ul>
      <li>
        <a class="context-link" href="javascript:void(0);">View itemised statement</a>
      </li>
      <li>
        <a class="context-link" href="javascript:void(0);">Apply for extension</a>
      </li>
      <li>
        <a class="context-link" href="javascript:void(0);">Download PDF bill</a>
      </li>
    </ul>
  </div>
</div>
```
*/


// --------------------------------------------------


.context {
  position: fixed;
  bottom: 0;

  width: 100%;

  z-index: $zindex-menu;

  background: $color-white;
  box-shadow: 0 0 4px 0 rgba($color-black, .2);

  // -------------------------

  .context-link {
    @include text-truncate;

    display: inline-block;

    width: 100%;
    height: $menu-context-height;

    padding: 0 24px;

    flex: 1;

    color: $color-int-blue;

    border: 0;
    background: $color-white;

    line-height: $menu-context-height;

    vertical-align: middle;
    text-align: center;
  }

  // -------------------------

  &__primary {
    display: flex;

    position: relative;
    width: 100%;
    height: $menu-context-height;

    z-index: $zindex-menu + 10;

    .context-link {
      color: $color-white;
      background: $color-int-blue;

      &:not(:last-child) {
        border-right: 1px solid $color-aluminum-80;
      }

      &--more {
        width: $menu-context-height;
        padding: 0;

        flex: 0 0 auto;

        font-size: 40px;

        &.is-open {
          color: $color-int-blue;
          background: $color-white;
        }
      }
    }
  }

  // -------------------------

  &__secondary {
    display: none;

    position: absolute;
    bottom: $menu-context-height;

    width: 100%;

    padding: 0;

    opacity: 0;

    background: $color-white;
    box-shadow: 0 0 4px 0 rgba($color-black, .2);

    z-index: $zindex-menu + 5;

    &.is-open {
      display: block;
      opacity: 1;
    }

    li {
      border-bottom: 1px solid $color-aluminum-80;
    }
  }

  // -------------------------

  &--flyout {
    position: initial;

    display: flex;
    justify-content: space-between;

    padding: 24px;
    box-shadow: none;

    .flyout-icon {
      color: $color-navy;
    }

    ~ .flyout {
      top: 67px;
      right: 20px;
      max-width: 280px;
      width: 100%;

      &::before {
        right: 13px;
      }
    }
  }
}
