//
// Flyout Menu
// --------------------------------------------------

/*doc
---
title: Flyout Menu
name: 02-components-14-menu-01-flyout
category: Components - Menus (flyout and contextual)
---

## Regular flyout menu

Regular menus, or ‘flyouts’ are used to reveal functionality that’s behind an icon other than the navigation, such as settings and preferences, or glance views of your basket.

```html_example
<div class="text-align-right">
  <button data-init="auto", data-toggle="flyout", data-target="#flyout-list">
    <i class="icon icon-001-account icon--s2"></i>
  </button>
</div>
<div id="flyout-list" class="flyout flyout--list flyout--right js-flyout" style="top: 70px; right: 6px;">
  <ul>
    <li class="text-align-center">
      <a class="list-link flyout__indicator" href="#de">Deutsch</a>
    </li>
    <li class="text-align-center">
      <a class="list-link" href="#en">English</a>
    </li>
    <li class="text-align-center">
      <a class="list-link" href="#fr">Français</a>
    </li>
    <li class="text-align-center">
      <a class="list-link" href="#it">Italiano</a>
    </li>
  </ul>
</div>
```

## Flyout with CTAs

These menus can also be used to house text, and often feature titles to give a welcome message or title to explain the purpose of the menu. They can also contain a call to action (CTA), following the conventional logic for buttons.

```html_example
<div class="text-align-right">
  <button data-init="auto", data-toggle="flyout", data-target="#flyout-info">
    <i class="icon icon-001-account icon--s2"></i>
  </button>
</div>
<div id="flyout-info" class="flyout flyout__indicator flyout--info flyout--right js-flyout" style="top: 70px; right: 6px;">
  <div class="flyout__title">Welcome to my Swisscom</div>
  <div class="divider"></div>
  <div class="flyout__text">
    Log in to manage your invoices, products, orders and see more offers
  </div>
  <div class="button-group button-group--fill">
    <button class="button button--secondary">Cancel</button>
    <button class="button button--primary">Login</button>
  </div>
</div>
```
*/


// --------------------------------------------------


.flyout {
  display: none;

  position: absolute;
  top: 20px;

  opacity: 0;
  transform: translateY(-20px);

  z-index: $zindex-menu;

  background: $color-white;
  box-shadow: 0 0 4px 0 rgba($color-black, .2);


  &.is-open {
    display: block;
    opacity: 1;

    transform: translateY(0);
  }

  // Menu Position
  // -------------------------

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  // -------------------------

  &__indicator::before {
    position: absolute;
    top: -7px;
    right: 24px;

    width: 14px;
    height: 14px;

    background: inherit;
    box-shadow: -1px -1px 2px 0 rgba($color-black, .15);

    transform: rotate(45deg);
    z-index: -1;

    content: '';
  }

  &__content {
    background: inherit;
  }

  // -------------------------

  &__title {
    margin-top: -4px;

    text-align: center;
  }

  &__text {
    margin-bottom: 16px;

    text-align: center;
  }

  // -------------------------

  &--list {
    width: 254px;

    padding: 0;

    li:not(:last-child) {
      border-bottom: 1px solid $color-aluminum-80;
    }

    .list-link {
      display: block;

      width: 100%;
      padding: 12px 24px;

      border: 0;

      background: $color-white;

      &:hover {
        color: $color-white;
        background: $color-int-blue;
      }
    }
  }

  &--info {
    width: 369px;

    padding: 24px;

    hr,
    .divider {
      margin: 16px 0;
    }
  }
}
