//
// Footer
// --------------------------------------------------

/*doc
---
title: Footer Compact
name: 03-patterns-08-footer-02-compact
category: Patterns - Footer
---

<style>
  .cortana-content-wrapper .footer--compact {
    padding: 0 30px;
  }
</style>

Use this footer if there isn't a need for lots of links.
A responsive test page for the compact footer is available at [samples/footer-compact](/samples/footer-compact.html).


```html_example
<div class="footer footer--compact">
    <div class="container">
        <a href="javascript:void(0);" class="logo" tabindex="-1">
            <span class="logo-lifeform" aria-label="Swisscom Logo"></span>
        </a>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Terms of use
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Feedback
                </a>
            </li>
        </ul>
    </div>
</div>
```

## Dark Version

```html_example
<div class="footer footer--compact footer--dark">
    <div class="container">
        <a href="javascript:void(0);" class="logo" tabindex="-1">
            <span class="logo-lifeform" aria-label="Swisscom Logo"></span>
        </a>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Terms of use
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Feedback
                </a>
            </li>
        </ul>
    </div>
</div>
```

## Light Version

```html_example
<div class="footer footer--compact footer--light">
    <div class="container">
        <a href="javascript:void(0);" class="logo" tabindex="-1">
            <span class="logo-lifeform" aria-label="Swisscom Logo"></span>
        </a>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Terms of use
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                    Feedback
                </a>
            </li>
        </ul>
    </div>
</div>
```
*/


// --------------------------------------------------


&--compact {
  @include bp-tablet {
    height: $footer-compact-height;
  }

  .nav-link {
    @include typo-footer;
  }

  .nav-items {
    margin-top: 26px;
    margin-bottom: 49px;

    text-align: center;

    @include bp-tablet {
      float: right;

      margin-top: 29px;
      margin-bottom: 0;

      text-align: inherit;
    }

    .nav-item {
      margin-bottom: 22px;
      margin-right: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @include bp-tablet {
        float: left;
        margin-bottom: 0;
        margin-right: 22px;
      }
    }
  }
}
