//
// Footer
// --------------------------------------------------

/*doc
---
title: Footer Full
name: 03-patterns-08-footer-03-full
category: Patterns - Footer
---

Use this footer for sites that have a large site maps and require more room for links.
A responsive test page for the compact footer is available at [samples/footer-full](/samples/footer-full.html).

## Dark Version
<iframe src="/samples/inline/footer-full-dark.html" height="550"></iframe>
<hr>

## Light Version
<iframe src="/samples/inline/footer-full-light.html" height="550" ></iframe>
*/


// --------------------------------------------------


&--full {
  .nav-section {

    // #59 fixes an issue where the footer ist not correctly
    // displayed on large screens in safari
    min-height: 100%;
  }

  .nav-title {
    @include typo-footer;

    border: 0;
  }

  .nav-link {
    @include typo-footer-small;
  }

  .nav-icon {
    display: flex;
    border: 0;
    background: 0;
  }

  .nav-items {
    text-align: center;

    @include bp-tablet {
      text-align: inherit;
    }

    &--divider {
      .nav-item {
        margin: 0;

        &:not(:first-child)::before {
          content: '|';
          position: relative;
          top: -1px;

          margin: 0;

          padding-left: 11px;
          padding-right: 11px;

          font-size: 16px;

          color: $color-footer-dark-link;
        }
      }
    }
  }

  @include bp-tablet-max {
    .nav-section {
      column-count: 1;
    }
  }

  // Footer Top
  // -------------------------

  .footer__top {
    padding: 35px 0 72px;

    .nav-col {
      > .container {
        @include make-container-fluid(xs);
        @include make-container-fluid(sm);

        @include make-container-fixed(md);

        @include bp-desktop {
          padding: 0;
          margin: 0;

          width: auto;
        }
      }
    }

    .nav-items {
      margin-top: 8px;

      .nav-item {
        margin-bottom: 8px;

        &:last-child {
          margin: 0;
        }
      }
    }

    @include bp-tablet-max {
      padding: 0;

      > .container {
        padding: 0;
        margin: 0;

        width: auto;
      }

      .nav-col {
        padding: 22px 0 24px;

        border-bottom: 1px solid $color-footer-dark-divider;

        &:last-of-type {
          border-bottom: 0;
        }
      }

      .nav-items {
        text-align: inherit;
      }
    }
  }

  // Footer Bottom
  // -------------------------

  .footer__bottom {
    height: 100%;
    padding: 27px 0 25px;

    @include bp-tablet {
      height: 128px;
      padding: 25px 0;
    }

    .row {
      margin-bottom: 0;

      @include bp-tablet {
        margin-bottom: 13px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .nav-items {
      display: inline-block;

      &--divider {
        .nav-item {
          margin: 0;
        }
      }
    }

    .nav-item {
      float: left;
      margin-right: 22px;

      text-align: center;

      &:last-child {
        margin: 0;
      }

      @include bp-tablet {
        text-align: left;
      }
    }

    .footer--left,
    .footer--right {
      float: none;
      margin-top: 0;

      text-align: center;
    }

    .footer--social-icons {
      text-align: center;

      margin-bottom: 12px;

      @include bp-tablet {
        margin-bottom: 0;
      }

      .nav-item {
        margin-right: 24px;

        &:last-child {
          margin: 0;
        }
      }
    }

    .footer--nav {
      margin-bottom: 9px;

      @include bp-tablet {
        margin-bottom: 0;
      }
    }

    .footer--copyright {
      @include typo-footer-small;

      text-align: center;

      @include bp-tablet {
        @include typo-footer-tiny;
      }
    }

    @include bp-tablet {
      .footer--left {
        float: left;
      }

      .footer--right {
        float: right;
      }

      .footer--nav {
        margin-top: 6px;
      }
    }
  }

  // Color options
  // -------------------------

  &,
  &.footer--dark {
    .nav-title {
      //color: rgba($color-footer-dark-link, .4);
      color: $color-footer-dark-link;
    }

    .footer__top {
      background: $color-footer-dark-bg;

      .nav-col {
        border-bottom-color: $color-footer-dark-divider;
      }

      @include accordion-arrow-normal($color-footer-dark-link, $color-footer-dark-link--active);
    }

    .footer__bottom {
      background: $color-footer-dark-bg-second;
    }
  }

  &.footer--light {
    .nav-title {
      //color: rgba($color-footer-light-link, .4);
      color: $color-footer-light-link;
    }

    .nav-items--divider {
      .nav-item {
        &::before {
          color: $color-footer-light-link;
        }
      }
    }

    .footer__top {
      background: $color-footer-light-bg;

      .nav-col {
        border-bottom-color: $color-footer-light-divider;
      }

      .nav-link {
        color: $color-footer-light-link-top;
      }

      @include accordion-arrow-normal($color-footer-light-link, $color-footer-light-link--active);
    }

    .footer__bottom {
      background: $color-footer-light-bg-second;

      .footer--copyright {
        color: $color-footer-light-link-bottom;
      }
    }
  }
}
