//
// Footer
// --------------------------------------------------

/*doc
---
title: Footer
name: 03-patterns-08-footer-01
category: Patterns - Footer
---

<style>
  .cortana-content-wrapper .footer .container {
    width: auto;
  }
</style>

Footers are positioned at the bottom of a webpage or app and feature links to the primary areas of the product. The usually include legal information, as well as links to social media platforms that Swisscom are active on.

## How to use footers
Footers support the SDX principle of creating products with no dead ends. User footers to enable users to get back to core site pages if they reach the end of a page within a service.

## Color options
There are two colour options for the footer. The dark grey version is the preferred option, and its contrast to our predominantly light look and feel means it provides us with a clear end point to pages. The light version, however, can be used if the dark footer feels visually incoherent in your specific use case. Footers should be colours consistently across the entire services, and should never change.

*/


// --------------------------------------------------


.footer {

  // Reset global styles
  // -------------------------

  a,
  button {
    margin: 0;
    padding: 0;
  }

  // Generic Footer Styles
  // -------------------------

  z-index: $zindex-footer;
  overflow: hidden;

  .logo {
    border: 0;
  }

  // Imports
  // -------------------------

  @import 'generic';
  @import 'footer-compact';
  @import 'footer-full';

  // Color options
  // -------------------------

  &,
  &.footer--dark {
    color: $color-footer-dark-link;

    background: $color-footer-dark-bg;

    a,
    button {
      &.nav-title,
      &.nav-link {
        color: $color-footer-dark-link;

        &:hover,
        &:focus {
          border-bottom-color: $color-footer-dark-link;
          color: $color-footer-dark-link;
        }
      }
    }

    svg .icon {
      fill: $color-footer-dark-link;
    }
  }

  &.footer--light {
    color: $color-footer-light-link;

    background: $color-footer-light-bg;

    a,
    button {
      &.nav-title,
      &.nav-link {
        color: $color-footer-light-link;

        &:hover,
        &:focus {
          border-bottom-color: $color-footer-light-link;
          color: $color-footer-light-link;
        }
      }
    }

    svg .icon {
      fill: $color-footer-light-link;
    }
  }

  // Footer Position
  // -------------------------

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }

  // Footer Font Override
  // -------------------------

  .text-sm {
    @include typo-footer-tiny;
  }
}
