//
// Footer Generic Classes
// --------------------------------------------------

// Responsive Section
// -------------------------

@include make-nav-section-columns(nav-section);

.nav-section {
  .nav-col {
    display: table;

    width: 100%;

    overflow: hidden;

    page-break-inside: avoid;
    break-inside: avoid;

    @include bp-desktop {
      break-after: column;
    }
  }
}

.nav-items {
  @include clearfix;
}

// Footer Swisscom Logo
// -------------------------

.logo {
  display: flex;
  width: 100%;

  margin-top: 31px;
  text-align: center;

  justify-content: center;

  @include bp-tablet {
    width: auto;

    margin-top: 22px;
    margin-left: -18px;

    float: left;
    text-align: left;
  }

  .logo-lifeform {
    @include logo-lifeform;

    display: inline-block;

    position: relative;
    left: 0;
    top: 0;
  }
}
