//
// Notification Modal
// --------------------------------------------------

/*doc
---
title: Overview
name: 02-components-23-notification-modal-01-overview
category: Components - Notification Modal
---

Modal notifications are large screen take overs featuring messaging and iconography that intentionally interrupt the users experience, usually require an action from the user in order to progress to the next stage in an experience, or because the notification is of particular significance.

#### How to use notification modals
Notifications modals behave just like conventional modal windows, but with the introduction of bold colour. They're the only instance where the interaction colour palette is used as a background colour. They help to provide a clearly signposted and direct delivery of information to the user.

#### Interactive sample
A responsive test page for the Notification Modal dialog is available at [samples/notification-modal](/samples/notification-modal.html).
In additon to the responsive behavior it also demonstrates how to open and close the modal dialog.
*/

/*doc
---
title: Usage
name: 02-components-23-notification-modal-02-usage
category: Components - Notification Modal
---

<style>
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .modal {
    position: relative;
  }

  .modal__content {
    margin: 24px;
    width: 100%;
    height: 600px;
  }
</style>

There are serveral options for opening and closing a notification modal dialog, either use the `Modal` JavaScript component
directly and call the `open()` and `close()` methods on the component; or add a button with the class `modal-trigger`
and a `href` attribute with the id of the target modal dialog.

```html
<button class="button button--primary modal-trigger" href="myModalDialog">Open notification modal</button>
```

To close the dialog either call `close()` on the component manually or apply either the `modal-close` or `modal-cancel` class
to a button in the current modal dialog. Both of this states will dispatch an event when executed, this enables other frontend code
to react to the selected user action if required.

```html_example
<div class="modal modal--notification modal--open" role="dialog" tabindex="-1">
  <div class="modal__content">
    <button class="modal__close modal-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
    <div class="modal__body">
      <div class="notification-message">
        <i class="icon icon-051-message" aria-hidden="true"></i>
        You have 4 new messages
      </div>
      <button class="button button--responsive button--thin">
        Go to inbox
      </button>
    </div>
  </div>
</div>

<div class="backdrop backdrop--open"></div>
```
*/


/*doc
---
title: Colors
name: 02-components-23-notification-modal-03-colors
category: Components - Notification Modal
---

#### General Notifications
Use the blue notification for more generic messaging around the users general profile.

```html_example
<div class="modal modal--notification modal--open" role="dialog" tabindex="-1">
  <div class="modal__content">
    <button class="modal__close modal-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
    <div class="modal__body">
      <div class="notification-message">
        <i class="icon icon-051-message" aria-hidden="true"></i>
        You have 4 new messages in your inbox
      </div>
      <button class="button button--responsive button--thin">
        Go to inbox
      </button>
    </div>
  </div>
</div>

<div class="backdrop backdrop--open"></div>
```

#### Confirmations / Rewards
Green notification should be used to indicate validation for example to reward a user at the end of an order process.

```html_example
<div class="modal modal--notification modal--notification--confirmation modal--open" role="dialog" tabindex="-1">
  <div class="modal__content">
    <button class="modal__close modal-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
    <div class="modal__body">
      <div class="notification-message">
        <i class="icon icon-012-check-mark-circle" aria-hidden="true"></i>
        3 items added to your basket
      </div>
      <button class="button button--responsive button--thin">
        Back to home
      </button>
    </div>
  </div>
</div>

<div class="backdrop backdrop--open"></div>
```

#### Alerts / Error Notifications
Only use interaction orange notifications to indicate an error or something that needs urgent attention.

```html_example
<div class="modal modal--notification modal--notification--alert modal--open" role="dialog" tabindex="-1">
  <div class="modal__content">
    <button class="modal__close modal-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
    <div class="modal__body">
      <div class="notification-message">
        <i class="icon icon-026-exclamation-mark-circle" aria-hidden="true"></i>
        You have 5 new alerts
      </div>
      <button class="button button--responsive button--thin">
        Okay
      </button>
    </div>
  </div>
</div>

<div class="backdrop backdrop--open"></div>
```
*/


// --------------------------------------------------

$notification-margin: 48px;
$notification-inner-margin: 30px;

// --------------------------------------------------


// Notification Modal
// --------------------------------------------------

.modal--notification {
  .modal__content {
    background: $color-int-blue;

    width: 100%;
    height: 100%;

    @include bp-tablet {
      max-width: 460px;
      height: auto;
    }

    .modal__close {
      top: 22px;
      right: 22px;

      color: $color-white;
    }

    .modal__body {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 100%;

      padding: $notification-inner-margin;

      // Notification Message
      // -------------------------

      .notification-message {
        @include font-semi-light;
        @include typo-headline-4;
        @include font-smoothing;

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        width: 100%;

        color: $color-white;
        text-align: center;

        .icon {
          font-size: 64px;

          margin-bottom: $notification-inner-margin - 10;
        }
      }

      // Notification Button
      // -------------------------

      .button {
        border: 1px solid $color-white;
        background-color: transparent;
        color: $color-white;

        margin-top: $notification-inner-margin;

        // Hover, Focus, Active styles
        // -------------------------

        &:hover,
        &:focus,
        &:active {
          border-color: rgba($color-white, .6);
        }
      }
    }
  }

  // Grid Container in Modal
  // --------------------------------------------------

  > .container {
    @include bp-xs-max {
      height: calc(100% - #{$notification-margin});
    }
  }

  // Notification Color
  // -------------------------

  &--alert {
    .modal__content {
      background: $color-int-orange;
    }
  }

  &--confirmation {
    .modal__content {
      background: $color-int-green;
    }
  }
}
