//
// Notification Header
// --------------------------------------------------

/*doc
---
title: Overview
name: 02-components-22-notification-header-01-overview
category: Components - Notification Header
---

Notification headers are coloured strips which run across the top of a product, beneath the header bar or navigation.

#### How to use notification headers
Notifications headers are used to give users in page information about something new, or to confirm an action that’s just been made by the user. They do this in a discrete non-disruptive way. Notifications should always use the SDX interaction colour palette to help explain the type of notification the user is receiving at a glance. They run the full width of the page.
*/

/*doc
---
title: Usage
name: 02-components-22-notification-header-02-usage
category: Components - Notification Header
---

```html_example
<div class="input-field">
  <input type="text" id="message-text-1" placeholder="Notification text" value="You have <strong>4</strong> new messages in your inbox">
  <label for="message-text-1">Notification text</label>
</div>

<div class="radio">
  <input type='radio' name='options' id='default' value='' checked>
  <label for='default'>Default notification</label>
</div>
<div class="radio">
  <input type='radio' name='options' id='confirmation' value='notification--confirmation'>
  <label for='confirmation'>Confirmation / Success notification</label>
</div>
<div class="radio add-space">
  <input type='radio' name='options' id='alert' value='notification--alert'>
  <label for='alert'>Alert / Warning notification</label>
</div>

<button class="button button--primary" onclick="showNotification()">Show notification</button>

<script>
function showNotification() {
  var callback = function() {
    alert("Notification was clicked");
  };

  var cancelCallback = function() {
    alert("Notification was cancelled");
  };

  var message = document.getElementById("message-text-1");
  var modifier = document.querySelector("input[name='options']:checked").value;

  // open the notification
  var notification = sdx.Notification.showOnHeader("header", message.value || "Notification Text", callback, cancelCallback, modifier);

  // remove the notification
  setTimeout(function(){ notification.close() }, 2000);
}
</script>
```


```html_example
<div class="notification-header notification--open">
  <div class="notification__content">
    <div class="notification__body">
      You have <strong>4</strong> new messages in your inbox
    </div>
    <button class="notification__close notification-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
  </div>
</div>
```

```html_example
<div class="notification-header notification--open">
  <div class="notification__content">
    <div class="notification__body">
      Please check the highlighted fields
    </div>
    <button class="notification__close notification-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
  </div>
</div>
```

*/


/*doc
---
title: Colors
name: 02-components-22-notification-header-03-colors
category: Components - Notification Header
---

Notifications are categorised into three categories: general, confirmation/success/ and alerts/warnings. Blue represents general notifications, e.g messages in your inbox. Green for confirmation of user actions or completion of a process, e.g completing checkout. Orange to give alerts and warnings to users, e.g failed uploads or storage reaching capacity.

#### General Notifications

```html_example
<div class="notification-header notification--open">
  <div class="notification__content">
    <div class="notification__body">
      You have <strong>4</strong> new messages in your inbox
    </div>
    <button class="notification__close notification-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
  </div>
</div>
```


#### Confirmations / Success

```html_example
<div class="notification-header notification--confirmation notification--open">
  <div class="notification__content">
    <div class="notification__body">
      <strong>3</strong> items added to your basket
    </div>
    <button class="notification__close notification-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
  </div>
</div>
```

#### Alerts and Warnings

```html_example
<div class="notification-header notification--alert notification--open">
  <div class="notification__content">
    <div class="notification__body">
      You have <strong>5</strong> new alerts
    </div>
    <button class="notification__close notification-cancel" aria-label="Close">
      <i class="icon icon-022-close" aria-hidden="true"></i>
    </button>
  </div>
</div>
```
*/


// --------------------------------------------------

$notification-height: 74px;

$notification-easing: cubic-bezier(.35, .035, .275, .9);

// --------------------------------------------------


// Notification Header
// --------------------------------------------------

.notification-header {
  position: relative;
  overflow: hidden;

  height: 0;
  z-index: $zindex-notification;

  animation: notification-show 400ms $notification-easing;
  transition: height 400ms $notification-easing;

  .notification__content {
    display: flex;
    position: absolute;

    bottom: 0;

    width: 100%;
    height: $notification-height;

    padding: 21px 24px;

    transition: background 400ms $notification-easing;

    background: $color-int-blue;

    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    z-index: 1;
    outline: none;

    &:hover {
      background: $color-int-blue--active;
    }

    @include bp-tablet {
      padding: 21px 38px;
    }

    .notification__body {
      @include font-semi-light;
      @include typo-body-1;
      @include text-truncate;
      @include font-smoothing;

      color: $color-white;

      opacity: 0;
      animation: fade-in 300ms 400ms forwards $notification-easing;

      strong {
        @include font-semi-bold;
        font-size: 16px;
      }
    }

    button {
      position: relative;
      right: -5px;

      cursor: pointer;

      width: 32px;
      height: 32px;

      opacity: 0;
      animation: fade-in 300ms 400ms forwards $notification-easing;

      .icon {
        line-height: 32px;
        color: $color-white;

        font-size: 34px;
      }
    }
  }
}

.notification {

  // Notification Open
  // -------------------------

  &--open {
    height: $notification-height;
  }

  // Notification Color
  // -------------------------

  &--alert {
    .notification__content {
      background: $color-int-orange;

      &:hover {
        background: $color-int-orange--active;
      }
    }
  }

  &--confirmation {
    .notification__content {
      background: $color-int-green;

      &:hover {
        background: $color-int-green--active;
      }
    }
  }
}

// Notification Animation
// --------------------------------------------------

@keyframes notification-show {
  0% {
    height: 0;
  }

  100% {
    height: $notification-height;
  }
}
