@import '../../assets/scss/general';

.boring {
  background-image: none !important;
}
.main {
  background-image: url(../../assets/img/mountain.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  .container {
    min-height: 100vh;
    width: 95%;
    max-width: 1665px;
    padding: 32px;
    margin: 0 auto 0 auto;
    position: relative;

    h1 {
      margin-top: 30px;
    }
    .card_container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  .header {
    img {
      position: absolute;
      left: 20px;
      right: auto;
      top: 20px;
    }
  }

  .its32-space {
    width: 24px;
  }

  .card-foreach {
    margin-left: 10px;
    margin-right: 10px;
  }

  // .card--apple:before {
  //   background: $color-int-red !important;
  // }

  .card-container {
    position: relative;
  }

  .card {
    min-height: 550px;
  }

  .card-title {
    margin-bottom: 60px;
    font-size: 32px;
    color: $color-navy;
  }

  .card-subtitle {
    font-size: 32px;
    margin-bottom: 5px;
    color: $color-navy;
  }

  .order-button {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .price-title {
    margin-bottom: 2px;
  }

  .perMth {
    font-size: 18px;
  }

  .card-item-border {
    width: 100%;
    color: $color-gray-40;
    border-top: 1px solid $color-gray-40;
    position: relative;
    padding: 1px 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card__body {
    .bottom {
      position: absolute;
      bottom: 10px;
      width: calc(100% - 32px);
      left: 16px;
    }
    .last_item {
      margin-bottom: 140px;
    }

    .price_container {
      margin-left: 10px;

      .price_border {
        width: 100%;
        color: $color-navy;
        border-top: 1px solid $color-navy;
        border-bottom: 1px solid $color-navy;
        position: relative;
        padding: 18px 0;

        .price {
          position: absolute;
          right: auto;
          left: 23px;
          top: 5px;
          font-size: 36px;

          .tag {
            font-size: 14px;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            display: block;
            position: absolute;
            left: -25px;
          }
        }
      }
    }
  }

  .hydrated {
    position: absolute;
    right: 0;
    z-index: 99;
  }
}
