<template >
  <div v-bind:class="{boring: isBoring, main: true}">
    <div class="header">
      <img src="../../assets/img/swisscomlifeform.png">
    </div>
    <div class="container">

      <div v-if="getCurrentStep === 0">
        <h1>Place your order</h1>
        <div class="card_container">
          <div class="card-foreach" v-for="(product) in getProducts" :key="product.product_id">
            <card :product="product"></card>
          </div>
        </div>
      </div>

      <div v-else-if="getCurrentStep === 1">
        <h1>BSS Work Order Form</h1>
        <OrderForm></OrderForm>
      </div>

      <div v-else-if="getCurrentStep >= 2">
        <div>
          <h1>Your order</h1>
          <ordercard1 :item="getOrder"></ordercard1>
        </div>
      </div>

    </div>
  </div>
</template>

<script src="./Customer.js" />

<style lang="scss" scoped src="./Customer.scss" />
