//
// Tables
// --------------------------------------------------

/*doc
---
title: Display tables
name: 02-components-11-tables-03-display
category: Components - Tables
---

Display tables are used to house small quantities of data, with the inclusion of radio buttons that allow users to select various elements, contributing to a sum total at the bottom of the table. They are commonly used for product configurators, where users may be selecting add ons or additional features that incur charges. They can be used directly in page, or in cards. Display tables feature large titles and ‘stickers’ that label the product type where applicable.

```html_example
<div class="table-display">
  <h3 class="table__title">Yay this is a Title, it can be long or not so long</h3>
  <div class="table__wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        Internet
      </div>
      <div class="col-xs-12 col-md-8">
        <form>
          <div class="radio">
            <input type='radio' name='dummy' id='radio1' checked>
            <label for='radio1'>100 Mbit/s mit Glasfaser-Anschluss</label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        Swisscom TV
      </div>
      <div class="col-xs-12 col-md-8">
        <form>
          <div class="radio">
            <input type='radio' name='dummy' id='radio2-1'>
            <label for='radio2-1'>SWISSCOM TV Plus 2.0</label>
          </div>
          <div class="radio">
            <input type='radio' name='dummy' id='radio2-2'>
            <label for='radio2-2'>SWISSCOM TV Light 2.0</label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        Festnetz
      </div>
      <div class="col-xs-12 col-md-8">
        <form>
          <div class="radio">
            <input type='radio' name='dummy' id='radio3-1'>
            <label for='radio3-1'>Ja</label>
          </div>
          <div class="radio">
            <input type='radio' name='dummy' id='radio3-2'>
            <label for='radio3-2'>Nein</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="button button--primary align-right">
    Button
  </button>
</div>
```

## Table Styles

### Table with Shadow

```html_example
<div class="table-display table-display--shadow">
  <h3 class="table__title">Yay this is a Title, it can be long or not so long</h3>
  <div class="table__wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        Internet
      </div>
      <div class="col-xs-12 col-md-8">
        <form>
          <div class="radio">
            <input type='radio' name='dummy' id='radio1' checked>
            <label for='radio1'>100 Mbit/s mit Glasfaser-Anschluss</label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        Swisscom TV
      </div>
      <div class="col-xs-12 col-md-8">
        <form>
          <div class="radio">
            <input type='radio' name='dummy' id='radio2-1'>
            <label for='radio2-1'>SWISSCOM TV Plus 2.0</label>
          </div>
          <div class="radio">
            <input type='radio' name='dummy' id='radio2-2'>
            <label for='radio2-2'>SWISSCOM TV Light 2.0</label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        Festnetz
      </div>
      <div class="col-xs-12 col-md-8">
        <form>
          <div class="radio">
            <input type='radio' name='dummy' id='radio3-1'>
            <label for='radio3-1'>Ja</label>
          </div>
          <div class="radio">
            <input type='radio' name='dummy' id='radio3-2'>
            <label for='radio3-2'>Nein</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="button button--primary align-right">
    Button
  </button>
</div>
```
*/


// --------------------------------------------------


// Display-Table wrapper styles
// -------------------------

.table-display {
  @include clearfix;

  display: block;

  .table__wrapper {
    margin-bottom: 16px;

    border-top: 1px solid $color-table-border;
    border-bottom: 1px solid $color-table-border;

    > .row {
      margin: 0;
      padding: 10px 0;

      &:not(:last-child) {
        border-bottom: 1px solid $color-table-border;
      }

      > [class^='col-'] {
        padding: 6px 16px 0;
      }
    }

    // set margin of form fields
    // -------------------------

    .checkbox + .checkbox {
      margin-top: 8px;
    }

    .radio + .radio {
      margin-top: 8px;
    }
  }

  .button {
    margin: 0 16px;
  }

  // Table styles
  // -------------------------

  &--shadow {
    padding: 19px 0 16px;

    box-shadow: 0 0 4px 0 rgba($color-black, .25);
  }
}
