//
// Tables
// --------------------------------------------------

/*doc
---
title: Generic tables
name: 02-components-11-tables-04-generic
category: Components - Tables
---

Generic tables helps to easily build tables for a variety of use cases.

```html_example
<div class="table-generic">
  <div class="table__wrapper">
    <div class="row">
      <div class="table-items col-xs-12 offset-md-3 col-md-5">
        <div class="table-item text-align-center">
          <img class="table-image" src="/theme-build/img/samples/angebote-vivo-xl.png">
          <p>Vivo <strong>XL</strong> - Vivo <strong>M</strong></p>
        </div>
      </div>
      <div class="table-items col-xs-12 col-md-4">
        <div class="table-item text-align-center">
          <img class="table-image" src="/theme-build/img/samples/angebote-vivo-s.png">
          <p>Vivo <strong>S</strong> - Vivo <strong>XS</strong></p>
        </div>
      </div>
    </div>
    <div class="border-horizontal"></div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="margin-0">Natel infinity 2.0 M</p>
        <p class="margin-0">Natel infinity 2.0 L</p>
        <p class="margin-0">Natel infinity 2.0 XL</p>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-5">
        <div class="table-items center-vertical">
          <h1 class="d1 margin-0 blue">20.–</h1>
        </div>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-4">
        <div class="table-items center-vertical">
          <h1 class="d1 margin-0 blue">10.–</h1>
        </div>
      </div>
    </div>
    <div class="border-horizontal"></div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="margin-0">Natel infinity 2.0 XS</p>
        <p class="margin-0">Natel infinity 2.0 S</p>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-5">
        <div class="table-items center-vertical">
          <h1 class="d1 margin-0 blue">10.–</h1>
        </div>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-4">
        <div class="table-items center-vertical">
          <h1 class="d1 margin-0 blue">5.–</h1>
        </div>
      </div>
    </div>
  </div>
</div>
```

## Table Styles

### Table with Shadow

```html_example
<div class="table-generic table-generic--shadow">
  <h3 class="table__title table-border-bottom">Generic Table: Table with shadow style</h3>
  <div class="table__wrapper">
    <div class="row table-border-bottom">
      <div class="table-items col-xs-12 offset-md-3 col-md-5">
        <div class="table-item text-align-center">
          <img class="table-image" src="/theme-build/img/samples/angebote-vivo-xl.png">
          <p>Vivo <strong>XL</strong> - Vivo <strong>M</strong></p>
        </div>
      </div>
      <div class="table-items col-xs-12 col-md-4">
        <div class="table-item text-align-center">
          <img class="table-image" src="/theme-build/img/samples/angebote-vivo-s.png">
          <p>Vivo <strong>S</strong> - Vivo <strong>XS</strong></p>
        </div>
      </div>
    </div>
    <div class="border-horizontal"></div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="margin-0">Natel infinity 2.0 M</p>
        <p class="margin-0">Natel infinity 2.0 L</p>
        <p class="margin-0">Natel infinity 2.0 XL</p>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-5">
        <div class="table-items center-vertical">
          <h1 class="margin-0 blue">20.–</h1>
        </div>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-4">
        <div class="table-items center-vertical">
          <h1 class="margin-0 blue">10.–</h1>
        </div>
      </div>
    </div>
    <div class="border-horizontal"></div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="margin-0">Natel infinity 2.0 XS</p>
        <p class="margin-0">Natel infinity 2.0 S</p>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-5">
        <div class="table-items center-vertical">
          <h1 class="margin-0 blue">10.–</h1>
        </div>
      </div>
      <div class="border-vertical"></div>
      <div class="col-xs-12 col-md-4">
        <div class="table-items center-vertical">
          <h1 class="margin-0 blue">5.–</h1>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/

// Generic-Table wrapper styles
// -------------------------

.table-generic {
  display: block;

  .table__title {
    margin-bottom: 16px;
    border-bottom: 1px solid $color-table-border;
  }

  .table__wrapper {
    > .row {
      margin-left: 0;
      margin-right: 0;

      padding-left: 16px;
      padding-right: 16px;

      > [class*='col-'] {
        padding: 0;
        flex: 1;
      }
    }

    .table-items {
      display: flex;
      justify-content: space-around;

      height: 100%;
    }

    .table-item {
      display: inline-block;

      margin: 0 12px;
    }

    .table-image {
      width: 80px;
      height: auto;
    }
  }

  // -------------------------

  &--shadow {
    padding: 19px 0 16px;

    box-shadow: 0 0 4px 0 rgba($color-black, .25);
  }

  // generic table styles
  // -------------------------

  .highlight {
    background: $color-table-header-dark;
  }

  .border {
    margin: 16px;
    padding: 16px;
    border: 1px solid $color-table-border;

    &-horizontal {
      margin: 16px 0;
      border-bottom: 1px solid $color-table-border;
    }

    &-vertical {
      margin: 0 16px;
      border-right: 1px solid $color-table-border;
    }
  }
}
