//
// Tables
// --------------------------------------------------

/*doc
---
title: Tables
name: 02-components-11-tables-01-tables
category: Components - Tables
---

Tables allow complex data to be seen easily at a glance. They allow the user to compare values and in some cases re-order data. They can be used for promotional or user-specific purposes, such as a file management.
*/


// --------------------------------------------------


// Table styles
// -------------------------

.table {
  &__title {
    @include text-truncate;

    margin: 0;
    padding: 0 16px 15px;

    text-align: left;
  }
}

// -------------------------

@import 'table-data';
@import 'table-display';
@import 'table-generic';
