<template>
  <div id="app">
    <router-view/>
    <footer class="footer footer--full">
        <div class="container footer-container">
            <a href="javascript:void(0);" tabindex="-1" class="app-logo logo">
                <span aria-label="Swisscom Logo" class="logo-lifeform">
                </span>
            </a>
            <img class="bbs-logo-img" src="./assets/img/double_logo.png">
            <a href="javascript:void(0);" tabindex="-1" class="app-logo logo appsteam-logo">
                <img id="app-logo-img" src="./assets/img/Appsteam_Logo.png">
            </a>
        </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.app-logo {
  margin: 0px !important;
}

#app-logo-img {
  height: 42px;
}

.bbs-logo-img {
  height: 94px;
  margin: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
}
</style>
