@import '../../assets/scss/general';

.bbs_container {
  width: 80%;
  max-width: 1400px;
  margin: 60px auto 0 auto;
  position: relative;
  .border {
    border-left: 5px solid;
    z-index: 1;
  }

  .order_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
    width: 800px;

    .order_button {
      border-style: solid;
      border-width: 1px;
      border-color: $color-gray-40;
      width: 80%;
    }
    .icon {
      float: right;
    }
  }
}

.button--delete {
  padding: 0 0.5em;
  float: right;
  border: 0;
  min-width: 0;
  background: #d12;
}

.header {
  border-style: solid;
  border-width: 1px;
  border-color: $color-gray-40;
  height: 75px;
  img {
    position: absolute;
    left: 40px;
    right: auto;
    top: 20px;
  }
}

.oss_container {
  width: 80%;
  max-width: 1400px;
  margin: 50px auto 0 auto;
  position: relative;

  .log_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    background-color: black;

    #MessageBus {
      color: white;
      width: 90%;
    }
  }
}

.log_pre {
  padding: 5px;
  margin: 5px;
  text-align: left;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

.orderDetails {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  text-align: left;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
