<template>
  <div>
    <div class="header">
      <img src="../../assets/img/swisscomlifeform.png">
    </div>
    <div class="bbs_container">
      <h1>BBS</h1>
      <sdx-accordion arrow-position="right" open="false">
        <sdx-accordion-item
          v-for="(order) in getOrders.slice(0, 10)"
          :key="order.order_id"
          class="border"
          v-on:click="getOrderDetailsById(order.order_id)"
          :style="{'border-left-color': setStateColor(order.state_id)}"
        >
          <sdx-accordion-item-header>
            <h4 class="text-h5 sc-navy margin-0">
              CustomerId: {{ order.customer_id }}, {{order.product_description}}, Status: {{order.state_description}}, Order ID: {{order.order_id}}
              <button class="button--delete button" v-on:click="deleteOrder($event, order.order_id)">
                Delete
              </button>
            </h4>
          </sdx-accordion-item-header>
          <sdx-accordion-item-body>
            <pre class="orderDetails" v-html="orderDetails"></pre>
          </sdx-accordion-item-body>
        </sdx-accordion-item>
      </sdx-accordion>
    </div>
  </div>
</template>

<script src="./Operator.js" />

<style lang="scss" scoped src="./Operator.scss" />
