@import '../../assets/scss/general';

// .card--apple:before {
//   background: $color-apple !important;
// }

.card-container {
  position: relative;
}

.card {
  min-height: 550px;
}

.card-title {
  margin-bottom: 60px;
  font-size: 32px;
  color: $color-navy;
}

.card-subtitle {
  font-size: 32px;
  margin-bottom: 5px;
  color: $color-navy;
}

.order-button {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.price-title {
  margin-bottom: 2px;
}

.perMth {
  font-size: 18px;
}

.card-item-border {
  width: 100%;
  color: $color-gray-40;
  border-top: 1px solid $color-gray-40;
  position: relative;
  padding: 1px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card__body {
  .bottom {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 32px);
    left: 16px;
  }
  .last_item {
    margin-bottom: 140px;
  }

  .price_container {
    margin-left: 10px;

    .price_border {
      width: 100%;
      color: $color-navy;
      border-top: 1px solid $color-navy;
      border-bottom: 1px solid $color-navy;
      position: relative;
      padding: 18px 0;

      .price {
        position: absolute;
        right: auto;
        left: 23px;
        top: 5px;
        font-size: 36px;

        .tag {
          font-size: 14px;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          display: block;
          position: absolute;
          left: -25px;
        }
      }
    }
  }
}

.hydrated {
  position: absolute;
  right: 0;
  z-index: 99;
}
