<template>
  <div class="card card--blue card--dark">
    <div class="card__header">
      <h1 class="card-title">{{product.product_description}}</h1>
    </div>
    <div class="card__body card-body-height card--blue">
      <div class="card__item">
        <h1 class="card__text card-subtitle">{{product.product_speed}}</h1>
        <p class="card__text">max Up and download</p>
      </div>
      <div class="card-item-border"></div>
      <div class="card__item">
        <h1 class="card__text card-subtitle">Free WLAN Router</h1>
        <p class="card__text">Internet-Box 2 worth 299.-</p>
      </div>
      <div class="card-item-border"></div>
      <div class="card__item last_item">
        <h1 class="card__text card-subtitle">Free Internet Guard</h1>
        <p class="card__text">Automatic surf protection</p>
      </div>
      <div class="bottom">
        <div class="price_container">
          <p class="price-title">Preis</p>
          <div class="price_border">
            <div class="price">
              <span class="tag">CHF</span>
              <span>{{product.product_cost.slice(0, -4)}}</span>
              <span class="perMth">/ mth.</span>
            </div>
          </div>
        </div>
        <button
          class="button button--primary order-button"
          v-on:click="selectProduct(product)"
        >Order</button>
      </div>
    </div>
  </div>
</template>
<script src="./Card.js"></script>
<style src="./Card.scss" lang="scss" scoped></style>
