@import '_vars.scss';
@import '_colors.scss';

/*General*/

body {
  font-family: $font-family-default !important;
  font-size: $font-size-m;
  line-height: 21px;
  color: $color-gray;
  overflow-x: hidden !important;
}

*:not(i) {
  font-family: $font-family-default;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

button:focus {
  outline: none;
}

h1 {
  font-family: $font-family-default;
  font-weight: $bold;
}

h2 {
  font-family: $font-family-accent;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-family: $font-family-accent;
  font-size: 20px;
  width: 100%;
  float: left;
  line-height: 1.3;
}

hr.seperator-thin {
  margin: 0;
  border: 0;
  height: 2px;
  background: $color-gray-border;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-right: calc(-1 * ((100vw - 100%) / 2));
  margin-top: 20px;

  @media screen and (min-width: $screen-s) {
    width: 100%;
    margin-left: 0;
    justify-content: flex-end;
  }

  button {
    width: 50%;
    outline: 0;
    border: 0;
    height: 50px;
    cursor: pointer;
    font-size: 16px;

    @media screen and (min-width: $screen-s) {
      width: auto;
      min-width: 160px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &.button-primary {
      background-color: $color-blue;
      color: $color-white;
    }
    &.button-secondary {
      background-color: $color-gray-background;
      color: $color-black;
    }
    &.button-single {
      @media screen and (max-width: $screen-s) {
        width: 100%;
      }
    }
  }
}

.router-click {
  cursor: pointer;
}

.today {
  background-color: $color-blue;
  color: $color-white;
}

.image-preview-container {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;

  &:last-child {
    margin-bottom: 15px;
  }

  &::before {
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -100px;
    right: -100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 338px 87px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 338px 87px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 338px 87px rgba(0, 0, 0, 0.75);
  }

  i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
  }

  .image-preview {
    width: 100%;
    height: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    float: left;
    ~ .hr-bottom {
      display: none;
    }
    &.has-image {
      display: block;
    }
  }
}
/* two items */

.image-preview-container:first-child:nth-last-child(2),
.image-preview-container:first-child:nth-last-child(2)
  ~ .image-preview-container {
  width: 50%;
}
/* three items */

.image-preview-container:first-child:nth-last-child(3),
.image-preview-container:first-child:nth-last-child(3)
  ~ .image-preview-container {
  width: 50%;
  &:nth-last-child(1) {
    width: 100%;
  }
}
/* four items */
.image-preview-container:first-child:nth-last-child(4),
.image-preview-container:first-child:nth-last-child(4)
  ~ .image-preview-container {
  width: 50%;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-attachment-button {
  i {
    cursor: pointer;
  }
}

button:disabled {
  cursor: not-allowed !important;
  background-color: $color-gray-light !important;
}

.color-pink {
  background-color: $color-pink !important;
  color: $color-white;
}

.color-white-green {
  background-color: $color-white !important;
  color: $color-apple;
}

.color-iris {
  background-color: $color-iris !important;
  color: $color-white;
}

.color-horizon {
  background-color: $color-horizon !important;
  color: $color-orchid;
}

.color-turquoise {
  background-color: $color-turquoise !important;
  color: $color-white;
}

.color-apple {
  background-color: $color-apple !important;
  color: $color-white;
}

.color-orchid {
  background-color: $color-orchid !important;
  color: $color-white;
}

.color-lightblue {
  background-color: $color-blue-20 !important;
  color: $color-iris;
}

.color-petrol {
  background-color: $color-petrol !important;
  color: $color-white;
}
