//Font
$font-family-default: 'TheSans';
$font-family-accent: 'TheSans';
$font-family-sdx-icons: 'sdx-icons';
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 11px;
$font-weight-normal: 500;


$bold: 700;
$italic: italic;

//Media queries
$screen-xs: 400px;
$screen-s: 600px;
$screen-m: 800px;
$screen-l: 1000px;
$page-inset: 50px;

//Transition

$transition-fast: 0.2s;
$transition-slow: 0.6s;
$transition-slow-adjustment: 1.5s;
