//
// Commenting
// --------------------------------------------------

/*doc
---
title: Commenting
name: 03-patterns-09-commenting
category: Patterns - Commenting
---

Commenting allows users to add comments to articles and posts. The commenting pattern follows a simple system of indentation for connected comments. The avatar, name and title of the contributor are all visible, along with basic functionality, for example like and follow.

### Comment sample
A responsive test page for the comment pattern is available at [samples/comment](/samples/comment.html).

## Variations

### Commenting
The commenting functionality is position at the bottom of editorial or blog content. It features the user avatar, name and titles to help identify who is commenting, as well as a time stamp, reply and like functionality. Where applicable, commenting can also feature a follow button.

<script>
  function addEvents(input) {
    var text = input.querySelector("textarea");
    var button = input.querySelector("button");

    if (text) {
      text.addEventListener("focus", function(e) {
        button.classList.remove("is-hidden");
      });

      text.addEventListener("blur", function(e) {
        if (text.value === "" ) {
          button.classList.add("is-hidden");
        }
      });

      text.addEventListener("input", function(e) {
        if (text.value != "") {
          button.classList.remove("disabled");
        } else {
          button.classList.add("disabled");
        }
      });
    }
  }

  document.addEventListener("DOMContentLoaded", function(event) {
    var inputs = document.querySelectorAll(".comments__input");
    for (var i = 0; i < inputs.length; i++) {
      addEvents(inputs[i]);
    }
  });
</script>

```html_example
<div class="comments">
  <div class="comments__input">
    <div class="avatar">
      <img class="avatar__image" src="theme-build/img/samples/avatar.png" />
    </div>
    <div class="input-wrapper">
      <form>
        <div class="input-field input-multiline" data-init="auto">
          <textarea id="multiline-1" placeholder="Leave a comment" data-min-rows="4" data-max-rows="10"></textarea>
        </div>
        <button class="button button--primary disabled is-hidden">
          Post
        </button>
      </form>
    </div>
  </div>
  <div class="comments__feed">
    <div class="comment">
      <div class="comment__wrapper">
        <div class="comment__header">
          <div class="avatar">
            <img class="avatar__image" src="theme-build/img/samples/avatar.png" />
          </div>
          <div class="author">
            <button class="link author__title">Robert Schmidt</button>
            <span class="author__subtitle">Deputy Director of Communication</span>
          </div>
          <div class="meta">
            <button class="link">Follow</button>
          </div>
        </div>
        <div class="comment__body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="comment__footer">
          <button class="link">
            <i class="icon icon-068-reply-message-2"></i>
            Reply
          </button>
          <button class="link">
            Like
          </button>
          <div class="time">
            25 minutes ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```

### Dark background

```html_example
<div class="bg bg--dark">
  <div class="comments">
    <div class="comments__input">
      <div class="avatar">
        <img class="avatar__image" src="theme-build/img/samples/avatar.png" />
      </div>
      <div class="input-wrapper">
        <form>
          <div class="input-field input-multiline" data-init="auto">
            <textarea id="multiline-1" placeholder="Leave a comment" data-min-rows="4" data-max-rows="10"></textarea>
          </div>
          <button class="button button--primary disabled is-hidden">
            Post
          </button>
        </form>
      </div>
    </div>
    <div class="comments__feed">
      <div class="comment">
        <div class="comment__wrapper">
          <div class="comment__header">
            <div class="avatar">
              <img class="avatar__image" src="theme-build/img/samples/avatar.png" />
            </div>
            <div class="author">
              <button class="link author__title">Robert Schmidt</button>
              <span class="author__subtitle">Deputy Director of Communication</span>
            </div>
            <div class="meta">
              <button class="link">Follow</button>
            </div>
          </div>
          <div class="comment__body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="comment__footer">
            <button class="link">
              <i class="icon icon-068-reply-message-2"></i>
              Reply
            </button>
            <button class="link">
              Like
            </button>
            <div class="time">
              25 minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```

### Comment feeds
When showing lists of comments, they’re stacked vertically, and ordered by date, displaying the newest comments last. Replies are conneted to the original comment by placing them directly below, and indenting them by a single column.

```html_example
<div class="comments">
  <div class="comments__feed">
    <div class="comment">
      <div class="comment__wrapper">
        <div class="comment__header">
          <div class="avatar">
            <img class="avatar__image" src="theme-build/img/samples/avatar.png" />
          </div>
          <div class="author">
            <button class="link author__title">Robert Schmidt</button>
            <span class="author__subtitle">Deputy Director of Communication</span>
          </div>
          <div class="meta">
            <button class="link">Follow</button>
          </div>
        </div>
        <div class="comment__body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="comment__footer">
          <button class="link">
            <i class="icon icon-068-reply-message-2"></i>
            Reply
          </button>
          <button class="link">
            Like
          </button>
          <div class="time">
            25 minutes ago
          </div>
        </div>
      </div>

      <div class="comment">
        <div class="comment__wrapper">
          <div class="comment__header">
            <div class="avatar">
              <img class="avatar__image" src="theme-build/img/samples/avatar2.png" />
            </div>
            <div class="author">
              <button class="link author__title">Tobias Herrmann</button>
              <span class="author__subtitle">Software Developer</span>
            </div>
            <div class="meta">
              <button class="link">Follow</button>
            </div>
          </div>
          <div class="comment__body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="comment__footer">
            <button class="link">
              <i class="icon icon-068-reply-message-2"></i>
              Reply
            </button>
            <button class="link">
              Like
            </button>
            <div class="time">
              25 minutes ago
            </div>
          </div>
        </div>

        <div class="comment">
          <div class="comment__wrapper">
            <div class="comment__header">
              <div class="avatar">
                <img class="avatar__image" src="theme-build/img/samples/avatar3.png" />
              </div>
              <div class="author">
                <button class="link author__title">Michael Höhn</button>
                <span class="author__subtitle">Software Developer</span>
              </div>
              <div class="meta">
                <button class="link">Follow</button>
              </div>
            </div>
            <div class="comment__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="comment__footer">
              <button class="link">
                <i class="icon icon-068-reply-message-2"></i>
                Reply
              </button>
              <button class="link">
                Like
              </button>
              <div class="time">
                25 minutes ago
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```

### Dark background

```html_example
<div class="bg bg--dark">
  <div class="comments">
    <div class="comments__feed">
      <div class="comment">
        <div class="comment__wrapper">
          <div class="comment__header">
            <div class="avatar">
              <img class="avatar__image" src="theme-build/img/samples/avatar.png" />
            </div>
            <div class="author">
              <button class="link author__title">Robert Schmidt</button>
              <span class="author__subtitle">Deputy Director of Communication</span>
            </div>
            <div class="meta">
              <button class="link">Follow</button>
            </div>
          </div>
          <div class="comment__body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="comment__footer">
            <button class="link">
              <i class="icon icon-068-reply-message-2"></i>
              Reply
            </button>
            <button class="link">
              Like
            </button>
            <div class="time">
              25 minutes ago
            </div>
          </div>
        </div>

        <div class="comment">
          <div class="comment__wrapper">
            <div class="comment__header">
              <div class="avatar">
                <img class="avatar__image" src="theme-build/img/samples/avatar2.png" />
              </div>
              <div class="author">
                <button class="link author__title">Tobias Herrmann</button>
                <span class="author__subtitle">Software Developer</span>
              </div>
              <div class="meta">
                <button class="link">Follow</button>
              </div>
            </div>
            <div class="comment__body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="comment__footer">
              <button class="link">
                <i class="icon icon-068-reply-message-2"></i>
                Reply
              </button>
              <button class="link">
                Like
              </button>
              <div class="time">
                25 minutes ago
              </div>
            </div>
          </div>

          <div class="comment">
            <div class="comment__wrapper">
              <div class="comment__header">
                <div class="avatar">
                  <img class="avatar__image" src="theme-build/img/samples/avatar3.png" />
                </div>
                <div class="author">
                  <button class="link author__title">Michael Höhn</button>
                  <span class="author__subtitle">Software Developer</span>
                </div>
                <div class="meta">
                  <button class="link">Follow</button>
                </div>
              </div>
              <div class="comment__body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="comment__footer">
                <button class="link">
                  <i class="icon icon-068-reply-message-2"></i>
                  Reply
                </button>
                <button class="link">
                  Like
                </button>
                <div class="time">
                  25 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/


// --------------------------------------------------

.comments {

  // Input Styles
  // -------------------------

  &__input {
    @include typo-body-1;

    display: flex;

    border: 0;

    .input-wrapper {
      width: 100%;

      .button {
        float: right;
        margin-bottom: 24px;

        &.disabled {
          border-color: rgba($color-button-secondary, .4);
          background-color: rgba($color-button-secondary, .4);
          color: rgba($color-gray, .4);
        }

        @include bp-phone-max {
          display: none;
        }
      }
    }

    .avatar {
      margin-right: 18px;
      margin-top: 5px;

      @include bp-phone-max {
        display: none;
      }

      .avatar__image {
        width: 41px;
        height: 41px;

        border-radius: 50%;
      }
    }

    .input-multiline {
      display: inline-flex;

      width: 100%;
      margin-bottom: 24px;

      textarea {
        margin-top: 0 !important;
      }
    }

    .is-hidden {
      display: none;
    }
  }

  // Feed Styles
  // -------------------------

  &__feed {
    margin-top: 1px;
  }
}

// Comment Styles
// --------------------------------------------------

.comment {
  @include typo-body-1;

  // Comment indentation
  > .comment {
    @include make-comment-indent(1);

    > .comment {
      padding-left: 0;

      @include bp-tablet {
        @include make-comment-indent(1);
      }

      .comment {
        padding-left: 0;
      }
    }
  }

  &__wrapper {
    margin-top: -1px;
    padding: 13px 0 16px;

    border-top: 1px solid $color-comment-border;
    border-bottom: 1px solid $color-comment-border;
  }

  &__header {
    @include typo-headline-5;

    display: flex;
    margin-bottom: 8px;

    .author {
      flex: 1;
      overflow: hidden;

      &__title,
      &__subtitle {
        @include text-truncate;

        display: block;

        max-width: 100%;
      }
    }

    .meta {
      margin-left: 18px;
      align-self: center;

      @include bp-phone-max {
        display: none;
      }
    }

  }

  &__body {
    margin-bottom: 7px;
  }

  &__footer {
    .icon {
      bottom: -1px;
      font-size: 20px;
    }

    .time {
      @include typo-small;

      float: right;
      margin-top: 2px;

      opacity: .5;
    }
  }

  .link {
    &,
    &:hover,
    &:focus {
      border: 0;
    }
  }

  .avatar {
    margin-right: 18px;
    margin-top: 3px;

    .avatar__image {
      width: 41px;
      height: 41px;

      border-radius: 50%;
    }
  }
}


// Dark Background
// --------------------------------------------------

.bg--dark {
  .comments__input {
    .input-wrapper {
      .button {
        &.disabled {
          background-color: transparent;
          color: rgba($color-button-secondary, .4);
        }
      }
    }
  }

  .comment {
    &__wrapper {
      border-top: 1px solid $color-comment-dark-border;
      border-bottom: 1px solid $color-comment-dark-border;
    }

    .link {
      border: 0;
      color: $color-link;

      &:hover,
      &:focus {
        border: 0;
        color: $color-link--active;
      }
    }
  }
}
