//
// Tabs
// --------------------------------------------------

/*doc
---
title: Tabs
name: 02-components-26-tabs
category: Components - Tabs
---

<script>
  "use strict";var _createClass=function(){function a(b,c){for(var f,d=0;d<c.length;d++)f=c[d],f.enumerable=f.enumerable||!1,f.configurable=!0,"value"in f&&(f.writable=!0),Object.defineProperty(b,f.key,f)}return function(b,c,d){return c&&a(b.prototype,c),d&&a(b,d),b}}();function _classCallCheck(a,b){if(!(a instanceof b))throw new TypeError("Cannot call a class as a function")}var Tabs=function(){function a(b){var h=this;_classCallCheck(this,a),this._element=b;var d=this._element.querySelectorAll(".tab-link"),_iteratorNormalCompletion=!0,_didIteratorError=!1,_iteratorError=void 0;try{for(var g,c,f=d[Symbol.iterator]();!(_iteratorNormalCompletion=(g=f.next()).done);_iteratorNormalCompletion=!0)c=g.value,c.addEventListener("click",function(j){h._onClick(j)})}catch(j){_didIteratorError=!0,_iteratorError=j}finally{try{!_iteratorNormalCompletion&&f.return&&f.return()}finally{if(_didIteratorError)throw _iteratorError}}}return _createClass(a,[{key:"_onClick",value:function _onClick(b){var d=b.target,f=this._element.querySelectorAll(".tab-link"),_iteratorNormalCompletion2=!0,_didIteratorError2=!1,_iteratorError2=void 0;try{for(var h,c,g=f[Symbol.iterator]();!(_iteratorNormalCompletion2=(h=g.next()).done);_iteratorNormalCompletion2=!0)c=h.value,c.classList.remove("active")}catch(j){_didIteratorError2=!0,_iteratorError2=j}finally{try{!_iteratorNormalCompletion2&&g.return&&g.return()}finally{if(_didIteratorError2)throw _iteratorError2}}d.classList.add("active")}}]),a}();

  document.addEventListener("DOMContentLoaded", function(event) {
    for( var item of document.querySelectorAll(".tabs")) {
      new Tabs(item);
    }
  });
</script>

```html_example
<ul class="tabs">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>
```

### Tab sizes

There are three different tab sizes available. By default the tab font size is 18px.
If you want to change the size of the tab, add the classes `tabs--small` or `tabs--big` to the `tabs` element.

```html_example

<ul class="tabs tabs--small">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>

<ul class="tabs">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>

<ul class="tabs tabs--big">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>
```

### Tab indicator sizes

There are two tab indicator sizes available. By default the tab indicator is short (10px).
If you want to change the size of the tab indicator to long, add the class `tabs--long` to the `tabs` element.

```html_example
<ul class="tabs">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>

<ul class="tabs tabs--long">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>
```

### Dark background
Tabs on dark background.

```html_example
<div class="bg bg--dark">
  <ul class="tabs">
    <li class="tab">
      <a class="tab-link">Tab one</a>
    </li>
    <li class="tab">
      <a class="tab-link active">Tab two</a>
    </li>
    <li class="tab">
      <a class="tab-link">Tab three</a>
    </li>
    <li class="tab">
      <a class="tab-link disabled">Tab four</a>
    </li>
  </ul>
</div>
```

#### Inverted tabs
Inverted tabs on dark background.

```html_example
<div class="bg bg--dark">
  <ul class="tabs tabs--inverted">
    <li class="tab">
      <a class="tab-link">Tab one</a>
    </li>
    <li class="tab">
      <a class="tab-link active">Tab two</a>
    </li>
    <li class="tab">
      <a class="tab-link">Tab three</a>
    </li>
    <li class="tab">
      <a class="tab-link disabled">Tab four</a>
    </li>
  </ul>
</div>
```

### More tabs options

#### Scrollable tabs
To make the tabs scrollable add the class `tabs--scrollable` to the `tabs` element.

```html_example
<ul class="tabs tabs--scrollable">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab four</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab five</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab six</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab seven</a>
  </li>
</ul>
```

#### Tabs with no Border
To remove the bottom border on the tabs add the class `tabs--no-border` to the `tabs` element.

```html_example
<ul class="tabs tabs--no-border">
  <li class="tab">
    <a class="tab-link active">Tab one</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab two</a>
  </li>
  <li class="tab">
    <a class="tab-link">Tab three</a>
  </li>
  <li class="tab">
    <a class="tab-link disabled">Tab four</a>
  </li>
</ul>
```
*/


// --------------------------------------------------


.tabs {
  position: relative;
  width: 100%;

  white-space: nowrap;

  border-bottom: $tabs-border solid $color-tabs-light-border;

  overflow-x: hidden;

  .tab {
    display: table-cell;

    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;

    .tab-link {
      @include typo-tabs-normal;

      display: block;

      padding: $tabs-spacing-normal $tabs-padding-short;

      color: $color-tabs-light-text;
      border-bottom: $tabs-bar-active solid transparent;

      // Hover and Focus styles
      // -------------------------

      &:hover,
      &:focus {
        color: $color-tabs-light-hover-text;
      }

      // Active and Disabled styles
      // -------------------------

      &.active {
        color: $color-tabs-light-hover-text;
        border-bottom: $tabs-bar-active solid $color-tabs-light-indicator;
      }

      &.disabled,
      &:disabled {
        @include font-smoothing;

        opacity: .4;
        color: $color-tabs-light-disabled-text;
        pointer-events: none;
      }
    }

    &--flyout {
      .flyout__indicator::before {
        right: calc(50% - 7px);
      }
    }
  }

  // Sizing styles
  // -------------------------

  &--small .tab .tab-link {
    @include typo-tabs-small;

    padding-top: $tabs-spacing-small;
    padding-bottom: $tabs-spacing-small;
  }

  &--big .tab .tab-link {
    @include typo-tabs-big;

    padding-top: $tabs-spacing-big;
    padding-bottom: $tabs-spacing-big;
  }

  // Tab styles
  // -------------------------

  &--long .tab .tab-link {
    padding-left: $tabs-padding-long;
    padding-right: $tabs-padding-long;
  }

  // No Border styles
  // -------------------------

  &--no-border {
    border-bottom: 0;
  }

  // Scrollable styles
  // -------------------------

  &--scrollable {
    overflow-x: auto;
  }
}

// Dark Background
// -------------------------

.bg--dark {
  .tabs {
    border-bottom-color: $color-tabs-dark-border;

    .tab .tab-link {
      @include font-smoothing;

      opacity: .7;
      color: $color-tabs-dark-text;
      border-bottom: $tabs-bar-active solid transparent;

      // Hover and Focus styles
      // -------------------------

      &:hover,
      &:focus {
        opacity: 1;
        color: $color-tabs-dark-hover-text;
        border-bottom: $tabs-bar-active solid transparent;
      }

      // Active and Disabled styles
      // -------------------------

      &.active {
        opacity: 1;
        color: $color-tabs-dark-hover-text;
        border-bottom: $tabs-bar-active solid $color-tabs-dark-indicator;
      }

      &.disabled,
      &:disabled {
        opacity: .4;
        color: $color-tabs-dark-disabled-text;
        pointer-events: none;
      }
    }

    // Inverted styles
    // -------------------------

    &--inverted {
      background: $color-white;
      border-bottom: 0;

      .tab .tab-link {
        @include default-font-smoothing;

        color: $color-tabs-dark-inverted-text;

        // Hover and Focus styles
        // -------------------------

        &:hover,
        &:focus {
          color: $color-tabs-dark-inverted-hover-text;
        }

        // Active and Disabled styles
        // -------------------------

        &.active {
          color: $color-tabs-dark-inverted-hover-text;
          border-bottom: $tabs-bar-active solid $color-tabs-dark-inverted-indicator;
        }

        &.disabled,
        &:disabled {
          opacity: .4;
          color: $color-tabs-dark-inverted-disabled-text;
          pointer-events: none;
        }
      }
    }
  }
}
