//
// Cards
// --------------------------------------------------

/*doc
---
title: Cards
name: 02-components-07-cards-01-cards
category: Components - Cards
---

<style>
  .exampleOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .exampleOutput .card {
    flex: 1 1 auto;
    margin: 12px;

    max-width: 440px;
  }

  .exampleOutput .bg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    flex: 1 1 auto;
  }

  .exampleOutput .card--upload-photos {
    max-width: 640px;
  }

  .exampleOutput .card--upload-files {
    max-width: 552px;
  }

  .exampleOutput .card--document {
    max-width: 420px;
  }

  @media only screen and (min-width: 768px) {
    .exampleOutput .bg {
      flex: 1 1 270px;
      margin: 0;
    }

    .exampleOutput .card {
      flex: 1 1 270px;
    }
  }
</style>

Cards are used to group and smaller pieces of contain content in page, and give them extra emphasis. Cards are colour coded based on the content they’re surfacing.

# How to use cards
Use cards to give content clearer separation from the rest of the content in page. With the addition of colour labelling, cards also helps to categorise content and makes wayfinding throughout products clearer.

# 8 column grid
All cards are built on an 8 column grid structure that helps make them flexible across different grid sizes. Content placed inside a card can change in size and padding to fit the variations in margin width and column width of the grid for the page that they're place inside.
Use class `row` and classes `col-1` to `col-8` for the card grid.
*/

/*doc
---
title: Clickable Cards
name: 02-components-07-cards-02-clickable
category: Components - Cards
---

Cards are by default not clickable. To make a card clickable add the class `card--clickable` to the card.

```html_example
<div class="card card--dark card--notification">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">Global roaming is now switched on</p>
</div>
<div class="card card--dark card--notification card--clickable">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">Global roaming is now switched on</p>
</div>
```
*/

/*doc
---
title: Corners
name: 02-components-07-cards-03-corners
category: Components - Cards
---

To change the corners of the card to rounded or not rounded, set the class `card--rounded` or `card--not-rounded` to the card.

```html_example
<div class="card card--dark card--notification card--image-top card--clickable card--rounded">
  <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
  <div class="card__body">
    <div class="card__header">
      <h1 class="align-left">Swisscom TV</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">We use our users’ data responsibly, to deliver relevant experiences.</p>
    <a href="javascript:void(0);" class="link">Find out more</a>
  </div>
</div>
<div class="card card--dark card--notification card--image-top card--clickable card--not-rounded">
  <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
  <div class="card__body">
    <div class="card__header">
      <h1 class="align-left">Swisscom TV</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">We use our users’ data responsibly, to deliver relevant experiences.</p>
    <a href="javascript:void(0);" class="link">Find out more</a>
  </div>
</div>
```
*/


/*doc
---
title: Colors
name: 02-components-07-cards-04-colors
category: Components - Cards
---

Cards can be colour coded to establish visual different between multiple card types within the same view.

```html_example
<div class="card card--dark card--notification card--clickable">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--blue">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--purple">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--turquoise">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--apple">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--iris">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--petrol">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>

<div class="card card--dark card--notification card--clickable card--pink">
  <div class="card__header">
    <h1 class="align-left">Data</h1>
    <h2 class="align-right">Today 13:21</h2>
  </div>
  <p class="card__text">We use our users data responsibly, to deliver relevant experiences.</p>
</div>
```
*/

/*doc
---
title: Notification Cards
name: 02-components-07-cards-05-notifications
category: Components - Cards
---

Notification cards have by default rounded corners. If you want the card to have no rounded corners add the class `card--not-rounded` to the card.

### General Notification Card

```html_example
<div class="bg bg--gray">
  <div class="card card--notification">
    <div class="card__header">
      <h1 class="align-left">Data</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">Global roaming is now switched on</p>
  </div>
</div>
<div class="bg bg--light">
  <div class="card card--dark card--notification">
    <div class="card__header">
      <h1 class="align-left">Data</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">Global roaming is now switched on</p>
  </div>
</div>
```

### Actionable Notification Cards

```html_example
<div class="bg bg--gray">
  <div class="card card--notification">
    <div class="card__header">
      <h1 class="align-left">Swisscom TV</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">Download Swisscom TV 2.0 app on phone to view all your TV stats and usage</p>
    <a href="javascript:void(0);" class="link">Swisscom TV 2.0</a>
  </div>
</div>
<div class="bg bg--light">
  <div class="card card--dark card--notification">
    <div class="card__header">
      <h1 class="align-left">Swisscom TV</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">Download Swisscom TV 2.0 app on phone to view all your TV stats and usage</p>
    <a href="javascript:void(0);" class="link">Swisscom TV 2.0</a>
  </div>
</div>
```

### Image Top Notification Card

```html_example
<div class="bg bg--gray">
  <div class="card card--notification card--image-top">
    <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
    <div class="card__body">
      <div class="card__header">
        <h1 class="align-left">Swisscom TV</h1>
        <h2 class="align-right">Today 13:21</h2>
      </div>
      <p class="card__text">We use our users’ data responsibly, to deliver relevant experiences.</p>
      <a href="javascript:void(0);" class="link">Find out more</a>
    </div>
  </div>
</div>
<div class="bg bg--light">
  <div class="card card--dark card--notification card--image-top">
    <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
    <div class="card__body">
      <div class="card__header">
        <h1 class="align-left">Swisscom TV</h1>
        <h2 class="align-right">Today 13:21</h2>
      </div>
      <p class="card__text">We use our users’ data responsibly, to deliver relevant experiences.</p>
      <a href="javascript:void(0);" class="link">Find out more</a>
    </div>
  </div>
</div>
```

### Image Bottom Notification Card

```html_example
<div class="bg bg--gray">
  <div class="card card--notification card--image-bottom">
    <div class="card__body">
      <div class="card__header">
        <h1 class="align-left">Swisscom TV</h1>
        <h2 class="align-right">Today 13:21</h2>
      </div>
      <p class="card__text">We use our users’ data responsibly, to deliver relevant experiences.</p>
      <a href="javascript:void(0);" class="link">Find out more</a>
    </div>
    <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
  </div>
</div>
<div class="bg bg--light">
  <div class="card card--dark card--notification card--image-bottom">
    <div class="card__body">
      <div class="card__header">
        <h1 class="align-left">Swisscom TV</h1>
        <h2 class="align-right">Today 13:21</h2>
      </div>
      <p class="card__text">We use our users’ data responsibly, to deliver relevant experiences.</p>
      <a href="javascript:void(0);" class="link">Find out more</a>
    </div>
    <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
  </div>
</div>
```

### Promo Notification Card

```html_example
<div class="bg bg--gray">
  <div class="card card--notification card--promo">
    <div class="card__header">
      <h1 class="align-left">Offers</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <img class="card__image" src="theme-build/img/samples/phones.png">
    <p class="card__text">Samsung Galaxy S6, 99 CHF monthly with our M tariff</p>
    <a href="javascript:void(0);" class="link">Find out more</a>
  </div>
</div>
<div class="bg bg--light">
  <div class="card card--dark card--notification card--promo">
    <div class="card__header">
      <h1 class="align-left">Offers</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <img class="card__image" src="theme-build/img/samples/phones.png">
    <p class="card__text">Samsung Galaxy S6, 99 CHF monthly with our M tariff</p>
    <a href="javascript:void(0);" class="link">Find out more</a>
  </div>
</div>
```

### Notes Notification Card

```html_example
<div class="bg bg--gray">
  <div class="card card--notification">
    <div class="card__header">
      <h1 class="align-left">Swisscom TV</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">Combine your NATEL® infinity subscription with NATEL® data. Your benefits: greater speeds and data volume with any device, regardless of the location. You also benefit automatically from a monthly discount.</p>
  </div>
</div>
<div class="bg bg--light">
  <div class="card card--dark card--notification">
    <div class="card__header">
      <h1 class="align-left">Swisscom TV</h1>
      <h2 class="align-right">Today 13:21</h2>
    </div>
    <p class="card__text">Combine your NATEL® infinity subscription with NATEL® data. Your benefits: greater speeds and data volume with any device, regardless of the location. You also benefit automatically from a monthly discount.</p>
  </div>
</div>
```
*/

/*doc
---
title: Upload Cards
name: 02-components-07-cards-06-upload
category: Components - Cards
---

Upload cards have by default not rounded corners. If you want the card to have rounded corners add the class `card--rounded` to the card.

### Uploaded Photos Card

```html_example
<div class="card card--dark card--upload-photos card--apple">
  <div class="card__header">
    Most recently uploaded photos
  </div>
  <div class="card__body">
    <div class="card__image">
      <img src="theme-build/img/samples/online_services.jpg"/>
    </div>
    <div class="card__image">
      <img src="theme-build/img/samples/online_services.jpg"/>
    </div>
    <div class="card__image">
      <img src="theme-build/img/samples/online_services.jpg"/>
    </div>
    <div class="card__image">
      <img src="theme-build/img/samples/online_services.jpg"/>
    </div>
  </div>
</div>
```

### Uploaded Files Card

```html_example
<div class="card card--dark card--upload-files card--apple">
  <div class="card__header">
    Recently uploaded files
  </div>
  <div class="card__body">
    <div class="card__item">
      <div class="row">
        <div class="col-5 center-vertical">
          <i class="card__item-icon icon icon--pdf icon-123-document-pdf" aria-hidden="true"></i>
          <div class="card__text">sdx_grid.pdf</div>
        </div>
        <div class="col-2">
          <div class="card__text">27.04.2016</div>
        </div>
        <div class="col-1">
          <div class="card__text text-align-right">12:28</div>
        </div>
      </div>
    </div>
    <div class="card__item">
      <div class="row">
        <div class="col-5 center-vertical">
          <i class="card__item-icon icon icon--word icon-122-document-word" aria-hidden="true"></i>
          <div class="card__text">sdx_grid.docx</div>
        </div>
        <div class="col-2">
          <div class="card__text">27.04.2016</div>
        </div>
        <div class="col-1">
          <div class="card__text text-align-right">12:28</div>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/

/*doc
---
title: Documents Cards
name: 02-components-07-cards-07-documents
category: Components - Cards
---

Document cards have by default not rounded corners. If you want the card to have rounded corners add the class `card--rounded` to the card.

### Documents Card

```html_example
<div class="card card--dark card--document card--turquoise">
  <div class="card__header">
    Documents
  </div>
  <div class="card__body">
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-7 center-vertical">
          <i class="card__item-icon icon icon--powerpoint icon-121-document-powerpoint" aria-hidden="true"></i>
          <div class="card__item-wrapper">
            <h1>Swisscom live erleben</h1>
            <p>26.03.2016</p>
          </div>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-7 center-vertical">
          <i class="card__item-icon icon icon--word icon-122-document-word" aria-hidden="true"></i>
          <div class="card__item-wrapper">
            <h1>Power Yoga</h1>
            <p>21.04.2016</p>
          </div>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-7 center-vertical">
          <i class="card__item-icon icon icon--excel icon-120-document-excel" aria-hidden="true"></i>
          <div class="card__item-wrapper">
            <h1>Swisscom Management Event</h1>
            <p>27.04.2016</p>
          </div>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-7 center-vertical">
          <i class="card__item-icon icon icon--pdf icon-123-document-pdf" aria-hidden="true"></i>
          <div class="card__item-wrapper">
            <h1>Swisscom live erleben</h1>
            <p>27.04.2016</p>
          </div>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-7 center-vertical">
          <i class="card__item-icon icon icon--word icon-122-document-word" aria-hidden="true"></i>
          <div class="card__item-wrapper">
            <h1>Swisscom live erleben</h1>
            <p>27.04.2016</p>
          </div>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="card__footer">
    <button class="link">
      Show more
    </button>
  </div>
</div>
```

### Travel Card

```html_example
<div class="card card--dark card--document card--pink">
  <div class="card__header">
    Travel
  </div>
  <div class="card__body">
    <div class="card__item">
      <div class="card__travel-station">
        <h1>Next trains</h1>
        <p>from <strong>Bern Station</strong></p>
      </div>
    </div>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-1">
          <i class="card__item-icon icon icon-097-suitcase" aria-hidden="true"></i>
        </div>
        <div class="col-3 card__travel-time">
          <p>in 5 min</p>
          <h1>17:45</h1>
        </div>
        <div class="col-3 card__travel-direction">
          <p>IR 2529 nach</p>
          <h1>Luzern</h1>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-1">
          <i class="card__item-icon icon icon-097-suitcase" aria-hidden="true"></i>
        </div>
        <div class="col-3 card__travel-time">
          <p>in 5 min</p>
          <h1>17:45</h1>
        </div>
        <div class="col-3 card__travel-direction">
          <p>IR 2529 nach</p>
          <h1>Luzern</h1>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-1">
          <i class="card__item-icon icon icon-097-suitcase" aria-hidden="true"></i>
        </div>
        <div class="col-3 card__travel-time">
          <p>in 5 min</p>
          <h1>17:45</h1>
        </div>
        <div class="col-3 card__travel-direction">
          <p>IR 2529 nach</p>
          <h1>Luzern</h1>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
    <a class="card__item" href="javascript:void(0);">
      <div class="row center-vertical">
        <div class="col-1">
          <i class="card__item-icon icon icon-097-suitcase" aria-hidden="true"></i>
        </div>
        <div class="col-3 card__travel-time">
          <p>in 5 min</p>
          <h1>17:45</h1>
        </div>
        <div class="col-3 card__travel-direction">
          <p>IR 2529 nach</p>
          <h1>Luzern</h1>
        </div>
        <div class="col-1 text-align-right">
          <div class="card__item-detail">
            <i class="icon icon-015-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
```
*/

/*doc
---
title: News Cards
name: 02-components-07-cards-08-news
category: Components - Cards
---

The news card is available in the default and the *dark* style.

```html_example
<div class="bg bg-light">
  <div class="card card--news">
  <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
    <div class="card__body">
      <div class="card__header"><a class="align-left link" href="javascript:void(0);">Swisscom TV</a></div>
      <h4 class="card__title">Card 11</h4>
      <p class="text-b2 card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <div class="card__tray">
        <div class="tray-item"><i class="icon icon-043-heart" aria-hidden="true"></i><span class="count">9</span></div>
        <div class="tray-item"><i class="icon icon-080-speech-bubble" aria-hidden="true"></i><span class="count">11</span></div>
        <div class="tray-item"><i class="icon icon-082-star" aria-hidden="true"></i><span class="count">4</span></div>
      </div>
    </div>
  </div>
</div>
<div class="bg bg--gray">
  <div class="card card--news card--dark">
    <div class="card__image" style="background-image:url('theme-build/img/samples/online_services.jpg')"></div>
    <div class="card__body">
      <div class="card__header"><a class="align-left link" href="javascript:void(0);">Swisscom TV</a></div>
      <h4 class="card__title">Card 11</h4>
      <p class="text-b2 card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      <div class="card__tray">
        <div class="tray-item"><i class="icon icon-043-heart" aria-hidden="true"></i><span class="count">9</span></div>
        <div class="tray-item"><i class="icon icon-080-speech-bubble" aria-hidden="true"></i><span class="count">11</span></div>
        <div class="tray-item"><i class="icon icon-082-star" aria-hidden="true"></i><span class="count">4</span></div>
      </div>
    </div>
  </div>
</div>
```
*/

// --------------------------------------------------


.card {

  // Setup 8 column grid system in Cards
  // -------------------------

  .row {
    @include make-card-row($card-grid-gutter);
  }

  @include make-card-columns($card-grid-columns, $card-grid-gutter);


  // Base Styles
  // -------------------------

  position: relative;

  width: 100%;

  margin-left: auto;
  margin-right: auto;

  padding: 30px 24px;

  background: $color-card-bg;

  color: $color-gray;

  overflow: hidden;

  transition: background 200ms $standard-easing;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background: $color-card-navy;
  }

  .card__header {
    @include typo-headline-5;
    @include font-semi-light;
  }

  .card__footer {
    padding: 24px;
  }

  .card__text {
    @include typo-body-1;
    margin: 0;
  }

  .link::before {
    content: '';
    display: block;
    margin-top: 4px;
  }


  // Card Variant Styles
  // -------------------------

  &--dark {
    background: $color-card-gray-bg;
  }


  // Clickable Card Styles
  // -------------------------

  &.card--clickable {
    cursor: pointer;

    &:hover {
      background: $color-card-bg--active;

      &.card--dark {
        background: $color-card-gray-bg--active;
      }
    }
  }


  // Card Styles
  // --------------------------------------------------

  // Notification Styles
  // -------------------------

  &--notification {
    padding: 12px 16px 20px;

    border-radius: $card-border;

    .card__header {
      @include clearfix;

      h1,
      h2 {
        @include typo-small;
        margin-bottom: 4px;
      }

      h1 {
        @include font-semi-bold;
      }

      h2 {
        @include font-semi-light;
        color: $color-gray-mid;
      }
    }
  }


  // Image Styles
  // -------------------------

  &--image-top,
  &--image-bottom {
    padding: 0;

    &::before {
      content: none;
    }

    .card__image {
      position: relative;

      width: 100%;
      height: $card-image-height;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      overflow: hidden;

      // filter would be the nice solution, but IE 10 and 11 is not supporting it :(
      // so we use a ::before element with a black background
      //filter: brightness(1);

      &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba($color-black, .1);

        opacity: 0;

        transition: opacity 200ms $standard-easing;
      }
    }

    .card__body {
      position: relative;

      padding: 12px 16px 20px;

      &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 4px;

        background: $color-card-navy;
      }
    }
  }

  &--image-top {
    .card__image::before {
      border-radius: $card-border $card-border 0 0;
    }

    &.card--clickable {
      &:hover {
        // filter would be the nice solution, but IE 10 and 11 is not supporting it :(
        //.card__image {
        //  filter: brightness(.9);
        //}

        .card__image::before {
          opacity: 1;
        }
      }
    }
  }

  &--image-bottom {
    .card__image::before {
      border-radius: 0 0 $card-border $card-border;
    }

    &.card--clickable {
      &:hover {
        // filter would be the nice solution, but IE 10 and 11 is not supporting it :(
        //.card__image {
        //  filter: brightness(.9);
        //}

        .card__image::before {
          opacity: 1;
        }
      }
    }
  }

  // Promo Styles
  // -------------------------

  &--promo {
    .card__image {
      display: block;

      max-width: 100%;

      margin: 0 auto;

      opacity: 1;

      transition: opacity 200ms $standard-easing;
    }

    &.card--clickable {
      &:hover {
        .card__image {
          // filter would be the nice solution, but IE 10 and 11 is not supporting it :(
          // so we use opacity to fade the image slightly
          // filter: brightness(.9);

          opacity: .95;
        }
      }
    }
  }


  // Upload Styles
  // -------------------------

  &--upload-photos {
    padding-top: 23px;
    padding-bottom: 24px;

    border-radius: 0;

    .card__header {
      padding-bottom: 25px;
    }

    .card__body {
      display: flex;
      overflow: hidden;
    }

    .card__image {
      &:not(:last-child) {
        margin-right: 20px;
      }

      img {
        display: block;

        width: auto;
        height: 103px;
      }
    }
  }

  &--upload-files {
    padding: 0;

    border-radius: 0;

    .card__header {
      padding: 25px 24px 21px;
      border-bottom: 1px solid $color-aluminum;
    }

    .card__item {
      @include typo-body-1;

      padding: 21px 24px 22px;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $color-aluminum;
      }

      .card__item-icon {
        margin-right: 6px;

        float: left;
        font-size: 30px;
      }

      .card__text {
        @include text-truncate;
      }
    }
  }

  // Document Styles
  // -------------------------

  &--document {
    padding: 0;

    border-radius: 0;

    a {
      margin: 0;
      color: inherit;
      border-bottom: inherit;

      .card__item-detail {
        color: $color-int-blue;
      }

      &:hover {
        .card__item-detail {
          color: $color-int-blue--active;
        }
      }
    }

    .card__header {
      @include typo-headline-4;
      @include font-light;

      padding: 22px 24px 17px;
      border-bottom: 1px solid $color-aluminum;
    }

    .card__footer {
      border-top: 1px solid $color-aluminum;

      text-align: center;
    }

    .card__item {
      @include typo-body-1;

      display: block;

      padding: 15px 24px 16px;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $color-aluminum;
      }

      .card__item-icon {
        margin-top: 1px;
        margin-right: 6px;

        float: left;
        font-size: 30px;
      }

      .card__item-detail {
        font-size: 21px;

        .icon {
          @include font-semi-bold;
        }
      }

      .card__item-wrapper {
        overflow: hidden;
      }

      h1,
      p {
        @include text-truncate;
        margin: 0;
      }

      h1 {
        @include font-semi-bold;

        line-height: 22px;
        letter-spacing: 0;
        font-size: 16px;
      }

      p {
        line-height: normal;
        letter-spacing: .1px;
        font-size: 14px;

        color: $color-gray-mid;
      }
    }

    // Travel Styles
    // -------------------------

    .card__travel {
      &-station {
        h1 {
          @include typo-headline-4;
          @include font-light;

          color: $color-gray-mid;
        }

        p {
          @include typo-body-1;
          @include font-light;

          color: $color-gray-mid;

          strong {
            @include font-semi-bold;
            color: $color-gray;
          }
        }
      }

      &-time {
        h1 {
          @include typo-headline-4;
          @include font-light;

          color: $color-gray;
        }

        p {
          @include typo-body-2;
          @include font-semi-light;

          color: $color-gray-mid;
        }
      }

      &-direction {
        h1 {
          @include typo-body-2;
          @include font-semi-bold;

          color: $color-gray;
        }

        p {
          @include typo-body-2;
          @include font-semi-light;

          color: $color-gray-mid;
        }
      }
    }
  }

  // News Styles
  // -------------------------

  &--news {
    padding: 0;

    &::before {
      content: none;
    }

    .card__image {
      position: relative;

      width: 100%;
      height: $card-image-news-height;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;

      overflow: hidden;
    }

    .card__header {
      @include clearfix;

      h2,
      p,
      a {
        @include typo-body-2;
      }
    }

    .card__body {
      position: relative;

      padding: 7px 16px 12px;

      .card__title {
        @include typo-headline-4;
        @include font-semi-light;

        margin-bottom: 5px;
      }

      .card__text {
        @include typo-body-2;
        @include font-semi-light;
      }
    }

    .card__tray {
      width: 100%;
      margin-top: 20px;

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .tray-item {
      position: relative;
      margin-right: 30px;

      .icon {
        color: $color-int-blue;
        font-size: 24px;
      }

      .count {
        @include font-semi-light;

        position: absolute;
        top: -4px;

        font-size: 12px;
        color: $color-gray;
      }
    }
  }

  // News Dark Style
  // -------------------------

  &--dark {
    &.card--news {
      @include font-smoothing;

      background: $color-navy;
      color: $color-white;

      .tray-item {
        .count {
          color: $color-int-blue;
        }
      }
    }
  }

  // Border Radius Option
  // -------------------------

  &--rounded {
    border-radius: $card-border;
  }

  &--not-rounded {
    &,
    .card__image::before {
      border-radius: 0;
    }
  }


  // Card Color
  // -------------------------

  &--navy::before {
    background: $color-card-navy;
  }

  &--blue::before {
    background: $color-card-blue;
  }

  &--purple::before {
    background: $color-card-purple;
  }

  &--turquoise::before {
    background: $color-card-turquoise;
  }

  &--apple::before {
    background: $color-card-apple;
  }

  &--iris::before {
    background: $color-card-iris;
  }

  &--petrol::before {
    background: $color-card-petrol;
  }

  &--pink::before {
    background: $color-card-pink;
  }
}
