<template>
  <div class="card card--dark" :class="[getCardBoarder]">
    <div class="card__header">
      <h1 class="card-title">{{item.product_description}}</h1>
    </div>
    <div class="card__body card-body-height card--blue">
      <div class="progress_container">
        <div class="progress_text">
          <div class="progress_circle_success"></div>
          <p class="progress_title">Order</p>
        </div>
        <div class="progress_line_success"></div>
        <div class="progress_text">
          <div :class="[getProcessingClass]"></div>
          <p class="progress_title">Processing</p>
        </div>
        <div :class="[getCompletedLineClass]"></div>
        <div class="progress_text">
          <div :class="[getCompletedClass]"></div>
          <p class="progress_title">{{getCompletedText}}</p>
        </div>
      </div>
      <div class="card__body__main">
        <div class="router_image" v-on:click="clearLocalStorage()"></div>
        <div class="order_text">
          <i class="icon icon-012-check-mark-circle" aria-hidden="true"></i>
          <p>{{getMainText}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./Ordercard1.js"></script>
<style src="./Ordercard1.scss" lang="scss" scoped></style>
