@import '../../assets/scss/general';

// .card--completed {
//   background: $color-int-green !important;
// }

// .card--progress {
//   background: $color-int-orange !important;
// }

// .card--failed {
//   background: $color-int-red--active !important;
// }
// .card--rejected {
//   background: $color-int-red !important;
// }
// .card-container {
//   position: relative;
// }

.card {
  min-height: 550px;
}

.card-title {
  margin-bottom: 60px;
  font-size: 32px;
  color: $color-navy;
}

.card-subtitle {
  font-size: 32px;
  margin-bottom: 5px;
  color: $color-navy;
}

.order-button {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.price-title {
  margin-bottom: 2px;
}

.perMth {
  font-size: 18px;
}

.card-item-border {
  width: 100%;
  color: $color-gray-40;
  border-top: 1px solid $color-gray-40;
  position: relative;
  padding: 1px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.progress_circle {
  border-radius: 50%;
  background-color: $color-gray-20;
  width: 20px;
  height: 20px;
  margin: 5px;
}
.progress_circle_success {
  border-radius: 50%;
  background-color: $color-int-green;
  width: 20px;
  height: 20px;
  margin: 5px;
}
.progress_circle_in_progress {
  border-radius: 50%;
  background-color: $color-int-orange;
  width: 20px;
  height: 20px;
  margin: 5px;
}
.progress_circle_failed {
  border-radius: 50%;
  background-color: $color-int-red--active;
  width: 20px;
  height: 20px;
  margin: 5px;
}
.progress_circle_rejected {
  border-radius: 50%;
  background-color: $color-int-red;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.progress_line {
  border-right: 90px solid $color-gray-20;
  height: 3px;
  width: 90px;
  margin-top: 13px;
}
.progress_line_success {
  border-right: 90px solid $color-int-green;
  height: 3px;
  width: 90px;
  margin-top: 13px;
}
.progress_line_failed {
  border-right: 90px solid $color-int-red--active;
  height: 3px;
  width: 90px;
  margin-top: 13px;
}
.progress_line_rejected {
  border-right: 90px solid $color-int-red;
  height: 3px;
  width: 90px;
  margin-top: 13px;
}

.progress_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.progress_title {
  position: absolute;
}

.card__body__main {
  display: flex;
  height: 300px;
  flex-wrap: nowrap;
  flex-direction: row;
  .router_image {
    background-image: url('../../assets/img/router.jpg');
    width: 300px;
    background-size: cover;
    background-position: center;
  }

  .order_text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 32px;
    color: $color-navy;
    max-width: 600px;
    margin-top: 80px;

    .icon {
      font-size: 32px;
      line-height: 1.3;
      margin-right: 5px;
    }

    p {
      font-size: 32px;
      line-height: 1.3;
    }
  }
}

.bottom_buttons {
  bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin: 5px;
  }
}

.hydrated {
  position: absolute;
  right: 0;
  z-index: 99;
}
