//
// Button Group
// --------------------------------------------------

/*doc
---
title: Button Group
name: 02-components-01-button-10-group
category: Components - Buttons
---
Use the button group for grouping buttons together in a container.

```html_example
<div class="button-group button-group--left">
  <button class="button button--primary" type="submit">Button</button>
  <button class="button button--secondary" type="submit">Button</button>
</div>
```

You can set the postion of the button group to the left or right.

```html_example
<!-- Left button group -->
<div class="button-group button-group--left">
  <button class="button button--primary" type="submit">Button</button>
  <button class="button button--secondary" type="submit">Button</button>
</div>

<!-- Right button group -->
<div class="button-group button-group--right">
  <button class="button button--primary" type="submit">Button</button>
  <button class="button button--secondary" type="submit">Button</button>
</div>
```

To fill a container with buttons add the class `button-group--fill`.

```html_example
<!-- Full width button group -->
<div class="button-group button-group--fill">
  <button class="button button--primary" type="submit">Button</button>
  <button class="button button--secondary" type="submit">Button</button>
</div>
```
*/


// --------------------------------------------------

$button-group-margin-v: $button-margin-vertical / 2;
$button-group-margin-h: $button-margin-horizontal / 2;

// --------------------------------------------------


// Base styles
// -------------------------

.button-group {
  display: flex;

  margin: (-$button-group-margin-v) (-$button-group-margin-h);

  flex-wrap: wrap;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--fill {
    @include bp-sm {
      flex-wrap: nowrap;
    }

    .button {
      width: 100%;
      min-width: 0;

      flex: 0 1 auto;
    }
  }

  // style buttons in group
  .button {
    margin: $button-group-margin-v $button-group-margin-h;
  }
}


// Vertically space out multiple button goups

.button-group + .button-group {
  margin-top: $button-group-margin-v;
}
