//
// Empty-States
// --------------------------------------------------

/*doc
---
title: Empty states
name: 03-patterns-03-empty-states-01
category: Patterns - Empty States
---

Empty states are intend to prompt a user to interact in various different ways with our products.
The icon, messaging and CTA’s are a constant feature that are interchangeable depending on its intended purpose.

## How to use empty states
Use empty states on user generated content products to prompt the interaction of users.
They should use text, iconography and button CTAs to encourage user participation.
There's also used to help clarify that pages and products have loaded successfully.

The empty state uses the form `<input type="file">` element for handling files. You can specify the
allowed file types for the file picker on mobile by setting the `mime-type` in the `accept` attribute.
For more information see [HTML DOM Input FileUpload Object](http://www.w3schools.com/jsref/dom_obj_fileupload.asp).

Make sure to validate the file-type before uploading the files.

For the `EmptyState` component to be dispalyed properly
make sure to either set the attribute `data-init="auto"` on the component, or the initialize it using the JavaScript API.

<style>
  .exampleOutput .empty-state__bg {
    width: 100%;
    height: 100%;
  }

  .exampleOutput .empty-state {
    position: inherit;
    width: 100%;
    height: 100%;
  }

  .exampleOutput .empty-state .container {
    width: auto;
  }
</style>

**Note:** *Drag and drop does* **not work in the sample below**, *it is presented for reference only.
For a fully functional version see the samples under Variations.*

```html_example
<div class="empty-state__bg"></div>
<div class="empty-state" aria-hidden="true">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="empty-state__input">
            <div class="empty-state__icon">
                <i class="icon icon-155-photo-camera" aria-hidden="true"></i>
            </div>
            <div class="empty-state__body">
                <div class="body__status">You haven’t uploaded any pictures yet</div>
                <div class="body__cta">Drag pictures into the browser window to start uploading</div>
            </div>
            <div class="empty-state__footer">
                <input type="file" id="emptystate" multiple accept="image/*">
                <label class="button button--primary" for="emptystate">Upload</label>
            </div>
        </div>
    </form>
</div>
```

## Variations

### Full screen empty states
Empty states can take over the whole screen in a product to prompt the user to complete an action.
In this example, the empty state is explaining how to upload a file.

[samples/empty-state](/samples/empty-state.html)

### Empty states in modals
Modals can also be used to provide an empty state prompt to the user.
A modal empty state is useful where space is more limited within a product.

[samples/empty-state-modal](/samples/empty-state-modal.html)
*/

// Empty State
// --------------------------------------------------

.empty-state {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  input[type='file'] {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label {
    margin-top: 36px;
    min-width: 206px;
  }

  &__icon {
    width: 100%;
    margin-top: -10px;

    color: $color-gray-20;
    font-size: 230px;
    text-align: center;

    transition:
      color 300ms $standard-easing,
      transform 300ms $standard-easing;
  }

  &__body {
    @include typo-body-1;
    @include font-semi-light;

    color: $color-gray;
    text-align: center;

    @include bp-tablet {
      @include typo-headline-4;
    }

    .body__status {
      transition:
        visibility 300ms $standard-easing,
        opacity 300ms $standard-easing;

      @include bp-tablet {
        @include font-semi-bold;
      }
    }

    .body__cta {
      display: none;
      margin-bottom: 0;

      @include bp-tablet {
        display: inline;
      }
    }
  }

  &__footer {
    text-align: center;

    transition:
      visibility 300ms $standard-easing,
      opacity 300ms $standard-easing;
  }

  &.is-active {
    @include bp-tablet {
      z-index: $zindex-empty-state + 1;
    }

    form {
      pointer-events: none;
    }

    .empty-state__icon {
      color: $color-int-blue;

      transform: scale(1.025);
    }

    .empty-state__footer {
      visibility: hidden;
      opacity: 0;
    }

    .body__status {
      opacity: 0;
    }
  }

  &.has-files .body__status {
    visibility: hidden;
    opacity: 0;
  }
}


// Empty State as modal
// --------------------------------------------------

.empty-state--modal {
  position: relative;
  width: auto;
  height: auto;

  pointer-events: none;

  label {
    pointer-events: auto;
  }
}


// Empty State Bg
// --------------------------------------------------

.empty-state__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: $color-white;
}


// Empty State Border
// --------------------------------------------------

.empty-state__border {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 10px solid $color-int-blue;
  box-sizing: border-box;

  background: rgba($color-white, .8);

  visibility: hidden;
  opacity: 0;

  z-index: $zindex-empty-state;

  pointer-events: none;

  transition:
    visibility 300ms $standard-easing,
    opacity 300ms $standard-easing;

  &--modal {
    position: absolute;
    pointer-events: none;
    background: none;
  }

  &.is-active {
    @include bp-tablet {
      visibility: visible;
      opacity: 1;
    }
  }
}
